[2016-05-25 10:59] duncan-brown commented on #857
@stevereyes01 @tdent @lppekows the work around until I or Soumi get chance to fix this is to say ``no`` I don't have the ROMs and ``no`` I don't want to download them. Then the script will skip the ROM check. Once the install is completed, add the line
[code]
at the end of your ``bin/activate`` script for the virtual environment.

[2016-05-25 13:06] tdent opened #869 "Install script should offer to remove (overwrite) existing virtualenv dir"
If the install script encounters the situation that the virtualenv location already exists, it requires the user to terminate the script, delete the directory and start again from scratch if it is desired to overwrite the existing location.  It would be a lot more convenient to offer the option of deleting the directory (with, of course, lots of warnings ..) and continuing with the script.

[2016-05-25 16:01] duncan-brown opened #874 "Pegasus replica selector should just select by URI not URL"
The  selection of the file can be made more robust in ```pycbc/workflow/pegasus_files/pegasus-properties.conf``` by removing the fragment of the URL from the selector and just selecting on the URI type. This says try file, then XrootD, then gsiftp and is agnostic to the actual URL. I also think this is what is breaking the compute PSD jobs. The code should read

[code]

[2016-05-25 16:36] lppekows commented on #874
Agreed, this makes more sense (and also anticipates the move to file:///cvmfs/...)

[2016-05-26 11:47] duncan-brown opened #876 "Release instructions are incorrect as branches should not normally be created"
The commit https://github.com/ligo-cbc/pycbc/commit/195e324fc495239bc2313d120ac0179bf473a6e3 added instructions to create a branch for a release and cherry pick commits to it. This should only be done in the case of backporting a patch to an old release, not for general releases which should be done from master.

[2016-05-30 11:10] cdcapano opened #883 "Cannot use workflow config parser without pegasus installed"
If I try to import pycbc.workflow.WorkflowConfigParser on my laptop I get an import error because I do not have pegasus installed. This is a problem if I want to run pycbc_mcmc on my laptop, which uses WorkflowConfigParser. I suppose we could just have pycbc_mcmc use ConfigParser, however, this seems like a bug in the workflow module. There is nothing in WorkflowConfigParser that requires pegasus;

[2016-05-30 11:22] spxiwh commented on #883
Try:

[code]

?

[2016-05-30 11:30] cdcapano commented on #883
That doesn't work. The problem is in workflow's __init__.py, a bunch of modules are imported that try to import pegasus. Even if you try to import the class directly, workflow's __init__.py gets called. Also, WorkflowConfigParser uses resolve_url which lives in workflow.core; workflow.core imports pegasus.

I think __init__.py needs to adjusted so that modules that require Pegasus are stuck in a t

[2016-05-30 12:06] duncan-brown commented on #883
You missed this step from the install instructions:
[code]
(Note the instructions are out of date as it gives an old version, but the part that gets imported hasn't changed).

[2016-05-30 12:20] ahnitz commented on #883
@duncan-brown This is a legitimate issue. Pegasus *should not* be a requirement for executable use.

[2016-05-30 12:21] ahnitz commented on #883
@cdcapano What we should do is hide some of the imports better in this case, so some of the configparser utilities can be used.

[2016-05-30 12:28] duncan-brown commented on #883
@ahnitz ok, didn't read the thread properly. Sounds like this is in the config parsing code, so I'll assign to you.

[2016-05-31 08:56] cdcapano commented on #883
@duncan-brown BTW, I tried installing Pegasus as you suggested, but it fails on my system. The problem is Apple no longer includes OpenSSL headers in El Capitan. Apparently the only work around is to use the homebrew installation of OpenSSL; see:
https://jira.isi.edu/browse/PM-997
However, I tried installing OpenSSL and it still didn't work. Not sure what I did wrong. Either way, installing Pegasu

[2016-05-31 15:28] cdcapano commented on #883
Closing; fixed by patch #884.

[2016-05-31 15:28] #883 closed

[2016-06-03 17:34] cmbiwer opened #897 "Requests for the inference executables and modules"
A list of requests from Collin for the inference executables and modules.
- [x] Can you add an attribute to the output file that gives how many points were used for the burn in? The only way to do this now is to see how long the chain is and subtract from that the number of iterations that were requested.
- [x] Along those lines, have pycbc_mcmc_plot_corner, pycbc_mcmc_plot_acf, table_summary, etc

[2016-06-07 20:44] cmbiwer commented on #897
I've marked off the first items from the checklist from #903 and #904.

"Have pycbc_mcmc dump the MCMC chain to the output file after a certain number of iterations."

I have a branch to do this. I'm running a workflow and will submit the PR if it looks sane.

[2016-06-09 18:36] cmbiwer commented on #897
#907 and #908 take care of two more items once they're merged.

[2016-06-13 16:37] duncan-brown opened #910 "Automated documentation build on sugar is broken"
[code]

[2016-06-14 14:35] stevereyes01 commented on #869
See https://github.com/ligo-cbc/pycbc/pull/902.

[2016-06-17 18:26] cmbiwer commented on #897
I believe #926 does what is requested here.

[2016-06-21 13:26] ahnitz opened #930 "kombine versoin on pyipi too old"
The version of kombine on pypi which is installed by pycbc is too old, requiring an install from source.

[2016-06-21 13:28] cdcapano commented on #930
Here's what happens: if you install pycbc, then try to run pycbc_inference, you'll get the following error:

``
 File "/home/cdcapano/venvs/pycbc-master/local/lib/python2.7/site-packages/PyCBC-f85e99-py2.7.egg/pycbc/inference/sampler.py", line 101, in __init__
    transd=transd, processes=processes)
TypeError: __init__() got an unexpected keyword argument 'transd'
``

If you then re-install kombin

[2016-06-22 16:56] cmbiwer commented on #930
I haven't been able to reproduce this.

So I login to atlas2:
[code]

Then open up ipython and the docstring shows:
[code]

I can see it in the module that was installed too.

The version of kombine installed was:
[code]

Do you have a path to your virtualenv?

[2016-06-22 20:09] cmbiwer commented on #930
I also tried building pycbc from the ``install_pycbc.sh`` script on sugar-dev3 to see what I'd get since I haven't build a new virtualenv in awhile. The script failed compiling ``lalapps_inspinj`` with:
[code]

So how are you all building this?

[2016-06-22 20:15] cmbiwer commented on #930
Soumi just told me that we can no longer build the O1 release (``lalsuite-v6.36``)... So I guess I'll try a newer release.

[2016-06-22 22:52] duncan-brown commented on #930
@cmbiwer it's possible to use the install script to build the O1 branch if you comment out the lines that do the ``#Build a static lalapps_inspinj and install it``

It's on my list to fix this, but I haven't had chance.

[2016-06-22 23:15] cmbiwer commented on #930
@duncan-brown Thanks for letting me know, I'll keep that in mind.

@cdcapano @ahnitz I just built pycbc with the install script in a new virtualenv and it installed kombine v0.5.0 just like pip, and I was able to run ``pycbc_inference``.

[2016-06-23 14:36] cmbiwer commented on #897
Just as an update on what's happening with the inference tasks above. I think the last feature I'm going to work on for now is data reuse for ``pycbc_inference``, ie. take an old HDF and continue sampling from where it left off.

Then I want to get an example run of recovering a CBC signal and while that's running write some docs pages.

The rest of the things on our lists above are either things

[2016-06-24 11:43] cdcapano commented on #930
Ok, after digging into this some more, the problem appears to be that the version numbering history of kombine is a bit messed up. At some point in the past there was a version called "1.1" that is actually older than the current version, which is 0.6.4. See:
https://www.versioneye.com/python/kombine/0.6.4
Click on the "show all" button in the box on the right, and you'll see the version history.

[2016-06-24 11:59] cdcapano commented on #930
I figured out how I get kombine 1.1. If you have no kombine installed prior to running `pycbc's setupy.py`, then it ends up downloading 1.1 from pypi. I found this by uninstalling kombine from my virtual environment:
[code]
Then re-installing pycbc, I see in the output:
[code]
So anyone doing a fresh install of pycbc without a prior install of kombine is going to run into this. @ahnitz @duncan-bro

[2016-06-27 15:02] ahnitz opened #945 "pycbc_condition_strain cannot be read by FrChannels"
We are noticing some problems reading the output of pycbc_condition_strain. In particular the following scripts outputs a file which cannot be read by FrChannels nor pycbc_inspiral.

[code]

[code]

Is anyone else able to reproduce this issue?

[2016-06-27 15:10] cdcapano opened #946 "How to display latex math on our results pages?"
The table summary code in pycbc/inference can output parameter labels and values in LaTeX, to allow for more human-readable results on our results pages. To get these to render correctly, we need some way to convert LaTeX to html.

Currently, we have a function in `str_utils` (`latex_to_html`) that tries to do latex to html conversion, but I don't think this is going to work. Already, I'm running

[2016-06-27 15:27] cmbiwer commented on #946
So I did a test with MathJax and it doesn't seem to have the same security problem that the other CDN's I've used before did at the sites, ie. it rendered for other users. So my initial concern doesn't seem to be a problem here.

I think like a week or so ago, I also stripped down the library and it is fairly large as you say.

To be honestly though I think that table just looks really ugly now an

[2016-06-27 15:37] titodalcanton commented on #945
I know Bernd has been able to produce SFTs out frame files written by pycbc_condition_strain. Did you try feeding the file to utilities like FrDump, framedump, framecpp_verify etc?

[2016-06-27 15:42] cmbiwer commented on #945
@ahnitz I see the same issue.

@titodalcanton ``FrDump`` has a failure.

[2016-06-27 15:45] titodalcanton commented on #945
Can you also try reading one of the frame files on Atlas in this directory: `~/projects/pycbc/frame_gating_for_map/all_o1/output_strain`. Those are also genereated by pycbc_condition_strain.

[2016-06-27 15:52] cmbiwer commented on #945
Using a smaller set of data (2048 seconds) I'm able to use ``FrChannels`` on the output file of ``pycbc_condition_strain``.

[2016-06-27 15:52] titodalcanton commented on #945
FrChannels seems to work on my frame files at the path indicated above.

[2016-06-27 17:54] cmbiwer opened #948 "InferenceFile.read_samples_from_walkers without walkers option has unknown organization"
So I don't really understand the output of ``InferenceFile.read_samples_from_walkers`` when ``walkers=None``. And this is used by ``InferenceFile.read_samples``.

So before ``InferenceFile.read_samples_from_walker`` returned a ``numpy.array`` with shape (niterations,), modulo any thinning options.

Before #940 ``InferenceFile.read_samples`` returned a (nwalkers,niterations) array. I had a branch t

[2016-06-28 13:34] cdcapano commented on #948
Hi Chris,

Yes, the output array has shape (500,). In a record array (which is what `WaveformArray` inherits from, via `FieldArray`), parameters are not stored as extra dimensions, but as a 1 dimensional array in which each element has multiple fields. The equivalent in C would be a linked list of structures.

So, in the case you gave above, `past_samples` has a field for each variable arg. Say th

[2016-06-28 13:47] cmbiwer commented on #948
Hey Collin thanks for the explaination on that.

I guess it just means if we want to get the walkers' samples we will write the loop https://github.com/ligo-cbc/pycbc/blob/master/bin/inference/pycbc_inference_plot_samples#L69 instead of something like ``past_samples[:,i,j]``. Its probably simpler than working with the 2-D array.

I guess I don't see the reason for the ``InferenceFile.read_samples`

[2016-06-30 09:26] cdcapano commented on #948
Yeah, I think that's a good idea. Do you want to submit a patch to do that?

[2016-06-30 14:11] cmbiwer commented on #948
Hey Collin, sure I'll make a PR. After I submit the PR, I'll close this issue.

[2016-06-30 14:49] cmbiwer commented on #948
#954 renames ``InferenceFile.read_samples_from_walkers``.

[2016-06-30 14:49] #948 closed

[2016-07-11 15:10] titodalcanton commented on #945
Confirmed, the problem only happens when `--sample-rate` is either not specified or set to 16384. The resulting frame file is suspiciously small and it makes `framecpp_query` segfault. Will take a look at what's going on in `pycbc_condition_strain`.

[2016-07-11 18:17] titodalcanton commented on #945
I also found that either using `--single` or processing a shorter amount of time produces correct frames even at the original sample rate. `pycbc_condition_strain` and `pycbc/frame.py` seem to be doing the right thing. The problem seems to be a bug in lalframe related to how much data is being written...

[2016-07-11 20:44] titodalcanton commented on #945
I wrote a small test script to reproduce the issue and posted the problem on Redmine:

https://bugs.ligo.org/redmine/issues/4484

[2016-07-25 08:48] spxiwh commented on #766
With no further input on this, and no other reports on this happening, I'm closing this now. If this is still happening please provide an example I can run to reproduce the error.

[2016-07-25 08:48] #766 closed

[2016-07-25 15:44] spxiwh commented on #683
Coming back to this one now. I think there were a few issues with this code when `--vary-fupper` is used. I think I've identified all of these issues now and have a working code locally. I'll try and open a PR with these changes tomorrow. I've cleared up the help message around the various fupper options, but have not changed the behaviour. Feel free to improve that (both here and in aligned_stoch

[2016-07-26 15:08] tdent commented on #683
Hi Ian, if you are now able to run the bank verification code successfully and the help messages are improved then I think the issue can be closed.
BTW, in the doc page http://galahad.aei.mpg.de/~spxiwh/pycbc_docs/tmpltbank.html the --help options are failing, I presume due to some local build issues.

[2016-07-26 15:08] #683 closed

[2016-07-26 15:47] titodalcanton commented on #945
After commit ba1d52a417, lalframe catches the issues and throws an error, so the surprising behavior is gone; closing.

Still, we can't write frame files as huge as theoretically possible until framelib is fixed (or lalframe is built and configured for framec). If we want that ability now, let's ask that in another issue.

[2016-07-26 15:47] #945 closed

[2016-07-29 01:12] cmbiwer commented on #773
I think what Duncan suggests (removing the jobs after 2 days) can be done with adding the following to the workflow configuration file:
[code]

``JobStatus`` equal to 2 corresponds to the Job in the running state. Reference: http://pages.cs.wisc.edu/~adesmet/status.html

``EnteredCurrentStatus`` and ``CurrentTime`` are referenced here: http://www.cl.cam.ac.uk/manuals/condor-V6_8_3-Manual/2_5Submit

[2016-07-29 01:48] cmbiwer commented on #773
Probably a bit more fancy case that will restart the job and quit after 5 times:
[code]

[2016-07-29 13:10] ahnitz commented on #346
Ian, has not solved this and committed the first version to master.

[2016-07-29 13:10] #346 closed

[2016-07-29 13:11] ahnitz commented on #681
Most of the support is gone, removing ticket.

[2016-07-29 13:11] #681 closed

[2016-07-29 13:11] ahnitz commented on #930
Ben has updated the version in PyPI, closing.

[2016-07-29 13:11] #930 closed

[2016-07-29 13:11] #433 closed

[2016-07-29 13:12] #910 closed

[2016-07-29 13:15] #876 closed

[2016-07-29 13:15] #422 closed

[2016-08-02 18:36] titodalcanton opened #1003 "PSD-related errors in uberbank workflow"
Hi Ian,

While trying your uberbank workflow [1] I hit this error on the dumptochis and bankverify jobs:
[code]
In the corresponding `.sh` files I see that `pegasus_transfer` is not told about the PSD file. This seems to happen because of the way dumptochis and bankverify are set up in `pycbc_geom_aligned_bank`: the PSD options are taken from the `pycbc_geom_aligned_bank` arguments and passed to d

[2016-08-02 18:46] spxiwh commented on #1003
Ack, sorry. I'd been running in shared-filesystem mode recently, and so I didn't hit this.

Yes, I added some new functionality to make this kind of argument easier. Basically the following:

https://github.com/ligo-cbc/pycbc/blob/master/bin/pycbc_geom_aligned_bank#L64

Needs to be added also for these two jobs .... I would suggest to also add this to the pycbc_inspiral class for the gating input

[2016-08-02 19:22] titodalcanton commented on #1003
Ah, nice systems. I'll try that.

[2016-08-03 08:11] spxiwh commented on #1003
See #1004

[2016-08-03 08:11] #1003 closed

[2016-08-09 09:42] micamu opened #1016 "Corner module not automatically installed"
pycbc_inference_plot_posterior uses a corner module that one has to install manually to get plot_posterior to work. This module should be added to PyCBC.

[2016-08-12 09:10] #347 closed

[2016-08-12 09:11] #759 closed

[2016-08-12 19:42] cmbiwer commented on #946
We came to an agreement awhile ago. I'll close this.

[2016-08-12 19:42] #946 closed

[2016-08-17 21:31] #479 closed

[2016-08-17 21:32] #711 closed

[2016-08-17 21:32] #818 closed

[2016-08-17 21:32] #810 closed

[2016-08-19 14:20] ahnitz commented on #769
@soumide1102 Have you been able to reproduce this error?

[2016-08-19 14:20] #769 closed

[2016-08-19 14:42] titodalcanton commented on #776
Fixed with #1033

[2016-08-19 14:42] #776 closed

[2016-08-19 17:32] soumide1102 commented on #769
I got this error when running the test workflow with v1.3.7 . I have not tested running any workflows n OSG recently with the newer releases of PyCBC. But I can check if I can still reproduce this error using newer versions of the code.

[2016-08-20 18:57] duncan-brown commented on #874
@stevereyes01 please can you implement this when you try the other changes for 1.5.1?

[2016-08-20 18:59] duncan-brown commented on #858
This has been fixed by @a-r-williamson

[2016-08-20 18:59] #858 closed

[2016-08-20 19:02] duncan-brown commented on #813
@stevereyes01 please can you check this with your test of 1.5.0 make a note here if it is still a problem?

[2016-08-20 19:02] duncan-brown commented on #803
Fixed.

[2016-08-20 19:02] #803 closed

[2016-08-20 19:07] duncan-brown commented on #773
@vahi any suggestions on the correct class ads to use?

[2016-08-20 19:08] duncan-brown commented on #768
Closing, as it's a 1.3.7 issue. Please re-open if it happens with 1.5.x.

[2016-08-20 19:08] #768 closed

[2016-08-20 19:08] duncan-brown commented on #767
Closing, as it's a 1.3.7 issue. Please re-open if it happens with 1.5.x.

[2016-08-20 19:08] duncan-brown commented on #760
@stevereyes01 please can you test this as well?

[2016-08-20 19:09] duncan-brown commented on #756
Closing as the correct fix is https://github.com/ligo-cbc/pycbc/issues/874

[2016-08-20 19:09] #756 closed

[2016-08-20 19:10] duncan-brown commented on #746
Fixed in the current code.

[2016-08-20 19:10] #746 closed

[2016-08-20 19:11] duncan-brown commented on #758
@stevereyes01 please can you check that the instructions are up to date? I think all the relevant changes above have been made.

[2016-08-20 19:13] duncan-brown commented on #721
@stevereyes01 please can you fix this. Make sure you do it the way @ahnitz suggests by concatenating the caches together.

[2016-08-20 19:13] duncan-brown commented on #670
Fixed.

[2016-08-20 19:13] #670 closed

[2016-08-20 19:14] duncan-brown commented on #385
@spxiwh can this be closed now?

[2016-08-20 19:15] duncan-brown commented on #704
@stevereyes01 we should check this in 1.5.x

[2016-08-20 19:19] spxiwh commented on #760
Some pycbc workflows (e.g. uberbank) are now using file dependancies across sub-workflows. Please be careful if changing cleanup options which might be inherited by more than just the coinc_search_workflow!

[2016-08-20 19:23] spxiwh commented on #385
No. pycbc_make_banksim (and pycbc_make_faithsim) are still using glue.workflow.

[2016-08-22 14:34] stevereyes01 commented on #758
The instructions at: http://ligo-cbc.github.io/pycbc/latest/html/workflow/pycbc_make_coinc_search_workflow.html#running-on-the-open-science-grid

Are currently up to date and carry most of the information here. I'm running a test workflow to make sure we can run on OSG and the local cluster using the same pycbc_submit_dax. If these tests all succeed we can modify the instructions to the most moder

[2016-08-22 14:46] stevereyes01 commented on #874
Should I append also `file:///cvmfs/.*` to `pegasus-properties.conf`? What rank should we set it to? See https://github.com/ligo-cbc/pycbc/pull/1039 for current patch.

[2016-08-22 15:54] duncan-brown commented on #758
Closing and opening a new ticket since most of this has been fixed. Will open a new ticket when @stevereyes01 tests against 1.5.x

[2016-08-22 15:54] #758 closed

[2016-08-22 16:00] duncan-brown commented on #721
@stevereyes01 when you do this, use ``curl`` not ``cat`` do the user can do
[code]
Don't forget the ``-f`` to ``curl`` so that it exits with an error if there is a 404.

[2016-08-22 19:37] duncan-brown opened #1043 "Static build submit file requests too much RAM"
The static build file requests 32Gb of RAM which is overkill:

https://github.com/ligo-cbc/pycbc/blob/master/tools/static/build_dag.sh#L12

Asking for 500 Mb seems to be reasonable, as PyInstaller only uses a few hundred Mb in the build process:
[code]

[2016-08-22 19:39] duncan-brown commented on #1043
@soumide1102 if your local universe build on sugar-test1 works OK, you might as well change the universe to ``local`` on line 10:

https://github.com/ligo-cbc/pycbc/blob/master/tools/static/build_dag.sh#L10

[2016-08-23 14:01] stevereyes01 commented on #768
I've just bumped into this bug, so I'll re-test with a local checkout of 1.5.pre00 (until bundles can be made).

[2016-08-23 14:07] stevereyes01 commented on #874
Commit was merged. Closing.

[2016-08-23 14:07] #874 closed

[2016-08-23 15:54] duncan-brown opened #1046 "Hidden imports are required to bundle the segment database tools"
When building the segment database tool bundles in the install script, the ``pyinstaller`` command on line 801 at:

https://github.com/ligo-cbc/pycbc/blob/master/install_pycbc.sh#L801

needs the extra options

[code]

[2016-08-24 11:19] stevereyes01 commented on #767
Issue persists in pycbc master (as of August 23rd). I think we can fix this with a case where if it doesn't find any positive values it doesn't try to plot in log scale.

[2016-08-25 14:07] stevereyes01 commented on #721
The following small script I have works well when given both webpages and local map files:

``
#!/bin/bash

# Read the list of URLs from the command line
echo "Please type the cache files you want to use, delimited by a comma and only a comma."
read inputString

#Set the internal field separator variable to comma
export IFS=","

#Loop over all of the cache files and write the URLs to a file
for UR

[2016-08-25 14:20] lppekows commented on #721
Hi Steven,

Maybe I'm misunderstanding, but curl Just Works with file://

[code]

It doesn't work if given just the path, without the URL scheme, although in that case it at least provides a useful error message

[code]

[2016-08-25 14:26] stevereyes01 commented on #721
You're right. I don't think I need any if statements to see if files exist; curl fails if I pass it `file:///home/steven.reyes/anything.txt` (which doesn't exist).

I think our input scheme is to use `file:///` all of the time and never `/home/`.

I think I can implement this easily without any of the if statements I was blabbering about.

[2016-08-25 14:51] stevereyes01 commented on #767
This error seems to be GPS dependent, as I just had a workflow pass through.

https://sugar-jobs.phy.syr.edu/~steven.reyes/O1/testWorkflow/SugarAug24/TestWorkflow1/

I'll have to do more investigating to figure out what's bugging out in the small test workflows we were running before.

[2016-08-25 14:56] stevereyes01 commented on #813
![bugreport](https://cloud.githubusercontent.com/assets/12528399/17974010/792a183a-6ab2-11e6-9135-e4b3eb48b199.png)

This does not seem to still be a problem as of the pycbc-master from a few days ago.

We can re-open this if we see the bug come back up.

[2016-08-25 14:56] #813 closed

[2016-08-26 18:27] stevereyes01 commented on #721
PR #1057 is trying to address this now. Test underway.
https://github.com/ligo-cbc/pycbc/pull/1057

[2016-08-26 18:57] duncan-brown commented on #704
This might be fixed by https://jira.isi.edu/browse/PM-1099

[2016-08-26 19:54] stevereyes01 commented on #721
PR #1057 addressed this. Closing.

[2016-08-26 19:54] #721 closed

[2016-09-05 14:27] spxiwh opened #1066 "Single-detector time minifollowups"
We want to add minifollowups of the loudest events in single-detector *only* time. I think all the information and code already exists to do this, stuff just needs hooking up!

[2016-09-08 09:22] spxiwh opened #1070 "Minifollowups fail if there are no triggers"
Minifollowups dags currently fail if there are no triggers because the DAX file is empty and then not valid. I'm planning to fix this by adding a `which true` job if this happens. I'll post this with the fix for #1066 unless there are issues with this idea.

[2016-09-09 13:05] spxiwh commented on #760
@vahi Running pegasus 4.6.2 I've been seeing cases where ```--cleanup inplace``` from the top-level dax is not cleaning up everything in the local-site-scratch. My suspicion is that the ```--relative-submit-dir``` option given to pegasus-plan may be being ignored in some places, causing some outputs, and cleanup jobs, to use the default file layout.

Note that while we use ```--relative-submit-dir

[2016-09-09 16:09] vahi commented on #760
Hi Steven

The relative-submit-dir should be used only for controlling where the submit directory ( directory for condor submit files)

This is something we changed for 4.6.2 to be more consistent from users perspective

https://jira.isi.edu/browse/PM-1113

Karan

[2016-09-09 18:40] josh-willis opened #1074 "Possible issue with throughput plotting when reusing runs without throughput information"
As part of testing the throughput plotting, we re-ran analysis 8 from scratch with that plotting enabled, and also ran with the new code, but re-using the data from an older run that lacked the throughput information in the HDF5 files, to check that this was possible without error.

At the time, we noticed that both runs succeeded, and that the plotting was present when expected and absent when in

[2016-09-10 22:48] ahnitz commented on #1074
Josh, I think I've been trying to track down a similar issue and you've given me a better hint. I don't know what's happening yet, but I have some guesses based on the changes we've been making. Guess 1 is that I broke mergetrigs. I'll do some investigation.

[2016-09-12 09:13] spxiwh commented on #1074
@ahnitz Do you have anything more on this? I am seeing some weird results in a recent run of the test workflow:

https://galahad.aei.mpg.de/~spxiwh/LVC/aLIGO/O1/analyses/workflow_testT13/5._injections/5.02_followup_of_missed_BNS01_INJ/

where all plots look okay except A14-17 (and similar), where the "loudest template" produces no loud SNR (same in other minifollowups single/injection). This seems

[2016-09-12 09:27] spxiwh commented on #1074
Just musing aloud now. Merge trigs never actually checks that the bank and the inspiral files have consistent trigger_hashes. Now I get that it will be slow to explicitly check *every* trigger_hash, so the method implmented is fast. *BUT* for sanity checking, wouldn't it be good to check say 10 random trigger hashes from the inspiral files to make sure those hashes actually exist in the bank file?

[2016-09-12 09:38] spxiwh commented on #1074
1d8fb91317431ee38a9b4b8cfd861ebacd9a9b28 made some pretty severe changes to pycbc_coinc_bank2hdf, these were *not* reflected in events.py ... @cdcapano were these changes tested? If so can you point to an output page, I'm worried this has broken the workflow.

[2016-09-12 09:45] spxiwh commented on #1074
Okay I've now confirmed my theory. It seems that 1d8fb91 has broken the coinc workflow. @ahnitz @cdcapano reverting this is not trivial as other stuff is now built on top of this. Please advise how to deal with this.

[2016-09-12 09:46] spxiwh commented on #1074
Specifically that change changed the hashes in the bank's HDF file. However it did *not* change the same in events.py so the two are now inconsistent.

[2016-09-12 09:49] ahnitz commented on #1074
@spxiwh I have a patch in progress. I'm running a workflow now to test it.

[2016-09-12 09:53] spxiwh commented on #1074
Okay, thanks. Can we also include the suggested sanity check above? We need something to catch the case where the bank and inspiral files are inconsistent.

[2016-09-12 11:00] cdcapano commented on #1074
Sorry, I didn't know that there was separate hashing code in events.py when I submitted that patch. It looks like Alex's patch in #1078 fixes it.

Sanity checks would be good, but wouldn't all of this be more robust if pycbc_inspiral just read the hdf file instead of the xml file? It's unstable to have two sets of code get the same information from different files. What prevents that currently fro

[2016-09-12 11:15] cdcapano commented on #1074
Nevermind... I just remembered why pycbc_inspiral can't read hdf files. Split bank only works on xml files currently.

[2016-09-12 14:59] duncan-brown opened #1081 "The cache-file option to pegasus_submit_dax should take regular files."
Pull https://github.com/ligo-cbc/pycbc/pull/1057 requires that the option to ``--cache-file`` be a valid URL. @ahnitz has requested that the backwards compatibility with (relative) file paths be preserved.

@stevereyes01 please can you implement this by using ``urlparse`` and only passing the string to curl if it a valid URL? Otherwise, assume that it is a file.

See http://stackoverflow.com/quest

[2016-09-12 15:14] stevereyes01 commented on #1081
@duncan-brown This is a python solution to this problem, but `pycbc_submit_dax` is in BASH. Do you want me to write a python script, call it in `pycbc_submit_dax` and push the input to this executable? There may be an easier way to do this in BASH.

[2016-09-12 15:20] duncan-brown commented on #1081
Ah, yes. Forgot that was bash. I suggest: loop over the files with ``curl --fail`` and if curl fails, do a bash ``-f`` test to see if the string points to a valid file. If not, fail saying ``not valid file or url``, if it does cat that file into the ``_reuse.cache``.

[2016-09-12 15:21] stevereyes01 commented on #1081
I was thinking of doing something like that, if it fails I was going to try passing `file:/`pwd`/` + `URL`, and if that failed try passing `http://` + `URL`

[2016-09-12 15:27] lppekows commented on #1081
You could also do something like
[code]

[2016-09-12 15:32] lppekows commented on #1081
Or the <del>line noise</del> regex solution at http://stackoverflow.com/questions/3183444/check-for-valid-link-url

[2016-09-12 17:23] stevereyes01 commented on #1081
Working on testing my solution on atlas, just have to install pycbc over there :-(

[2016-09-13 14:41] stevereyes01 commented on #1081
https://github.com/ligo-cbc/pycbc/pull/1082

[2016-09-15 12:08] santanu-tripathy opened #1089 "Problem in installation of pycbc in virtualenv in ubuntu 14.04"
I was trying to install pycbc in virtualenv with the help of the instructions given on
[http://ligo-cbc.github.io/pycbc/latest/html/install.html]. But it is failing to install any released version of pycbc, i.e, [pip install git+https://github.com/ligo-cbc/pycbc@v1.1.0#egg=pycbc --process-dependency-links ] is giving an error " error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

[2016-09-15 14:11] stevereyes01 commented on #1089
Hi @santanu-tripathy ,

Have you tried running the install script for PyCBC: https://github.com/ligo-cbc/pycbc/blob/master/install_pycbc.sh

Just indicate that you do not want to build bundles and see if you can follow the instructions listed in the script.

[2016-09-15 14:12] stevereyes01 commented on #1081
This has been closed by the merge request above.

[2016-09-15 14:12] #1081 closed

[2016-09-15 20:27] santanu-tripathy commented on #1089
Hi,@stevereyes01, thank you for your reply.
The Script file you mentioned is asking for LIGO USERNAME  and PASSWORD. But I want to install it as anonymous, (as I am not a LIGO member). So, what to do now?

[2016-09-16 20:20] stevereyes01 commented on #1089
I had a look at your `error_log.txt`, I don't think there's an error with the operating system or anything else that you've listed, you may be copying a bad version of pycbc with a weird conflict or something. Try a released version like v1.5.3, or maybe see if that problem has been solved in master (pycbc for development).

[2016-09-16 20:26] ahnitz commented on #1089
Santanu, the error in your log is related to an upstream change in
lalsuite. We have recently patched pycbc-pylal to update to the new API,
but we haven't yet updated PyCBC itself. If you like you can install
pycbc-pylal from master and that should resolve at least this issue.

On Fri, Sep 16, 2016 at 10:21 PM, Steven Reyes <notifications@github.com>
wrote:

--
Dr. Alexander Nitz
Max Planck Instit

[2016-09-20 21:18] stevereyes01 opened #1090 "install_pycbc.sh does not bundle ligolw programs"
The latest copy of master for `install_pycbc.sh` does not seem to actually bundle the following programs:

1. ligolw_add
2. ligolw_combine_segments
3. ligolw_segment_query_dqsegdb
4. ligolw_segments_from_cats_dqsegdb

This should have been fixed by https://github.com/ligo-cbc/pycbc/commit/176438d42f5e42bb2e6ba3c2112783681b629a8d , and on master: https://github.com/ligo-cbc/pycbc/blob/master/instal

[2016-09-21 14:08] stevereyes01 commented on #1090
It looks like we need to patch the copying of `ligolw` files into the correct directories (cf. https://github.com/ligo-cbc/pycbc/blob/master/install_pycbc.sh#L828-L830)

[2016-09-22 20:23] ahnitz opened #1098 "install_pycbc.sh should be moved"
The script 'inistall_pycbc.sh' has grown quite large and for many actions assume a user is an LSC member with a ligo.org account. The script is still useful, but I would suggest moving it to the tools directory and renaming to something along the lines of 'create_ligo_pycbc_env'. The requirements.txt file should also be moved as it does not reflect the requirements of the PyCBC library but instead

[2016-09-22 20:23] ahnitz commented on #471
Old, closing.

[2016-09-22 20:23] #471 closed

[2016-09-22 20:25] ahnitz commented on #266
I don't think Pegasus will add direct support for this. We'll have to make do with do with modifications on our end.

[2016-09-22 20:25] #266 closed

[2016-09-22 20:25] #772 closed

[2016-09-22 20:26] ahnitz commented on #1066
Ian fixed this.

[2016-09-22 20:26] #1066 closed

[2016-09-22 20:27] ahnitz commented on #786
This has been added by Josh.

[2016-09-22 20:27] #786 closed

[2016-09-22 20:29] ahnitz commented on #816
Chris, is this now supported? If so please close.

[2016-09-22 20:30] #1074 closed

[2016-09-22 20:31] #477 closed

[2016-09-22 20:33] cmbiwer commented on #816
Hi Alex, not supported yet... I think this is much more than a code change, there's some managerial things that need to be decided about how data is stored.

[2016-09-23 12:22] duncan-brown commented on #1098
That sounds like a good idea. Are the install instructions at http://ligo-cbc.github.io/pycbc/latest/html/install.html up to date?

[2016-09-23 12:25] duncan-brown commented on #1098
@lmagana3 please can you move the code and the requirements file as alex suggests? Note that the script will need changes as it expects the requirements.txt to be at
[code]

[2016-09-23 12:53] stevereyes01 commented on #1090
Fixed by https://github.com/ligo-cbc/pycbc/pull/1097

[2016-09-23 12:53] #1090 closed

[2016-09-23 20:22] #1046 closed

[2016-09-23 20:25] soumide1102 commented on #1043
Fixed by #1042.

[2016-09-23 20:25] #1043 closed

[2016-09-23 20:25] soumide1102 commented on #869
Fixed by #1042

[2016-09-23 20:25] #869 closed

[2016-09-28 12:58] samantha-usman opened #1111 "lalsuiterc is deprecated"
Using install_pycbc.sh to build pycbc now returns:

[2016-09-29 15:28] cmbiwer commented on #1111
#1115 solves this.

[2016-09-29 15:28] #1111 closed

[2016-09-29 23:39] #1070 closed

[2016-09-30 09:41] santanu-tripathy commented on #1089
Thank you all for your reply. Both v1.1.0 and v1.5.3 failed, giving the same above mentioned error.  But, I was able to install pycbc in virtualenv by cloning it from master. So, the problem is solved for me.

[2016-09-30 11:37] #1089 closed

[2016-09-30 18:29] duncan-brown commented on #857
This is fixed by https://github.com/ligo-cbc/pycbc/pull/1068

[2016-09-30 18:29] #857 closed

[2016-09-30 19:48] lenona opened #1119 "Install script can't find lalsuite-user-env"
I keep getting this error when running the install script

[code]

In the corresponding directory there is however

[code]

instead of

[code]

[2016-09-30 19:57] cmbiwer commented on #1119
If you're using an older branch of lalsuite, then use ``lalsuiterc`` not ``lal-user-env.sh``.

[2016-09-30 20:00] lenona commented on #1119
Alright thank you, I'll try that.

[2016-10-08 18:34] duncan-brown commented on #1119
Reopening this as the right solution is to check for the new script and fall back to the old script, if it does not exist. The code should read:
[code]
This same code should be put into the bundle script and the instructions. The bundle script will also need to put this code into the ``activate`` script for the virtual environment that it is creating.

Assigning to @lmagana3 to fix.

[2016-10-08 18:37] duncan-brown commented on #1119
The code that needs to be fixed in the bundle script is here https://github.com/ligo-cbc/pycbc/blob/master/install_pycbc.sh#L541

Note that *two* fixes are needed, one to fix the ``activate`` script and one to fix the ``source`` in the bundle script itself.

[2016-10-10 14:12] tdent opened #1133 "Atlas requires condor settings to ask for sufficient memory"
From Carsten's email:

I think this means we need a lot more pegasus_profile sections in the ini files with (fairly) accurate memory requests.

[2016-10-11 03:39] titodalcanton commented on #1133
I'm (slowly) working on improving `plot_singles_vs_params` to drop the memory usage. I think at least `plot_trigger_timeseries` and `page_snrchi` could also benefit from the `pycbc.io.hdf.HFile` class.

BTW I find the following useful for showing the peak memory usage of a script (in megabytes):
* `import resource` at the beginning
* `print resource.getrusage(resource.RUSAGE_SELF).ru_maxrss / 1000

[2016-10-11 15:09] tdent commented on #1133
I also noticed pycbc_page_snglinfo jobs taking a lot of memory (well, over 4G) - not sure if there's a logical way to slim them down though

[2016-10-11 15:17] spxiwh commented on #1133
I think my proposal 1 for this is to add a default setting of 2(?) GB of RAM for all jobs unless specified otherwise. Then the jobs which do not obey this (as identified above) can have a specific memory request, or be made more optimal.

Certainly pycbc_page_snglinfo (it's the example I see directly above, probably there are others) could be rewritten/edited to have a very small memory footprint

[2016-10-11 18:25] cmbiwer opened #1140 "WaveformArray errors with inference output if not sampling in mass1,mass2,spin1x,etc."
If you sample in `mchirp`, `q`, `spin1_a`, `spin1_azimuthal`, etc. then the `WaveformArray` class doesn't know how to return `mass1`, `m_p`, etc. since it assumes it has `mass1`, `spin1x`, etc. and calculates the virtualfields.

`WaveformArray` should be able to map `mchirp`, `q` to `mass1`,`mass2` or `m_p`,`m_s` and likewise for spherical to Cartesian spins.

This affects all the inference post-p

[2016-10-18 16:18] ahnitz opened #1154 "hierarchical statmap modifications"
- Steve started this during the PyCBC F2F. It needs to be finished

[2016-10-18 18:25] stevereyes01 commented on #1154
I've been traveling since after the F2F, but I'm back in Syracuse and working on it. I'll post updates/questions as the code progresses.

[2016-10-19 17:04] tdent opened #1156 "Add exp fit histogram plots to single-detector results page"
Presumably this belongs in the single-detector histogram sections.  I (TD) don't know how this is achieved so it would be good if someone could point me to the code that decides which plot goes in which section.

[2016-10-19 17:22] tdent opened #1157 "'Final' statistic combining the trig fitting background and time-phase foreground hist"
Hopefully ready and tested on O1 chunks by end October.

[2016-10-20 12:12] duncan-brown opened #1163 "The phasecorr.hdf does not contain enough metadata for review"
The file is just called `phasecorr.hdf` with no other identifying information. I think that needs to be fixed before ER10. It should contain, at a minimum:
- A reasonably unique filename. Storing metadata in filenames is bad practice technically, but helpful for humans who use `ls`. Ideally it should have a standard filename that explains where it came from, and maybe some version string, e.g. `H1

[2016-10-20 12:14] spxiwh commented on #1163
I don't know what this means? Can you explain what this issue is referring to?

[2016-10-20 13:58] ahnitz commented on #1163
@duncan-brown Addressed by merge here https://code.pycbc.phy.syr.edu/ligo-cbc/pycbc-config/merge_requests/169

The file has been renamed, and an attribute reflecting the name/version inserted into the file. A script that includes a pycbc version tag and the command line to recreate this file has also been included in the same folder.

[2016-10-21 13:37] duncan-brown commented on #1163
@ahnitz what metadata is inside the HDF file that I could use to confirm that the file used was actually correct?

[2016-10-21 13:45] ahnitz commented on #1163
It contains the filename (which implicitly includes a version tag, etc) that the file should have. This protects against being overwritten or replaced accidentally.

[2016-10-26 20:47] tdent commented on #1157
addressed by #1173

[2016-10-26 20:47] #1157 closed

[2016-10-26 21:10] ahnitz commented on #1133
A default setting of 2GB was added to the ER9 ini files. Has this resolved people's problems?

[2016-10-26 21:13] ahnitz commented on #1133
This was enabled by #1152 and #1165

[2016-10-26 21:20] tdent commented on #1133
OK, so a complete workflow on atlas is required to check if inspiral jobs hit any memory barrier.

[2016-10-26 21:33] titodalcanton commented on #1133
I plan to start the variable-flow hyperbank run on O1 data in some hours. I'll pull the latest ER9 ini files and I'll report back if I see this issue again.

[2016-10-27 22:13] titodalcanton commented on #1133
https://www.atlas.aei.uni-hannover.de/pegasus/u/tito/r/143/w?wf_uuid=f304cb20-35e1-40eb-b1c3-7b911ad66ddc

No held inspiral jobs so far (of about 1000 done) but calculate_psd jobs do require more than 2048 Mb.

[2016-11-01 15:58] spxiwh opened #1181 "Pycbc's read-data-from-server functionality doesn't work for remote servers"
Trying to use PyCBC's strain module with a *remote* datafind server (ie. if I set LIGO_DATAFIND_SERVER to a remote server) fails. I think we need more options to say that I want gsiftp urls back and then the code should know what to do with that.

[code]

[2016-11-01 23:32] #1098 closed

[2016-11-04 11:39] duncan-brown opened #1187 "We should use Bernd's E@H build script as a framework for the Travis test"
It does a full build (with memory) and runs a test of ``pycbc_inspiral``. Then we can just maintain one piece of code for this type of thing.

[2016-11-04 11:40] duncan-brown commented on #1119
Closing this as the install script is (at test temporarily) deprecated except for building bundles. To build PyCBC follow the instructions at http://ligo-cbc.github.io/pycbc/latest/html/install.html

[2016-11-04 11:40] #1119 closed

[2016-11-04 11:41] duncan-brown commented on #1133
@ahnitz @titodalcanton is this resolved now? Can we close for the ER10 release?

[2016-11-04 11:42] duncan-brown commented on #1181
Make a DAX with one job? 🎱

[2016-11-04 11:44] duncan-brown commented on #1163
Grudging closing as while this isn't up to my metdata standards, it's no worse than other stuff in the pipeline. When Karan gets back from leave, I'm going to get all the Pegasus metadata management implemented.

[2016-11-04 11:44] #1163 closed

[2016-11-04 11:44] duncan-brown commented on #1154
@stevereyes01 @ahnitz I assume we're not worried about this for the first ER10 release?

[2016-11-04 11:45] duncan-brown commented on #1156
@cmbiwer please can you point @tdent in the right direction?

[2016-11-04 11:46] duncan-brown commented on #1016
@cmbiwer is this fixed?

[2016-11-04 12:17] duncan-brown commented on #774
Closing this and opening a JIRA ticket as it should be done by the Pegasus kickstart script.

[2016-11-04 12:17] #774 closed

[2016-11-04 12:25] duncan-brown commented on #747
@ahnitz I this line of code still exists in ``pycbc_page_snrifar``:

https://github.com/ligo-cbc/pycbc/blob/master/bin/hdfcoinc/pycbc_page_snrifar#L182

Please can you fix of close with an explanation of why this isn't a problem any more?

[2016-11-04 12:27] duncan-brown commented on #588
Closing as the ROM data is under ``/cvmfs`` now so at least this isn't a major issue.

[2016-11-04 12:27] #588 closed

[2016-11-04 12:29] duncan-brown commented on #816
@johnveitch please can you find someone from the CBC group on the Virgo side to take this on?

[2016-11-04 12:40] ahnitz commented on #1181
I would assume this is something that you'd want to be handled by the function directly, i.e. so it works to run by hand as well.

[2016-11-04 12:45] spxiwh commented on #1181
A specific use-case where this would be useful is if someone wants to run a small test of pycbc_inspiral (or any other pycbc code) on a laptop/workstation using actual data. Being able to pull data, at run-time, would be a useful feature (and I think most of the stuff to do this is in place, it just needs hooking up).

[2016-11-04 12:47] duncan-brown commented on #1181
@spxiwh Is the use case on an LDG cluster or on your laptop? The ``/cvmfs`` access to frames is really nice for this. If you get ``file:///cvmfs/`` paths back from a datafind server and have CVMFS installed on your machine you can ``fopen()`` the paths and CVMFS will fetch them for you. That's how we have all the data on sugar.

[2016-11-04 12:50] tdent commented on #1133
It is *partially* done.  2048 is OK for inspiral jobs, it's not OK for a bunch of others: as far as I have been able to tell in my calculate_psd requires ~8G and coincs require ~3G.
These can be dealt with by ini file changes; should I just go and edit the files directly to add them?

[2016-11-04 12:50] ahnitz commented on #1181
@spxiwh I think that makes a lot of sense. I know that I've personally wanted that at times. Would be especially useful with things like the single template code, where I just want to make a quick plot. I can see how this would be nice for new people as well.

[2016-11-04 12:52] ahnitz commented on #1133
Tom, please go ahead and make the changes to the ini files to add these
memory requirements.

On Fri, Nov 4, 2016 at 1:50 PM, tdent <notifications@github.com> wrote:

[2016-11-04 12:53] ahnitz commented on #741
I'm closing this as the main workflow configuraiton no longer requires pylal at all. The remaining codes are maintained for the GRB pipeline. No new code is relying on pylal, and that is sufficient for me.

[2016-11-04 12:53] #741 closed

[2016-11-04 13:01] duncan-brown commented on #1181
@spxiwh @ahnitz you guys should really look at the CVMFS stuff. They have solved this problem for us so we don't need to code it:
[code]
It's trivial to install on an SL*/Ubuntu box. There's a Mac OS X image (although Brian needs to get the X509 cert stuff in there).

To install see https://twiki.grid.iu.edu/bin/view/Documentation/Release3/InstallCvmfs

[2016-11-04 13:02] ahnitz commented on #1187
I'm not sure this is really workable. A test of running pycbc_inspiral *should* be in the travis test suite, but constructing a pyinstaller bundle really shouldn't. It takes far too much time for travis. Although travis does also have a limited run window, as a matter of procedure, we do not want to make iterating on code too long of a process. The failure of a proposed patch should happen ASAP. O

[2016-11-04 13:03] duncan-brown commented on #1181
Here's the ROM data on my Mac, for example, pulled via CVMFS. I never installed this locally:
[code]

[2016-11-04 13:07] spxiwh commented on #1181
I don't think the CVMFS stuff (which I agree is useful) has too much bearing on this pull request. We *already* have a system for distributing data: gsiscp and gw_data_find. Our codes already call into this. The request here is simply to close the loop on this and allow the strain module to understand what to do if a remote datafind server is in use and the frames returned are gsiftp locations, no

[2016-11-04 13:08] duncan-brown commented on #1181
And for Mac users, the install instructions are:

 * Install the FUSE package https://github.com/osxfuse/osxfuse/releases
 * Install the CVMFS package from http://cernvm.cern.ch/portal/filesystem/downloads

Then as root, create a file ``/etc/cvmfs/default.local`` that contains
[code]
and then
[code]

[2016-11-04 13:09] duncan-brown commented on #1181
@spxiwh that's not true. It's working now and working well on sugar.
[code]

[2016-11-04 13:12] duncan-brown commented on #1181
Plus it has the advantage that it will *cache* the data you transfer (up to an admin specified cache size), so if you run the same program twice on the same data in short order, it won't re-transfer the data.

OK, I'll stop with the commercial now...

[2016-11-04 13:22] duncan-brown commented on #767
@stevereyes01 please can you take a look at this?

[2016-11-04 13:24] duncan-brown commented on #1133
@couvares question for you: @spxiwh has a shell script that updates the required memory for a condor job if it gets put on hold for exceeding the memory use. Is there a way to get condor to do this automagically?

[2016-11-04 13:34] duncan-brown commented on #1187
I did some timing on @bema-ligo's script. Starting from a run that has cached the basic builds (FFTW, gsl, etc.) the whole script takes:
[code]
Of this, 7 mins is running ``pycbc_inspiral``:
[code]
The bank Bernd is using contains 2477 templates. That could be cut by an order of magnitude if we select the templates carefully. The PyInstaller parts only take a couple of minutes:
[code]
This could b

[2016-11-04 13:36] duncan-brown opened #1188 "The automated build of the PyCBC documentation is broken"
Which means that http://ligo-cbc.github.io/pycbc/latest/html/ is not up-to-date.

[2016-11-04 13:43] ahnitz commented on #1187
Ok, that's much more reasonable than I was remembering. If you want to (or have some available) to try merging into the travis build, please go ahead. The total travis build at the moment is ~20 - 30 minutes, depending on the change. It's possible that could be sped up a bit as well. At the moment most of the caching takes advantage of ccache, but possible we could skip more.

We have two scripts

[2016-11-04 13:45] ahnitz commented on #1187
Adding @titodalcanton as he's been involved a lot in setting up the current travis configuration. Just want to keep him informed in case he'd like to comment.

[2016-11-04 13:50] duncan-brown commented on #1187
@ahnitz sounds good, I will get to this once I'm done with the first ER10 release.

[2016-11-04 13:59] tdent commented on #1133
https://code.pycbc.phy.syr.edu/ligo-cbc/pycbc-config/commit/8ee378fee39a4d668aad21b690231bce055a26d7
consider the issue closed until we have evidence of better methods to control memory requests

[2016-11-04 13:59] #1133 closed

[2016-11-04 14:36] duncan-brown opened #1189 "PyCBC is using a forked version of the segment database tools."
PyCBC requires a forked version of the segment database tools due to issues with the ``setup.py`` script in dqsegdb. This currently tells the installer to require a package names ``glue`` but that name is taken by some non-LIGO software in PyPi https://pypi.python.org/pypi/glue

https://github.com/ligovirgo/dqsegdb/blob/master/setup.py#L167

The other workaround (https://github.com/duncan-brown/dq

[2016-11-04 14:38] duncan-brown commented on #1189
See https://github.com/ligovirgo/dqsegdb/issues/24

[2016-11-04 15:49] duncan-brown commented on #1188
Well that was surprisingly painful to fix, but it is working now

http://ligo-cbc.github.io/pycbc/latest/html/

[2016-11-04 15:49] #1188 closed

[2016-11-04 15:58] duncan-brown commented on #773
Added this to the instructions:

https://github.com/ligo-cbc/pycbc/pull/1190/commits/4ada1671db2cc9c16f4812c07115e6758e8bf0c1

[2016-11-04 15:58] #773 closed

[2016-11-04 16:01] stevereyes01 commented on #767
Yeah, I haven't noticed this bug creep back in in any of the latest runs, but what I should do is run a small test workflow over the GPS times.

[2016-11-04 16:07] duncan-brown commented on #760
I'm closing this, as I think this is a bigger issue with Pegasus cleanup and the bug is actually on the Pegasus side.

[2016-11-04 16:07] #760 closed

[2016-11-04 17:54] cmbiwer commented on #1016
@duncan-brown This isn't needed for any ER10 tagging, its only used in a single inference plotting code. Though we should either do #1191 (which adds it to ``setup.py``) or just update the docs to include ``pip install corner``.

[2016-11-04 18:53] #1016 closed

[2016-11-04 19:54] cmbiwer commented on #1156
If you want them on the page in the bottom accordions that you open up, you just need to save the images in the ``output/results/3._single_triggers/`` dir. They will automatically appear.

There's some automatic numbering for the sections. To use this set the output path using the ``rdir`` instance (https://github.com/ligo-cbc/pycbc/blob/master/bin/workflows/pycbc_make_coinc_search_workflow#L64);

[2016-11-04 20:08] duncan-brown commented on #704
Fixed by https://github.com/ligo-cbc/pycbc/pull/1192

[2016-11-04 20:08] #704 closed

[2016-11-04 21:22] titodalcanton commented on #1187
@duncan-brown does Bernd's test include a run of the unit tests and a basic test of all executables involved in a standard workflow (i.e. what the current Travis tests do)? I think testing those is as important as running pycbc_inspiral alone.

[2016-11-04 21:28] ahnitz commented on #1187
@titodalcanton I think the idea would be to merge the two test scripts so the union of all tests is done in both places. Absolutely, we should not be dropping any of the existing unit tests in the test script.

[2016-11-04 22:41] duncan-brown commented on #1187
@ahnitz @titodalcanton yes that's the plan.

[2016-11-06 20:07] duncan-brown opened #1198 "pycbc_submit_dax should wait a bit longer for the dashboard database to respond"
I reduced the length of time that ``pycbc_submit_dax`` waits if the dashboard database doesn't respond. I think that I shortened it too much:
[code]
A few seconds later:
[code]

[2016-11-07 13:40] duncan-brown commented on #1198
Fixed by https://github.com/ligo-cbc/pycbc/pull/1200

[2016-11-07 13:40] #1198 closed

[2016-11-08 22:29] stevereyes01 opened #1207 "pycbc_submit_dax should be able to handle adding a site to run at on the OSG"
An error was encountered when running `pycbc_submit_dax` with the option: `--append-site-profile 'osg:condor|+DESIRED_SITES:"BlueWaters"'`

Here's the error:
[code]

The problem is on the lines:
https://github.com/ligo-cbc/pycbc/blob/master/bin/pycbc_submit_dax#L556-L557
[code]
where it tries to take arguments from the command line and place them into perl where fields are separated by `+`. Howeve

[2016-11-09 01:18] duncan-brown commented on #1207
@stevereyes01 there's a second problem that the code that parses ``--append-site-profile`` is no robust to special characters. Please can you fix this to read:
[code]

[2016-11-09 01:23] duncan-brown commented on #1207
@stevereyes01 side note. A less elegant solution is to escape the HTML
[code]

[2016-11-10 14:08] duncan-brown commented on #1207
@stevereyes01 after our conversation yesterday, I think we should leave the perling alone with ``+`` as the regexp delimiter.  The solution is this magical bit of line noise to escape all the HTML special characters, including the plus.

Before line https://github.com/ligo-cbc/pycbc/blob/master/bin/pycbc_submit_dax#L556 add the command
[code]
This will escape all the HTML special characters before

[2016-11-10 14:09] duncan-brown commented on #747
@ahnitz bump.

[2016-11-10 14:50] duncan-brown opened #1214 "Handle bad chisq bins gracefully"
The code that computes the number of chisq bins will return "NaN" if the formula fails (e.g. if the template's total mass is to high). This case should be handled gracefully in the code that that workflow doesn't die.

@tdent thoughts on whether the default should be one bin, two bins, or no bins?

[code]

[2016-11-10 15:46] stevereyes01 commented on #1207
@duncan-brown Yeah I can do that and test. Thanks.

[2016-11-10 15:52] duncan-brown commented on #1207
Leaving issue open until the patch is ready.

[2016-11-10 16:00] stevereyes01 commented on #1207
Oops, sorry thought this was my old PR, not the issue statement.

[2016-11-10 16:16] ahnitz commented on #1214
@duncan-brown No bins is not really helpful. The only place that this *should* be a problem that is handled is where you found it in the single template followup, i.e in the case where it is not basing it on a template. Elsewhere, I think it is a bug on our part for giving a bad chisq formula. The formulat *should* be required to work the templates we use. I think a default minimum of 2 would be a

[2016-11-10 16:21] titodalcanton commented on #1214
Remember that I had trouble with negative chi² when I forced the bins to 2 in my first SEOBNRv4 hyperbank run several weeks ago. I recommend at least 3, which worked fine for the O1 IMBH search. Also, if you do default to a predetermined number setting, I'd print a big warning ("Invalid number of chi^2 bins, falling back to N").

[2016-11-10 16:24] duncan-brown commented on #1214
@titodalcanton @ahnitz agreed, will do.

[2016-11-10 17:32] tdent commented on #1214
What masses / spins Duncan?
In the same-template-as-injection job it's pretty unclear what we _want_ to do .. I guess if the injection params are inside the bank it should be done with the same formula as the bank, but otherwise some default value would be as good as any other.  I would vote for 10
... and ideally the code _should_ fail if the number of chisq bins is NaN, for any mode of operation

[2016-11-10 19:37] duncan-brown commented on #1214
Pull request to fix is https://github.com/ligo-cbc/pycbc/pull/1219

[2016-11-10 19:37] #1214 closed

[2016-11-13 20:20] #747 closed

[2016-11-13 20:25] duncan-brown commented on #767
Removing the milestone until this is investigated.

[2016-11-13 21:19] duncan-brown commented on #1207
This is fixed by https://github.com/ligo-cbc/pycbc/pull/1225

[2016-11-13 21:19] #1207 closed

[2016-11-14 14:59] duncan-brown opened #1230 "Make sure that config files are up to date before making release"
Make sure that all the issues at

https://code.pycbc.phy.syr.edu/ligo-cbc/pycbc-config/milestones/3

have been resolved before making the v1.5.7 release.

[2016-11-15 16:07] cmbiwer opened #1241 "Inference checkpointing only write a slice not the entire array"
Assigning this to myself so I don't forget.

Right  now the inference samplers will write the entire chain/acceptance fraction array/etc. every checkpoint. Should just write the size of the checkpoint interval.

[2016-11-16 13:19] duncan-brown commented on #1230
Added @tdent's changes.

[2016-11-16 13:19] #1230 closed

[2016-11-16 13:22] duncan-brown opened #1246 "Add information on PYTHONUSERBASE and XDG_CACHE_HOME to install docs"
It might be helpful to tell users to add
[code]
and
[code]
to their virtualenv activate scripts so that the user site directory and pip caching are done on a per virtual environment basis.

This would avoid the problem that @cdcapano had.

[2016-11-16 14:41] stevereyes01 opened #1247 "Edge case in pycbc_page_snrratehist"
I encountered a bug in `pycbc_page_snrratehist`

[code]

[code]

See https://github.com/ligo-cbc/pycbc/blob/v1.5.7/bin/hdfcoinc/pycbc_page_snrratehist#L71-L89 for the offending lines.

The edge case I think that's occurring here is that the code is trying to build a histogram where the loudest foreground trigger is louder than the entire background AND there is only one foreground trigger in the b

[2016-11-16 17:21] tdent commented on #1156
@cmbiwer I am assuming I would need to use `pycbc.results.save_fig_with_metadata` to make the plot in the plotting executable itself?

[2016-11-16 18:12] cmbiwer commented on #1156
Yeah use ``pycbc.results.save_fig_with_metadata`` to save the figure.

[2016-11-16 22:08] duncan-brown opened #1248 "pycbc_submit_dax can generate endless proxy DNs"
The code in ``pycbc_submit_dax`` that creates a proxy compatible with CVMFS makes a new proxy from an existing proxy every time the script is run:

https://github.com/ligo-cbc/pycbc/blob/master/bin/pycbc_submit_dax#L268

If a user submits multiple DAXes then this will eventually create a DN that is too long for apache:
[code]
and queries to the segment database and datafind will fail with
[code]

[2016-11-17 14:41] zachetienne opened #1251 "No error messages from pycbc_faithsim"
pycbc_faithsim (tested on v1.5.6 and v1.5.7) no longer outputs error messages when errors are encountered. For example, PyCBC v1.5.6 with LALSuite commit de315c9336f1da501203e06c754e12fff6bd86d3 should not work since LALSuite's OutputTDWaveform interface has been updated and is incompatible with what PyCBC expects. But instead of outputting an error message, there is no error output:

... and all

[2016-11-17 14:49] duncan-brown commented on #1251
@ahnitz is the error message suppression a consequence of @micamu's change to the logging?

[2016-11-17 15:15] ahnitz commented on #1251
@duncan-brown No, that's unrelated. The error is suppressed, as there is a try except statement. I think the logic was that people didn't want to stop running just because EOB* failed to generate at some point in parameter space, which used to happen essentially all the time. The except is not passing up the error into a message, which it probably should.

[2016-11-17 15:21] ahnitz commented on #1251
@zachetienne Thanks for reporting this. The code change in #1253 might help with this.

[2016-11-17 15:36] zachetienne commented on #1251
@ahnitz I'm worried that #1253 may partly be a culprit in this; I recognize output from earlier versions of pycbc_faithsim (e.g., the % completion bar) when -V is passed, and now **no** completion bar or error messages are output unless -V is passed. The behavior is inconsistent with "no error output" -> "no error encountered", which I would classify as a bug. It certainly caused me a lot of strif

[2016-11-17 15:44] ahnitz commented on #1251
@zachetienne Yes, that makes sense. I've updated the patch to change the logging level of these errors, so it should be reported all the time.

[2016-11-17 17:25] tdent commented on #1156
@cmbiwer ok.  I'm still not sure why there are two invocations of make_single_hist in the workflow script, i.e.
`wf.make_single_hist(workflow, insp, censored_veto, 'closed_box',
           rdir['single_triggers/%s_trigger_histograms' % insp.ifo],
           bank_file=hdfbank[0], exclude='summ', tags=[tag])`
and
`hists = wf.make_single_hist(workflow, insp, censored_veto, 'closed_box',
           rd

[2016-11-17 17:27] ahnitz commented on #1156
Tom, it is so they can separately addressed in the ini file. One goes to
the front summary page, and one goes to the detailed pages. In principle
you can have many more plots using this code in the detailed page.

On Thu, Nov 17, 2016 at 6:25 PM, Thomas Dent <notifications@github.com>
wrote:

[2016-11-17 18:04] tdent commented on #1156
OK, just that it's not clear why we wanted to do that here since the same plots currently appear on both the summary and the single detector detailed section.  I am guessing that someone was thinking of changing the single detector detailed plots and got halfway towards implementing that but dropped it.

So, specifically, because all the `plot_hist` sections in the current ini file have `plot_hist

[2016-11-17 19:42] stevereyes01 commented on #1247
See https://github.com/ligo-cbc/pycbc/pull/1254

[2016-11-17 20:20] #1247 closed

[2016-11-17 20:54] tdent commented on #1156
See #1249

[2016-11-17 21:19] bbockelm commented on #1248
I think you can distinguish the LIGO proxy from a "valid" proxy by looking at the output of `grid-proxy-info -type`.  If it says something along the lines of `full legacy globus proxy` or `RFC 3820 compliant impersonation proxy`, you do not need to regenerate.

[2016-11-17 22:01] duncan-brown commented on #1248
@bbockelm I get
[code]
I'll ask Warren if there's a reason why we're not generating RFC 3820 compliant proxies.

[2016-11-18 13:58] tdent commented on #1156
Merged.

[2016-11-18 13:58] #1156 closed

[2016-11-18 17:57] duncan-brown commented on #1248
Fixed by https://github.com/ligo-cbc/pycbc/pull/1260

[2016-11-18 17:57] #1248 closed

[2016-11-18 17:57] duncan-brown commented on #1246
Fixed by https://github.com/ligo-cbc/pycbc/pull/1259

[2016-11-18 17:57] #1246 closed

[2016-11-20 13:37] duncan-brown opened #1264 "The Executable() class prevents the use of file URLs on remote sites"
The Executable() class will not let you use a file URL for an executable on a remote site as it forces all file URLs to be on the local site.

[2016-11-20 14:25] duncan-brown commented on #1264
Fixed by https://github.com/ligo-cbc/pycbc/pull/1265

[2016-11-20 14:25] #1264 closed

[2016-11-21 01:35] duncan-brown opened #1270 "workflow.core forces getenv = true for vanilla executables"
The line

https://github.com/ligo-cbc/pycbc/blob/master/pycbc/workflow/core.py#L686

forces ``getenv = true`` for vanilla universe jobs that use installed executables. This breaks using bundles from ``/cvmfs`` on OSG. If the user is using the RHEL7 virtual environment to create the workflow, then this causes jobs to fail on RHEL6 sites with
[code]

The workaround for now is to pass
[code]
to the `

[2016-11-21 01:46] ahnitz commented on #1270
Duncan, I don't think this is a bug, and really should be the default behavior. What in your environment is causing the problem?  Do you understand why exactly the bundle is failing here?

@spxiwh  What do you think?

[2016-11-21 01:52] duncan-brown commented on #1270
@ahnitz it's not the bundle that is failing, it is the python program ``pegasus-transfer`` that is run before the bundle to stage in the data.

The problem is that ``getenv = True`` on an RHEL6 site forces the use of whatever python was used to plan the workflow (i.e. python2.7, if the workflow was planned on RHEL7). This then causes the ``pegasus-transfer`` executable to fail on the remote site,

[2016-11-21 02:07] ahnitz commented on #1270
@duncan-brown Ok, so let me know if the following is correct. You have a virtualenv on CVMS which includes a different version of python than on the OSG site. You environment causes this version to be picked up first before the system python, and because it is not really built for that environment (and doesn't include the required .so files like the bundle) any other python program will fail to ru

[2016-11-21 02:10] duncan-brown commented on #1270
@ahnitz yes, that's right. Moving it up a level is the right thing to do.

[2016-11-21 11:29] tdent opened #1273 "SEOBNRv2 duration function fails for some hyperbank templates"
For high-spin templates the SEOBNRv2 ChirpTimeSingleSpin function gives an input domain error.

We could switch to SimIMRSEOBNRv4ROMTimeOfFrequency as more appropriate for the templates being evaluated; and/or allow the duration getting function to take an approximant argument which could be SEOBNRv2 or SEOBNRv4, maybe with some default.  Views?

[2016-11-21 12:33] spxiwh commented on #1273
SimIMRSEOBNRv4ROMTimeOfFrequency would be okay with me, we're using that in sbank. Feel free to propose a patch.

[2016-11-21 12:35] tdent commented on #1273
OK, but there should be some way of recovering the previous behaviour with SEOBNRv2ChirpTime as it was used for (eg) determining the O1 IMBH bins, as well as for a lot of my binned-by-duration plots.  My preferred path would be to make v4ROM the default but allow an approximant kwarg to get v2 if wanted.

[2016-11-21 13:28] tdent commented on #1273
@spxiwh Hmm, the call to SEOBNRv4ROMTimeOfFrequency seems to take nearly 2ms (!) so calculating duration for millions of triggers will be prohibitive .. it's about 6 minutes for the whole uberbank, so one could cache the value for each template rather than calculating for each trigger, but still a bit of a pain

[2016-11-21 13:39] duncan-brown opened #1275 "The template_id is being stored as a float"
Pull request https://github.com/ligo-cbc/pycbc/pull/1262 broke the way ``template_id`` is stored and now downstream codes fail with:
[code]

[2016-11-21 14:53] tdent commented on #1273
Also, there are a bunch of functions in waveform.py which do similar things (seobnrv2_length_in_time etc.).  We should consolidate waveform.py and pnutils.py functionality; any views which way this should go?

[2016-11-21 17:03] spxiwh commented on #1275
FIxed by #1276

[2016-11-21 17:03] #1275 closed

[2016-11-21 19:12] titodalcanton commented on #1273
Tom, how high are your high spins? Are you using SEOBNRv2ChirpTime for spins > 0.99? If so, failing sounds like a reasonable behavior to me... If you want spins > 0.99 you should be using SEOBNRv4 right? Maybe I just need some context, which function is this?

[2016-11-21 19:38] tdent commented on #1273
Well so far I was calculating duration using the existing function in pnutils get_seobnrrom_duration, which hard-codes SEOBNRv2.  So this means that the duration calculating functions need to be updated and/or rationalized.  I am preparing a patch to remove the duplication and enable the use of the triggers' existing duration values [or any single trigger data field] as the fit param.

[2016-11-22 15:09] duncan-brown opened #1281 "The start script should capture the full submission environment"
It would be nice if the ``./start`` script could capture the full submission environment so that the user doesn't have to remember what environment scripts they sources when resuming a workflow.

[2016-11-22 15:13] ahnitz commented on #1281
@duncan-brown I assume you mean the ./start script? The only thing I can think of is to export your environment to a file when you call pegasus submit dax, and then source it in the script. That would also be nice so you can see your submit environment later too for debugging.

[2016-11-22 15:18] duncan-brown commented on #1281
@ahnitz yes, that's what I was intending with that useful side-effect.

[2016-11-24 17:03] geoffrey4444 opened #1285 "Help injecting analytic waveform into simulated noise?"
I'm a pycbc newbie, so perhaps I'm doing something silly. But I tried stripping down the BBH software injection example here,

http://ligo-cbc.github.io/pycbc/latest/html/inference.html#bbh-software-injection-example

so that I just create the strain and write it to a file.

I would have thought injecting onto zero noise would yield a strain that is just the injected waveform, and subtracting the

[2016-11-24 19:06] cmbiwer commented on #1285
Hey Geoffrey, I noticed in your script:
[code]

But you don't set ``${TRIGGER_TIME_INT}``. So it looks likes its generating a strain with times [-2,2]s in GPS time but you're injection is 1126* in the future so nothing gets injected.

Try:
[code]

[2016-11-24 19:51] geoffrey4444 commented on #1285
D'oh! I knew it was something simple. Thanks! I never noticed that one little line when I was reading the example scripts I linked to.

[2016-11-24 19:51] #1285 closed

[2016-11-25 14:02] Cyberface opened #1286 "Trying to run example inference script"
Hi all, I'm trying to run the example pycbc inference script from master and I get the following error

[code]

I think this is a bug, how do I add this to the bin folder? I can submit a pull request if someone tells me how :).

Sebastian Khan

[2016-11-25 14:04] cdcapano commented on #1286
The problem is the code is named `pycbc_inference`, not `pybc_mcmc` (that was what it was called in an earlier version). What script are you running from? It should be updated to reflect the name change.

[2016-11-25 14:09] cdcapano commented on #1286
@Cyberface Did you use `https://github.com/ligo-cbc/pycbc/blob/master/examples/inference/run_ringdown_example.sh`? Those should be removed. Use the documentation page instead:

http://ligo-cbc.github.io/pycbc/latest/html/inference.html

This is kept up-to-date.

[2016-11-25 14:13] Cyberface commented on #1286
@cdcapano Yes we did, OK we will look at that page instead. I will also remove my pull request :)

[2016-11-25 15:46] #1286 closed

[2016-11-29 13:57] duncan-brown opened #1290 "PyCBC install instructions should describe how to get the ROM data"
Currently the instructions don't explain how to install ROM data or set it up.

[2016-11-29 22:30] titodalcanton commented on #1273
Tom, feel free to close this if #1279 addresses it completely.

[2016-11-29 22:40] #1273 closed

[2016-11-30 00:12] duncan-brown opened #1291 "pycbc_coinc_mergetrigs should report which open failed"
``pycbc_coinc_mergetrigs`` calls ``data = h5py.File(filename, 'r')`` to open the input HDF5 files, but if this fails the underling h5py library does not actually print the name of the offending file. ``pycbc_coinc_mergetrigs`` should catch ``IOError`` print the name of the file, and re-throw the error.

[code]

[2016-11-30 14:37] duncan-brown opened #1292 "The PyCBC summary page should show newSNR not SNR"
The Denty bin rainbow plots have replaced the newSNR histogram. The consensus here is that it would be more useful to keep the newSNR on the left not SNR.

[2016-11-30 14:38] duncan-brown opened #1293 "The caption for the Denty bin rainbow plot should be a bit more verbose"
The Denty bin rainbow figure needs a bit more explanation in the caption and legend about what it is showing (e.g. explain alpha in the caption, add units to template duration in the legend).

[2016-11-30 14:47] duncan-brown opened #1294 "Add Denty bin rainbows to the template bank plot"
It would be useful to color the bank plot with the template durations from the Denty bin rainbow plot.

[2016-11-30 20:51] tdent commented on #1293
ok, so probably the way to do this would be to add a key to the legend saying 'template_duration (s) / fitted slope alpha'
slightly messy to do this while still allowing other choices of binning parameter

[2016-12-01 13:09] duncan-brown commented on #1291
The patch needs to be changed as the code will no longer fail if a HDF5 file is corrupted, which could cause us to lose triggers. See:

https://github.com/ligo-cbc/pycbc/commit/fdb68316f8fb7237f6e1b9a7e9f0c8d507254236

[2016-12-01 17:18] duncan-brown commented on #1291
Fixed by https://github.com/ligo-cbc/pycbc/pull/1304

[2016-12-01 21:15] stevereyes01 commented on #1154
@spxiwh @ahnitz
So I think I've got a working version of hierarchical coinc_statmap. Although, I still need to clean up parts of the code so that it's readable, better documented, and so that it's more Pythonic. I would like to make some plots to double check that everything looks sane. I can do that by hand, but coming up with a way for doing that within the workflow might require some further pl

[2016-12-01 21:20] ahnitz commented on #1154
Steve, the FAR column in the output should just be the heirarchical far.
The exclusive_far stays as it is currently, no need to make anything more
complicated. Let's see you run this over the full-01 run and we'll see if
any additional plots are needed. I don't really think so though, except for
some review testing, but not normally.

On Thu, Dec 1, 2016 at 10:15 PM, Steven Reyes <notifications@gi

[2016-12-01 21:23] stevereyes01 commented on #1154
Alright, thanks Alex, I'll do some reviewing of everything and hopefully have some plots by the weekend.

[2016-12-02 03:12] #1291 closed

[2016-12-02 19:15] duncan-brown opened #1310 "Update install documentation"
Need to fix:

 - [x] Install pegasus 4.7.2
 - [x] Add note about getting ROM data
 - [x] Get releases from PyPi not GitHub

[2016-12-02 20:23] titodalcanton opened #1311 "Segment-related error from pycbc_single_template"
Tom's run with the latest hyperbank [1] failed on pycbc_single_template followups for some IMBH injections. Here's one of the failing commands:

[code]

And the error:

[code]

The inspiral segments file contains two DATA_ANALYSED segments compatible with the --trigger-time, differing only by one second at the end: (1163059103.0, 1163059839.0) and (1163059103.0, 1163059840.0). In pycbc_single_temp

[2016-12-02 20:40] titodalcanton commented on #1311
I can get pycbc_single_template to work with the following patch, which takes into account the padding in selecting the right data segment:

[code]

Ian, is this the correct approach or is there another way this error should be addressed?

[2016-12-02 20:57] duncan-brown commented on #1290
See https://github.com/ligo-cbc/pycbc/issues/1310

[2016-12-02 20:57] #1290 closed

[2016-12-02 21:06] spxiwh commented on #1311
Thanks @titodalcanton. I thought I had tested all the edge cases here (and even edited the segment module to ensure that *all* segments get parsed here!), but it seems I've missed something.

What you say makes sense, but I need some more time to look over and check this is the correct issue. Not sure I'll get that done today though as I'm flying back to Europe later.

[2016-12-02 21:09] spxiwh commented on #1311
As you seem to have a solution can you move this to a pull request?

[2016-12-02 21:10] titodalcanton commented on #1311
Ok, one more data point. There are the two inspiral jobs producing the almost-identical data segments, and they have the following params:
[code]
and
[code]
These look sane to me, so it seems the issue is purely in how select_segments() is deciding how to handle the tricksy case, and I'm going to make a PR with my patch.

[2016-12-02 21:15] duncan-brown commented on #1311
@titodalcanton please tag it as 1.6.1 milestone and I can get a new release made.

[2016-12-02 21:15] spxiwh commented on #1311
Wait. These inputs make no sense. You say we have two data read entries : (1163059103.0, 1163059839.0) and (1163059103.0, 1163059840.0). Why are they like this? If the second job is reading all necessary data, there shouldn't be two jobs here at all.

[2016-12-02 21:17] spxiwh commented on #1311
I tried to comment out my reasons for the choices being made here:

https://github.com/ligo-cbc/pycbc/blob/master/bin/pycbc_single_template#L38

Not really sure adding pad-data here is needed. Data read in should already include padding (regardless of what arguments actually go to pycbc_inspiral) and data analysed should be accurate.

So I do *not* think padding is the issue.

[2016-12-02 21:21] titodalcanton commented on #1311
So is the issue instead that we have two inspiral jobs where one would be sufficient? That was my other guess...

[2016-12-02 21:27] spxiwh commented on #1311
If the lock goes between 1163059103.0 and 1163059840.0 (737 seconds) this should have been segmented as two inspiral jobs. However, each job should have read in 512 + (pad-data) * 2 seconds. What are the DATA_ANALYSED segments for this case, and can you confirm that this is the span of the lock?

The change you made does make sense though, and I'll approve it, but the existing code should have wor

[2016-12-02 21:40] titodalcanton commented on #1311
From the daily page https://ldas-jobs.ligo-wa.caltech.edu/~detchar/summary/day/20161113/ I see that indeed there is such a segment of H1:DMT-ANALYSIS_READY:1,
[code]
From Tom's H1L1-INSP_SEGMENTS-1161961217-1242000.xml I see
[code]
where seg def 2 corresponds to H1's DATA_ANALYSED.

[2016-12-03 00:22] ahnitz opened #1315 "pycbc live: template_id does not match bank file"
The template id in pycbc live output files does not match the order of the template bank file. Instead it represents the order after sorting by mchirp.

[2016-12-05 16:49] titodalcanton commented on #1311
Thanks for the zeal github, but reopening as this needs further investigation.

[2016-12-05 17:05] zachetienne opened #1318 "pycbc_faithsim: Spurious Faithfulness Calculations?"
In short:
The two virtually _identical_ waveforms compared here (red & green) [outputagreement.pdf](https://github.com/ligo-cbc/pycbc/files/631728/outputagreement.pdf)
apparently yield a faithfulness of 0.197 as measured by pycbc_faithsim. Something strange is happening.

Details:
I am trying to confirm that SEOBNRv3_opt and SEOBNRv3 generate results that agree to roundoff error so that code revie

[2016-12-05 17:41] lppekows opened #1319 "Page generation chokes on non-ascii characters"
@tdent hit the error
[code]

when attempting to generate a result page where the last commit had come from Lorena (whose full name can not be contained in mere ascii!)

Internally Jinja already uses Unicode (http://jinja.pocoo.org/docs/dev/api/#unicode), so it is just necessary to convert inputs to the template and the resulting output  accordingly, see http://stackoverflow.com/questions/22181944/

[2016-12-05 21:43] duncan-brown commented on #1310
Fixed by https://github.com/ligo-cbc/pycbc/pull/1320

[2016-12-05 21:43] #1310 closed

[2016-12-06 10:50] spxiwh commented on #1318
lalsuite version 50ddfa5fce0742e50ff3b144169c1b0582b96547 seems unrelated to SEOBNRv3_opt. And indeed there is no waveform called SEOBNRv3_opt_rk4 or SEOBNRv3_opt on that branch. Is the lalsuite tag correct?

[2016-12-06 13:00] zachetienne commented on #1318
Whoops, skipped a step! I modified the instructions and attached the patch to add these approximants.

[2016-12-06 13:04] spxiwh commented on #1318
Why not apply the latest patch here?

https://bugs.ligo.org/redmine/issues/4849

(which is what I'm installing at the moment after getting a pointer from Andrea)

[2016-12-06 13:06] zachetienne commented on #1318
... because I just discovered that the latest patch has an error. I'm working on updating it now.

[2016-12-06 13:47] spxiwh commented on #1311
I've been following this up now, and there is an underlying problem here. The symptom is that PyCBC is only analysing segments longer than 720s and not 520s as expected. The issue is in the functions determining valid_time for the pycbc_inspiral executable. Need to explore this a bit more before proposing a solution. This wasn't noticed in testing because previously we used a 256s segment length.

[2016-12-06 13:48] duncan-brown commented on #1311
@spxiwh I will go ahead and tag 1.6.1 with @titodalcanton's fix and then we can release 1.6.2 once you have fixed the underlying issue.

[2016-12-06 13:51] spxiwh commented on #1311
@duncan-brown Okay, but we should fix this before starting O2 analyses (and be aware of that!). I'll try and get a solution today or tomorrow.

[2016-12-06 13:54] duncan-brown commented on #1311
@spxiwh noted: https://github.com/ligo-cbc/pycbc/releases/tag/v1.6.1

[2016-12-06 14:16] zachetienne commented on #1318
Just fixed the patch against latest master (as of 8 hours ago). Here's the location: https://bugs.ligo.org/redmine/attachments/5443/AGAINST_MASTER__SEOBNRv3_opt__Fix__SpinAlignedEOBversion-to-PrecEOBversion.patch

[2016-12-06 15:27] spxiwh commented on #1318
Hi @zachetienne. I managed to reproduce your plots using 50ddfa5fce0742e50ff3b144169c1b0582b96547 and the mentioned patch.

*BUT* your outputagreement.pdf is not the same waveform as the faithsim used. Specifically you ignored two intrinsic parameters: [the poorly named] coa_phase and inclination. If one sets these to the values specified by the faithsim file, and generates two waveforms directly

[2016-12-06 16:21] zachetienne commented on #1318
Very interesting. This must be related to a recent change in LALSimulation; when I performed the faithsim analysis comparing v3 and v3optrk4 a few months ago, the mismatches were tiny and within roundoff error.

Thanks to your explanation, I have confidence that our newest patch against master fixes this issue. In short, there is a new variable called "polariz" within lalsimulation/src/LALSimInspi

[2016-12-06 16:43] #1311 closed

[2016-12-07 14:26] duncan-brown opened #1326 "The code that refreshed the proxy in the start script is broken"
The code generated by ``pycbc_submit_dax`` in the start script is broken. It looks like some ``$``'s need to be escaped:
[code]

[2016-12-07 16:11] duncan-brown commented on #1326
Fixed by https://github.com/ligo-cbc/pycbc/pull/1327

[2016-12-07 16:11] #1326 closed

[2016-12-07 16:57] zachetienne commented on #1318
You were correct; the additional parameters were at fault, and now the problem is solved. No issues with pycbc. Hooray!

[2016-12-07 17:43] #1318 closed

[2016-12-13 11:21] spxiwh opened #1338 "pycbc_generate_hwinj is broken"
The lines:

[code]

have broken pycbc_generate_hwinj, because these always evaluate to True. Reason: These are all multi-detector defaultdict types, which evaluates to True even when empty. Probably the best thing to do is for me to sub-class the defaultdict's __bool__ attribute (or whatever it is in python2.X) to evaluate to False if empty.

[2016-12-13 14:00] spxiwh commented on #1338
This seems broken in a few other places as well.

[2016-12-13 15:07] cmbiwer commented on #1338
I like this suggestion and then I don't think anything in ``pycbc_generate_hwinj`` needs to be changed.

[2016-12-13 15:12] spxiwh commented on #1338
There were two other issues with this code:
[code]

... Posting this here so I don't lose track when I get a chance to look at the MultiIfo option stuff

[2016-12-16 13:08] spxiwh commented on #1319
I have a patch for this open (didn't realise this was already an issue, so wasn't connected) #1341

[2016-12-16 13:08] #1319 closed

[2016-12-16 13:09] #1251 closed

[2016-12-16 19:16] cmbiwer commented on #1338
Ian fixed this in #1342 so I'll close. Thanks Ian.

[2016-12-16 19:16] #1338 closed

[2016-12-16 20:55] cmbiwer commented on #1241
Collin fixed this.

[2016-12-16 20:55] #1241 closed

[2016-12-20 04:16] ahnitz commented on #1315
Fixed on pycbc_live_dev. When we next switch the bank, we'll update to that version. For now a presorted template bank resolves the issue.

[2016-12-20 04:16] #1315 closed

[2016-12-20 16:42] titodalcanton opened #1349 "Bank plot on summary page should show other coordinates"

[2017-01-05 18:45] titodalcanton commented on #1349
See #1363.

[2017-01-05 18:45] #1349 closed

[2017-01-05 19:10] tdent commented on #1293
Here's a version using the legend title kwarg : https://www.atlas.aei.uni-hannover.de/~tdent/LSC/tests/plot_binnedhist/H1-PLOT_BINNEDHIST_DURATION_FULL_DATA_TESTLEGEND-1164556817-1209600.png

[2017-01-05 19:26] tdent commented on #1293
Can look at the caption in place here : https://www.atlas.aei.uni-hannover.de/~tdent/LSC/er10/tuning/o2w1_2_vlfc_thorne_0p9fp/3._single_triggers/3.03_H1_binned_histograms/
however, the tex rendering doesn't seem to be working with my current version.

[2017-01-05 20:48] cmbiwer opened #1364 "Mathjax in orange.html template"
Javascript needs to be linked in this template so if someone makes a page expected LaTeX it renders. Currently we have a gum and cotterpins implementation in that mathjax will only render implicitly if the loudest results table in on the same page.

Should be as simple as copying and pasting it in the header.

[2017-01-17 20:57] duncan-brown opened #1379 "Error in PyCBC documentation build"
The process of building the documentation causes the code to actually *make* a plot that is displayed on my X server. The doc build pauses until the plot is closed and then continues (see attached screenshot).

<img width="1636" alt="screen shot 2017-01-17 at 3 54 41 pm" src="https://cloud.githubusercontent.com/assets/11262902/22039483/8cecdafa-dccd-11e6-985e-250d0b2c2158.png">

[2017-01-18 11:10] #1379 closed

[2017-01-18 19:24] zachetienne opened #1381 "Loss of Significance in PyCBC"
I am engaged in generating loads of faithfulness tests to confirm that my group's optimized version of SEOBNRv3 yields faithfulness consistent with machine epsilon-level perturbations to initial parameters in the original SEOBNRv3. (See https://www.lsc-group.phys.uwm.edu/ligovirgo/cbcnote/WaveformsReview/SEOBNRv3_opt for more details.)

The issue is that SEOBNRv3 is terribly sensitive to very tiny

[2017-01-18 19:27] duncan-brown commented on #1381
@zachetienne I'm curious: if the SEOBNRv3 generator is that sensitive to the input physics, what does that tell us about our ability to measure the parameters of physical waveforms using these approximants?

[2017-01-18 19:34] zachetienne commented on #1381
Great question. I've addressed it in large part on the SEOBNRv3_opt code review wiki page. Scroll down to the faithfulness test tables, and check out the comparison between v3 and v3_pert. The former is SEOBNRv3 and the latter is exactly the same as SEOBNRv3, but with a machine-epsilon level perturbation on the initial parameter m1. Indeed there are a few cases in which this perturbation "blows up

[2017-01-18 19:43] duncan-brown commented on #1381
Thanks, that is reassuring. I would hope that the sensitivity to initial conditions for e.g. mostly aligned, moderately spinning, O(10) Msun BBHs is better than the accuracy to which we can measure the parameters. For cases where close to e.g. transitional precession I might expect chaotic behavior. What is L_N dot S_total for the blue dots?

[2017-01-18 19:47] duncan-brown opened #1382 "The DAX job generated for minifollowups is not completely DAX compliant"
The job created in the main workflow is not completely DAX compliant. The HDF merge files are not given on the command line using the <file name="" /> syntax. The code works, as they are listed as input files so Pegasus transfers them to the working directory and the code finds them. I seem to recall a discussion with @spxiwh that he couldn't get the ``--option H1:filename1 L1:filename2`` syntax t

[2017-01-18 20:39] zachetienne commented on #1381
As far as we can tell, the problem with the low-faithfulness cases is the combination of large roundoff errors (when solving the EOB equations of motion, v3 takes numerical, as opposed to exact derivatives, of the EOB Hamiltonian) and if() statements within the v3 code that are prone to roundoff-level branchings (e.g., the ODE integration stopping condition and the ringdown-attachment-time-finder

[2017-01-18 21:10] duncan-brown commented on #1381
@zachetienne interesting, thanks. I'll have to ponder this a bit.

[2017-01-19 08:44] spxiwh commented on #1382
Hi @duncan-brown @vahi, this was not a deliberate decision to do things like this. It was a requirement because of [I believe] a bug in pegasus (or at least in the version we were using when this functionality was added). Fixing this from the PyCBC side is easy, we just *remove* the hack that was added to deal with this. This is basically revert *most of* this:

https://github.com/ligo-cbc/pycbc/p

[2017-01-19 13:24] duncan-brown commented on #1382
@spxiwh thanks I opened a Pegasus bug ticket https://jira.isi.edu/browse/PM-1153

Once that is fixed, we can revert the hack. I will leave this open for now so we don't forget.

[2017-01-19 16:52] vahi commented on #1382
Yes i agree this is an issue and in the past the way around has been to not have the filename tag in the arguments section
I will look into it

Thanks
Karan

[2017-01-21 15:18] #1293 closed

[2017-01-24 22:54] vahi commented on #1382
@duncan-brown @spxiwh can you please install 4.7.3dev nightly build and try it out http://download.pegasus.isi.edu/pegasus/4.7.3dev/

It has fixes for
- the DAX argument parsing  https://jira.isi.edu/browse/PM-1153
- dax generation jobs with Hashed Staging mapper https://jira.isi.edu/browse/PM-1132
@spxiwh    At the moment you probably have
  pegasus.dir.submit.mapper=Flat
  pegasus.dir.staging.ma

[2017-01-25 15:46] spxiwh opened #1398 "Adding text/comments to html pages"
It would be nice to be able to add short blocks of text/comments or even raw html to the html result pages. For example on the page here:

https://galahad.aei.mpg.de/~spxiwh/LVC/aLIGO/O2/analyses/O2_chunk3/prelim_analyses/C00_ODC_MASTER/run7a/5._injections/5.02_followup_of_missed_BNSSTT2_INJ/

It would be nice to add in the white box, just before A1, a note stating that we are defining "missed" to

[2017-01-25 21:50] stevereyes01 commented on #1154
This got merged, so I'm closing this. See https://github.com/ligo-cbc/pycbc/pull/1328

[2017-01-25 21:50] #1154 closed

[2017-01-26 01:16] ahnitz commented on #1398
@spxiwh It could be made easier to do this, but it can already be done by simply writing that string or html or whatever to a file and including the workflow.core.File handle to that file in your layout. The webpages already know to include content with a .html extension. In fact it is how that parameter table is made to begin with. Are you just asking for a helper function here that does the foll

[2017-02-03 15:53] spxiwh opened #1418 "A workflow-supplied argument can also be given in the .ini file"
Some workflow generators control job-specific arguments (like times or input files). These arguments are not expected to be given in the ini file. However, one *can* give such options in the ini file, which will result in the option being specified *twice* to a job.

The code should raise an error if the workflow generator tries to add an option that is already present in the ini file. Currently t

[2017-02-06 08:22] spxiwh opened #1421 "Make average PSD in coinc search workflow"
As we need an averaged PSD to check the template bank for each chunk it makes sense to have that  produced automatically. I think the easiest thing is to add `pycbc_average_psd` to `pycbc_coinc_search_workflow`.

[2017-02-07 21:47] duncan-brown opened #1423 "pycbc_submit_dax does not print an error if no grid proxy exists"
It just exits silently. @lmagana3 knows how to fix.

[2017-02-08 02:06] duncan-brown opened #1424 "Missing option for OSG running"
The OSG instructions for ``pycbc_make_coinc_search_workflow`` is missing the required config override
[code]
This is what is causing @josh-willis' jobs to fail in the run at

https://sugwg-osg.phy.syr.edu/pegasus/u/jwillis/r/59/w?wf_uuid=a19a76da-72f8-41f1-8b44-37bae67cc65b

[2017-02-08 11:33] duncan-brown opened #1425 "Problem with weave compiles in multi-core codes"
I am still seeing weave compiles tripping over each other in compute_psd multicore jobs. @ahnitz, I think the quick solution is just to add a ``psd()`` before the multiprocesing so that it's pre-compiled?

[code]

[2017-02-08 11:37] duncan-brown commented on #1425
It looks like it's doing this, so I'm not sure why it's failing:

https://github.com/ligo-cbc/pycbc/blob/master/bin/hdfcoinc/pycbc_calculate_psd#L97

Certainly, I can just increase the number of times condor tries this job, as it gets picked up on a re-run.

[2017-02-08 11:38] duncan-brown opened #1426 "Bump up the priority of bank2hdf and injections jobs"
On a busy cluster, these can get stuck behind inspiral jobs:
[code]

[2017-02-08 11:41] duncan-brown commented on #1426
And these
[code]

[2017-02-08 11:48] duncan-brown commented on #1425
[code]

[2017-02-08 11:50] duncan-brown commented on #1426
And these
[code]

[2017-02-08 21:24] ahnitz opened #1428 "[high priority] Memory requirements regularly exceeded making workflows impractical to run"
Currently, when a small subset of jobs exceed the stated memory usage in condor they are held on some clusters. This causes running workflows to be painful and impractical in a production manner. @duncan-brown has suggested there is a way to inform condor to resubmit the job with increased memory requirements making this a dynamic choice.

[2017-02-09 15:18] duncan-brown commented on #1428
Closing this here, as I think I can just do this with profile changes in the ini files.

[2017-02-09 15:18] #1428 closed

[2017-02-09 15:38] duncan-brown commented on #1428
Here's the issue and the solution:

1. Assuming that atlas/vulcan are implementing the memory use algorithm correctly*, then they are actually doing the right thing (as is sugar) in killing jobs that use more RAM than they ask for in RequestMemory.

* which I am not sure that they are, but someone needs to talk to Carsten about that... sugar uses ``cgroups`` to do this which is the most reliable w

[2017-02-09 15:58] duncan-brown commented on #1426
This is really an ini file change:
[code]

[2017-02-09 15:58] #1426 closed

[2017-02-09 16:00] duncan-brown commented on #1425
Needs more debugging, but for the time being I modified the ini file to just keep trying:
[code]

[2017-02-09 18:16] cmbiwer opened #1431 "Requests for PyCBC Inference Documentation"
Particularly @stevereyes01 please look at the documentation and if something isn't clear please make suggestions.

Also @cdcapano if there's things you think need to be updated please add them here.

Right now, I still need to update the workflow documentation.

[2017-02-10 13:36] tapaimarton opened #1436 "pegasus submit dag may not be using hostname -f"

[2017-02-10 16:50] stevereyes01 commented on #1431
Will do. Thanks.

[2017-02-10 18:32] duncan-brown commented on #1436
The hostname comes from querying the pegasus database, so I think this is actually a Pegasus bug:

https://github.com/ligo-cbc/pycbc/blob/master/bin/pycbc_submit_dax#L517

I opened a Pegasus bug here, so closing this:

https://jira.isi.edu/browse/PM-1160

[2017-02-10 18:32] #1436 closed

[2017-02-14 15:06] duncan-brown opened #1445 "It is impossible to turn trigger fitting off with a config overrride"
Trigger fitting is enabled by the presence of the option
[code]
The workflow script just checks that this option exists, not whether it says ``True`` or ``False``:

https://github.com/ligo-cbc/pycbc/blob/b86c81cb6a0109688fd093d5aa44495932676ba7/pycbc/workflow/coincidence.py#L227

Consequently you cannot turn it off with a ``--config-override``.

[2017-02-15 14:31] duncan-brown opened #1447 "The output map should contain valid gsiftp URLs"
Currently our output maps are formatted as
[code]
I think that if we make the URL a vaild gsiftp URL, but leave ``pool="local"`` then local re-use will copy/link the file and remote reuse just requires changing ``local`` to ``remote``. Then our result pages will also capture the cluster where the job is run.

Plus non LDG-Tier 2 centers could set up a gridftp server that anyone in the LSC can acce

[2017-02-15 15:16] duncan-brown opened #1448 "The minifollowup output map file must be listed as an input file for Pegasus 4.7.3"
Pegasus 4.7.3 now runs sub-dax planning as a regular job, so any files required by a sub-dax planning job need to be specified in the DAX. In particular, the output map used by minifollowups needs to be listed as as input file. Currently we have:
[code]
so Pegasus does not know to stage the file ``H1L1-FOREGROUND_MINIFOLLOWUP_FULL_DATA_FULL_CUMULATIVE_CAT_12H-1166486417-2620801.dax.map``. In 4.7.2

[2017-02-15 15:51] duncan-brown opened #1449 "Matplotlib 2 is making tiny unreadable plots"
Our rcparams needs fixing.

[2017-02-15 16:53] duncan-brown commented on #1431
@stevereyes01 any update on this?

[2017-02-15 20:20] stevereyes01 commented on #1431
I haven't run the examples in the documentation (http://ligo-cbc.github.io/pycbc/latest/html/inference.html) yet (I'll do that now).

Having example plots of the posteriors though in the last section would probably help the readability of the entire document though.

[2017-02-16 14:41] duncan-brown commented on #1448
Fixed by https://github.com/ligo-cbc/pycbc/pull/1451

[2017-02-16 14:41] #1448 closed

[2017-02-16 22:10] duncan-brown commented on #1424
Fixed by https://github.com/ligo-cbc/pycbc/pull/1453

[2017-02-16 22:10] #1424 closed

[2017-02-16 22:14] duncan-brown opened #1454 "Merge E@H build infrastructure into PyCBC master"

[2017-02-16 22:15] duncan-brown commented on #1449
For now, I downgraded the virtualenv to matplotlib 1.5.3...

[2017-02-16 22:15] #1449 closed

[2017-02-17 13:48] duncan-brown commented on #1454
https://github.com/ligo-cbc/pycbc/pull/1455

[2017-02-17 13:48] #1454 closed

[2017-02-17 19:09] duncan-brown opened #1458 "Documentation error in sinegauss"
[code]

[2017-02-17 19:10] duncan-brown commented on #1458
My bad. Stale build.

[2017-02-17 19:10] #1458 closed

[2017-02-20 17:49] duncan-brown opened #1464 "Typo in bundle build script"
The parsing of the ``--with-extra-approximant`` option is broken:

https://github.com/ligo-cbc/pycbc/blob/master/tools/einsteinathome/pycbc_build_eah.sh#L260

[2017-02-20 19:08] soumide1102 commented on #1464
Should be fixed in https://github.com/ligo-cbc/pycbc/pull/1467

[2017-02-20 19:14] #1464 closed

[2017-02-24 17:12] duncan-brown opened #1477 "pycbc_inspiral should have an command line option to print the lalsuite hash"
Currently ``--version`` outputs
[code]
but there is no way to check the actually lalsuite hash at runtime.

[2017-02-27 17:35] duncan-brown commented on #1423
@lmagana3 has this been fixed?

[2017-02-27 21:30] lmagana3 commented on #1423
@duncan-brown Yes, here is the link to the commit: https://github.com/ligo-cbc/pycbc/commit/aeef7eb092aa9fc7dd069661d5ed72e4d2c09a17

[2017-02-28 13:16] #1423 closed

[2017-02-28 13:19] duncan-brown opened #1480 "The inspiral segment files should contain a version number"
The ``INSP_SEGMENTS`` produced by ``pycbc_coinc_search_workflow`` should contain a version number to allow them to be processed by the standard segment tools. Currently it is blank:
[code]

[2017-02-28 13:40] duncan-brown opened #1481 "The workflow generators should write a veto definer file for reproducatibility"
If the veto definer file contains a segment type with a zero end time, then it is possible that two runs of the workflow will not produce the same results if someone has changed the segments in the database.

For reproducibility, the workflow generator should write out a veto definer file with start and end times populated based on the segment summary table in the database *at the time the workflo

[2017-02-28 13:57] ahnitz commented on #1481
@duncan-brown This seems like a good idea. Is it worth actually having a check, like Ian has done for a lot of other segment issues, that sees if the veto has been defined for the entire period of the analysis?

[2017-02-28 16:33] duncan-brown commented on #1477
Fixed by https://github.com/ligo-cbc/pycbc/pull/1482

[2017-02-28 16:33] #1477 closed

[2017-02-28 19:51] duncan-brown commented on #1480
Fixed by https://github.com/ligo-cbc/pycbc/pull/1483

[2017-02-28 19:55] #1480 closed

[2017-02-28 23:06] duncan-brown commented on #1445
Fixed by https://github.com/ligo-cbc/pycbc/pull/1484

[2017-02-28 23:06] #1445 closed

[2017-03-01 02:14] duncan-brown opened #1486 "The results page versioning module is broken for PyPI releases"
If the executables in a workflow come from a PyPI release, then the version page says:
[code]

This is because it is looking for the string ``Id:`` in the output of ``--version`` but a release says:
[code]

[2017-03-01 02:43] duncan-brown commented on #1486
Fixed by https://github.com/ligo-cbc/pycbc/pull/1487

[2017-03-01 02:43] #1486 closed

[2017-03-07 13:32] duncan-brown opened #1499 "Improvements to results pages"
Each section title should be hyperlinkable so you can e.g. go directly to missed injection 3.

[2017-03-07 20:48] duncan-brown opened #1502 "Remove pycbc_mvsc_get_features?"
Should ``pycbc_mvsc_get_features`` be removed?

[2017-03-09 03:12] duncan-brown opened #1507 "E@H build script should use r11 of the lal data"
Currently the script uses r7, but this is missing the SEOBNRv4 ROM data. The code change is trivial, but I don't have access to albert.phy.syr.edu to post a new version of the ROM data tarball.

@bema-ligo please can you create an r11 tarball and put it on albert?

[2017-03-14 12:36] tdent opened #1520 "hdfinjfind goes into a zombie-like state if no veto definer is given"
If the veto file is None, the call to ligolw_utils.load_filename() seems to go into an ill-defined state that doesn't produce an error yet doesn't yield a result either.  Either the code should not allow veto-file = None or (preferable) it should do something logical / correct if the option is not given.

[2017-03-15 11:26] bema-ligo opened #1522 "silencing pycbc_inspiral in E@H build"
Silencing pycbc_inspiral (for Travis, see #1505) by piping the output through whatever tool in a shell script (as in 7e8446b70a1f9c60d5c5c25ce7ffc050649870f7) is not a good idea, as it
- lacks the flexibility to see the output if you want it, and more importantly
- the pipe succeeds even if pycbc_inspiral (i.e. the analysis) fails
Could we rather raise the verbosity level for the messages in PyCBC

[2017-03-15 14:03] bema-ligo commented on #1522
The `--verbose` switch switches between the log levels 'warning' and 'debug' (as does a USR1 signal). However, the regular messages all have level 'info', which is between. I suggest to lower the level of frequent messages to 'debug' and add another command-line option --info that set the log level to 'info', such that only the infrequent one-time messages will appear.

I'll try to prepare a PR fo

[2017-03-15 16:32] duncan-brown commented on #1522
@bema-ligo this sounds good, thank you.

[2017-03-15 22:32] duncan-brown opened #1525 "Check to see if our HDF5 files have checksums turned on"

[2017-03-15 22:33] duncan-brown opened #1526 "Check to see if we should be using down-sampled frames"
And tell @stuart.b.anderson what sample rate they should be generated at.

[2017-03-16 21:22] spxiwh commented on #1525
This came up at the "HDF formats" discussion.

HDF does not have top-level checksum a la frame files, but it does have a per dataset checking feature (fletcher32):

http://docs.h5py.org/en/latest/high/dataset.html#fletcher32-filter

We should probably just turn this on.

[2017-03-16 21:29] ahnitz commented on #1525
BTW, if someone wants to turn this on globally, the best way is to add a
method to this class here (wrapper of the h5py.File class).

https://github.com/ligo-cbc/pycbc/blob/master/pycbc/io/hdf.py#L24

and simply modify the setitem / getitem. We've done a similar thing in the
statmap code that could be moved here to also enable a certain compression
level by default. Then everything just uses the i

[2017-03-21 13:05] spxiwh opened #1532 "Template bank workflows are broken"
Fix #1451 broke template bank workflows, which *were* handling the output mapper correctly.

:-( .... You try to do things right and then get bitten by people fixing other people doing things wrong!

I'll try to get to fixing this, but this is a warning not to use any release containing #1451 for template bank generation.

[2017-03-21 21:04] titodalcanton commented on #1532
@spxiwh is there anything left preventing the bank workflow generator from running in Travis? That would give a big boost to the coverage of the tests.

[2017-03-21 21:06] ahnitz commented on #1532
@titodalcanton @spxiwh If it doesn't require ldg resources (segment server / ldr) then I think this is doable.

[2017-03-22 09:30] spxiwh commented on #1532
It does not need these things. What needs to be done to make this happen?

[2017-03-22 16:43] #1532 closed

[2017-03-22 16:45] spxiwh commented on #1532
Look it worked! Closed on it's own ... This makes me more happy than it should!

[2017-03-27 16:24] spxiwh opened #1539 "SCIENCE time output on PyCBC pages seems incorrect"
On the PyCBC output pages it appears that SCIENCE_OK is being used in the SCIENCE column for pycbc_page_segtable output. I believe the problem is:
[code]
as this would match SCIENCE *and* SCIENCE_OK.

[2017-03-27 16:28] spxiwh commented on #1539
@cmbiwer We would like to have this resolved for chunk 7 box openings tomorrow. Any chance you could look at this today? (If not I'll try and do it tomorrow)

[2017-03-28 14:21] #1539 closed

[2017-03-28 14:22] cmbiwer commented on #1539
@spxiwh Sorry I wasn't able to do this yesterday, I was driving back to Syracuse. Thanks for making the PR.

[2017-03-29 14:12] spxiwh opened #1542 "Slicing an array to return every other sample"
There currently seems to be no way to do something like:

[code]

with a pycbc TimeSeries.

[2017-04-05 14:23] duncan-brown opened #1558 "Increment LALSuite version for bank simulation patches"

[2017-04-05 14:28] spxiwh commented on #1558
Okay v1.7.0 lalsuite tag @duncan-brown @alex-nitz: I was suggesting this:

https://github.com/lscsoft/lalsuite/compare/a2a5a476d33f169b8749e2840c306a48df63c936...lscsoft:d95b42a7ca902c71ba3ba60e4c28fba9c282e10a

But a more minimal:

https://github.com/lscsoft/lalsuite/compare/a2a5a476d33f169b8749e2840c306a48df63c936...lscsoft:539c8700af92eb6dd00e0e91b9dbaf5bae51f004

should do it. The sbank commit

[2017-04-05 14:54] duncan-brown commented on #1558
@spxiwh thanks, fixed by https://github.com/ligo-cbc/pycbc/pull/1559

[2017-04-05 14:54] #1558 closed

[2017-04-05 20:38] spxiwh opened #1562 "Minifollowups should use f-lower from template bank"
Looks like single_template is not equivalent to the search as it is not using the variable f-lower, this should be easy enough to get from the templates as we do for other mass/spin parameters.

[2017-04-07 09:43] #1187 closed

[2017-04-07 12:21] #1562 closed

[2017-04-09 15:11] duncan-brown commented on #1187
The sequence of pull requests used to implement the switch of Travis to use the E@H build script are:

 * https://github.com/ligo-cbc/pycbc/pull/1505 is the main pull switching over the build infrastrastructure.
 * https://github.com/ligo-cbc/pycbc/pull/1509 and https://github.com/ligo-cbc/pycbc/pull/1511 are bug fixes so that the git checkout used by Travis works on branches as well as pull reque

[2017-04-09 15:13] duncan-brown opened #1581 "Use Travis to deploy a bundled ``pycbc_inspiral`` and a virtual environment to CVMFS"
We should use Travis' ability to build, test, and deploy to push a bundled ``pycbc_inspiral`` executable and a full virtual environment to ``/cvmfs`` so that this does not have to be done manually when PyCBC is released.

[2017-04-09 15:15] duncan-brown commented on #1581
The pull requests that implement this are:
 * https://github.com/ligo-cbc/pycbc/pull/1568 is the main change adding SL 6 and CentOS 7 Docker containers to a Travis matrix build.
 * https://github.com/ligo-cbc/pycbc/pull/1576 fixed a bug and turns on deployment to CVMFS.
 * https://github.com/ligo-cbc/pycbc/pull/1578 reduces the amount of debugging output as Travis will fail if the log gets too lon

[2017-04-09 15:15] #1581 closed

[2017-04-09 15:21] duncan-brown commented on #1581
This infrastructure also uses the pull requests to use Bernd's E@H test script documented at
 * https://github.com/ligo-cbc/pycbc/issues/1187

[2017-04-09 15:21] duncan-brown commented on #1581
![giphy](https://cloud.githubusercontent.com/assets/11262902/24838482/b8fae77a-1d16-11e7-9433-3e7b0282ad69.gif)

[2017-04-10 00:36] duncan-brown opened #1585 "Create a PyCBC container on Docker"
This can be used to run code on various platforms by end users, as well as speed up the Travis tests. For information, see https://github.com/probonopd/AppImageKit/wiki/Docker-Hub-Travis-CI-Workflow and https://docs.travis-ci.com/user/docker/

[2017-04-10 11:47] duncan-brown commented on #1581
A few extra fixes were needed that were not part of the above pull requests. For posterity, they are:
 * https://github.com/ligo-cbc/pycbc/commit/7a1f36d55b50b20955b6f8ba7f6f768121c7f1aa
 * https://github.com/ligo-cbc/pycbc/commit/c13f56733cf681b7fa41be904c16281ef253de0f
 * https://github.com/ligo-cbc/pycbc/commit/2f5794b9fe91aa33587904fc59402f5356c493e7 (obsoleted by https://github.com/ligo-cbc/p

[2017-04-10 21:35] duncan-brown commented on #1585
Fixed by https://github.com/ligo-cbc/pycbc/pull/1589

[2017-04-10 21:35] #1585 closed

[2017-04-11 02:14] duncan-brown commented on #1581
For extra credit, clean up the build and deploy a PyCBC docker container: https://github.com/ligo-cbc/pycbc/pull/1589

[2017-04-11 03:17] duncan-brown commented on #1581
Docker is working:
[code]

[2017-04-11 03:19] duncan-brown commented on #1581
And the virtual environment deployment is working:
[code]

[2017-04-11 03:21] duncan-brown commented on #1581
The bundle is also working:
[code]

[2017-04-11 03:28] duncan-brown commented on #1581
Test of the virtual environment from CVMFS passes:
[code]

[2017-04-11 03:28] duncan-brown commented on #1581
OK, *now* this gets a Boris:

![giphy](https://cloud.githubusercontent.com/assets/11262902/24891688/68c80ca8-1e45-11e7-970f-08c7bc1bcb1a.gif)

[2017-04-11 05:06] bema-ligo commented on #1507
@duncan-brown could you create the tarball for me, I'll put it on Albert then and update the script with the md5 checksums.

[2017-04-11 15:35] #1542 closed

[2017-04-11 20:58] stevereyes01 commented on #1431
Chris, can you add more explanation to the section : **Plotting a thinned chain of samples**

What does it mean to look at a thinned chain of samples?

What should a user be looking for when they decide to look at the posteriors after X samples vs after X+1 samples and so on?

What are some ways of checking that we've done enough samples such that "burn-in" has been accomplished? How do we know th

[2017-04-13 15:08] stevereyes01 opened #1601 "Include hierarchical removal tab in the results page"
People are welcome to give me pointers or hints, or even help me out. But this is the final direction I think the hierarchical removal project should move towards.

********************************************************************************

All of the plots and tables that have been requested for doing hierarchical removal are merged or in the process of being merged. The last thing to do is

[2017-04-16 10:51] #1522 closed

[2017-04-18 05:41] bema-ligo commented on #1507
@duncan-brown ... or tell me where to get the data from. The current one was taken from Atlas in /usr/share/lalsimulation, but there is no SEOBNRv4 there.

[2017-04-18 13:05] duncan-brown commented on #1507
Pull request now open on this https://github.com/ligo-cbc/pycbc/pull/1617

[2017-04-18 13:05] #1507 closed

[2017-04-18 13:06] duncan-brown opened #1618 "The E@H build test does not exercise the waveform compression code"
This means that the bundled executable created for the OSG is missing the code that @soumide1102 needs to decompress the waveforms.

@soumide1102 please can you point me to a small bank that can be used to test and build the compression code?

[2017-04-18 13:07] duncan-brown commented on #1618
The bank needs to contain all of the approximants that will be used in practice (Taylor, EOB, etc.)

[2017-04-18 14:39] soumide1102 commented on #1618
@duncan-brown  This is the command I used to build my OSG bundle :
[code]

[2017-04-18 15:37] duncan-brown commented on #1618
@soumide1102 thanks, pull request with a test in now at https://github.com/ligo-cbc/pycbc/pull/1621

[2017-04-18 15:37] #1618 closed

[2017-04-19 14:41] cmbiwer commented on #1364
Fixed this.

[2017-04-19 14:41] #1364 closed

[2017-04-19 14:42] cmbiwer commented on #1140
PR #1596 fixes this once its merged.

[2017-04-19 14:43] cmbiwer commented on #897
All the short term projects here have been finished. I'll close this.

[2017-04-19 14:43] #897 closed

[2017-04-19 17:23] cmbiwer opened #1624 "FieldArray is using numpy 1.10.0 functions but we only require 1.6.4"
``FieldArray.to_array`` requires ``numpy.stack`` which is introduced in 1.10.0 but our ``requirements.txt`` and ``setup.py`` only require 1.6.4. Either update those or change ``to_array`` to use 1.6.4 functions.

[2017-04-19 17:58] cmbiwer opened #1625 "Emcee sampling is broken"
I haven't used this sampler in awhile but its broken now.

I can use it before PR #1308 where I tried commit ``9aff59fe`` and it works.

Then I tried PR #1536 (ie. commit ``35d65a7``) and I get this error:
[code]

Same as master now.

Any idea what's going on here? It was tested?

[2017-04-19 17:58] cmbiwer commented on #1625
I have an example on sugwg: ``/home/cbiwer/projects/inference_samples_group/test/run_pycbc_inference.sh``

[2017-04-19 18:09] titodalcanton opened #1626 "Weirdness in wiki-format loudest trigger files"
Sometimes, parts of the loudest trigger files in wiki format are repeated:

https://www.atlas.aei.uni-hannover.de/~tito/LSC/o2/o2-analysis11-full1/3._single_triggers/3.07_H1_loudest_noncoinc_time/H1FULL_DATA_noncoincloudest_table.txt

[2017-04-19 18:17] tjma12 commented on #1626
@titodalcanton I'll take a look at why it might be doing this. It's not making anything fall over, just spitting out extra lines sometimes?

[2017-04-19 18:42] titodalcanton commented on #1626
Yes it looks like it's just repeating the list, not dropping anything. However, other files have just the header repeated:

https://www.atlas.aei.uni-hannover.de/~tito/LSC/o2/o2-analysis11-full1/3._single_triggers/3.10_H1_loudest_all_time_duration_gt_1.0_sec/H1FULL_DATA_longdurloudest_table.txt

Maybe a list is being reused without being reinitialized, or something like that?

Also if you make a P

[2017-04-19 18:42] titodalcanton commented on #1626
BTW, this feature is a huge time saver, thanks!

[2017-04-19 18:58] tjma12 commented on #1626
Do you know if any of the jobs responsible for those pages were retried while the workflow was running?

[2017-04-19 19:15] titodalcanton commented on #1626
Apparently my first link was repeated, but the second was not:

https://www.atlas.aei.uni-hannover.de/pegasus/u/tito/r/171/w/2/j/11315/ji/25521
https://www.atlas.aei.uni-hannover.de/pegasus/u/tito/r/171/w/2/j/9426/ji/23316

[2017-04-21 09:50] cdcapano commented on #1625
@ahnitz Can you take a look?

[2017-04-21 12:34] ahnitz commented on #1625
@cdcapano @cmbiwer Yes, I'll take a look.

[2017-04-21 13:14] ahnitz commented on #1625
@cmbiwer The emcee sampler still works, but I'm investigating the PT sampler. I can reproduce the error, so that's a start.

[2017-04-21 22:21] ahnitz commented on #1625
@cmbiwer @cdcapano. The PT sampler is not working because it is relying on setting a *class* variable *after* the pool is created. This is not possible with the multiprocessing module. Specifically, this has no effect. https://github.com/ligo-cbc/pycbc/blob/master/pycbc/inference/sampler_emcee.py#L286

[2017-04-22 16:27] #1499 closed

[2017-04-26 21:12] cmbiwer commented on #1140
Closing this now.

[2017-04-26 21:12] #1140 closed

[2017-04-26 21:26] #1625 closed

[2017-05-09 13:26] kevinkvothe opened #1648 "Inference examples not working on docker container. (pycbc/pycbc-el7:latest)"
I've been trying to run the examples described in the inference documentation (https://ligo-cbc.github.io/pycbc/latest/html/inference.html) and I've had many errors that made me impossilble to get the outputs.
The only thing that works right is the injection creation (with lalapps_inspinj).
After creating the inference.ini by copy-pasting and executing pucbc_inference with the kombine sampler, I g

[2017-05-09 13:53] cdcapano commented on #1648
@kevinkvothe The transd and `run_mcmc` issue your are seeing is due to a bug in kombine's version history. When the author of kombine first uploaded it to pypi, he made the version number 1.0. He later changed the version number to 0.5; the current most latest version is 0.8. The problem is, when you run setup.py, setup tools thinks that the 1.0 version is more recent than the 0.8 version, and so

[2017-05-09 13:53] cmbiwer commented on #1648
Hi, ``kommbine`` versions are kind of messed up on pypi.

Try:
[code]

Right now I'm assuming you have version 1.1 which is actually an older version of ``kombine``.

We should probably change our ``requirements.txt`` and ``setup.py`` to explicitly choose 0.8.0 untill Ben pushes a new version.

[2017-05-10 07:49] kevinkvothe commented on #1648
Perfect, now it's working, I'll try the inference with real data using gwf files too. Thanks.

[2017-05-11 13:12] tdent opened #1654 "Single template jobs fail if bank does not have physical f_lower values"
Running an analysis with the O1 uberbank, I find all the single template jobs have the option template-start-frequency = 0.0 [a value which seems to be inherited from the uberbank f_lower field].  Naturally all the jobs fail.  I think the appropriate fix is to make the single template code use the low-frequency-cutoff value when template-start-frequency is obviously unphysical, does that sound OK?

[2017-05-11 15:50] cdcapano commented on #1648
Fixed by #1649 and #1650.

[2017-05-11 15:50] #1648 closed

[2017-05-12 10:02] spxiwh commented on #1654
This makes sense, and matches the behaviour of banksim. Sorry for introducing this bug and I agree that codes should be backwards compatible here ... But be aware that newly generated template banks should be specifying a value of f-lower for every template.

[2017-05-12 20:51] #1654 closed

[2017-05-16 05:51] duncan-brown commented on #1425
@josh-willis does https://github.com/ligo-cbc/pycbc/pull/1661 fix this issue?

[2017-05-16 14:37] josh-willis commented on #1425
Hi Duncan,

I'm not sure.  From the logfile you posted, it looked like the lockfiles were being created, whereas with the bug my patch fixed, they weren't.  The problem I was seeing was when independent inspiral jobs were on the same node (I was trying to load up the node for benchmarking) rather than one process that was multithreaded. Have you tried this on current master to see if the problem g

[2017-05-30 14:23] cmbiwer opened #1715 "Add sanity check to pycbc_inference_plot_posterior plot options"
I don't know how many times this code has failed with a cryptic messages because there are no default options that plot something.

[2017-06-01 14:44] #1189 closed

[2017-06-12 01:41] santanu-tripathy opened #1734 "Some runs with condor fail due to shared library error"
Currently I am running pycbc in one of the LDG cluster (IUCAA-LDG). While submitting the jobs with condor, a few (2-3 ) jobs are failing, showing some error related to shared library. This is mostly happening while submitting a large number of jobs. Apart from 2-3 jobs which are failing, rest are running file (So, I can assume code is fine). While running other python jobs (not using virtual env f

[2017-06-12 12:45] duncan-brown commented on #1734
Closing as this is a problem with the lal and/or gsl installation on the IUCAA nodes, not a PyCBC code issue.

[2017-06-12 12:45] #1734 closed

[2017-06-12 15:26] SergeiOssokine opened #1736 "pycbc_generate_hwinj specification of long_asc_nodes"
One of the options that can be passed to get_td_waveform is long_asc_nodes which is useful in some circumstances. Currently, it seems this option is not propagated to  pycbc_generate_hwinj . It would be great if this option can be added so that there is more freedom when generating frames.

[2017-06-12 15:35] spxiwh commented on #1736
There's no way of storing this in the produced XML file. So I'l prefer to put this on hold until we have a better replacement for XML files.

[2017-06-12 15:37] SergeiOssokine commented on #1736
Sorry, I am a bit confused Ian. Do you mean that the generated .xml injection file can't have arbitrary new columns?

[2017-06-12 15:46] spxiwh commented on #1736
Yes ... It's easy to add columns to python, but the C-code is horrendous (although really fast). Also it makes things backwards incompatible in weird ways, and therefore requires a large LIGO agreement.

.... Which is why we plan to retire XML in PyCBC in favour of HDF injection files. No-one's found the time to do that yet though.

[2017-06-12 15:57] SergeiOssokine commented on #1736
Ah I see. For the things that I am doing, I really do need to do this, so I think I will just work on a fork for now. Thanks for the explanation. Funnily I don't actually care if the value is added to the xml file, I just need the freedom in the call to get_td_waveform (for this project, the waveform is stored elsewhere if we ever need it).

[2017-06-14 13:56] duncan-brown opened #1742 "Section numbering in result pages is broken"
The analysis 14 result page at:

https://www.atlas.aei.uni-hannover.de/~julian.westerweck/LSC/O2/analysis14_run_full3/8._workflow/8.03_version/

has broken section numbering. This may be something peculiar about @micamu's installation in:
[code]
but should be checked before 1.7.2 is released.

[2017-06-14 15:03] spxiwh commented on #1742
I've confirmed this is caused by specific versions of Jinja. It works normally on 2.7 and does not work on 2.9.5. For now I don't know why, but a short-term fix would be to *require* say version 2.7.3 (that's what we have on vulcan).

[2017-06-14 20:45] spxiwh commented on #1742
I've now identified the problem, it's in the syntax of the Jinja template file for two_column layout. This page gives some background, and indeed the first "answer" is actually what we've implemented, which doesn't work:

https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template

But if you read the comments for that answer:

[code]

ie. we were using

[2017-06-15 12:31] #1742 closed

[2017-06-26 16:58] duncan-brown opened #1758 "Travis upgrade to Trusty 14.04 has broken Docker image creation"
The recent upgrade to Travis has broken the creation of the PyCBC Docker image https://hub.docker.com/r/pycbc/pycbc-el7/

Details and an attempted workaround (reverting to the old Travis Ubuntu image) are described in the commit https://github.com/ligo-cbc/pycbc/commit/bbb86ceae0c943e4dd152b9af97eaffa5f8bb5a9

The symptom to watch out for is the Travis build on the target ``pycbc_docker`` internal

[2017-06-26 17:10] duncan-brown commented on #1758
This is helpful to trigger builds for testing

https://docs.travis-ci.com/user/triggering-builds/

[2017-07-10 17:18] duncan-brown opened #1772 "Get veto definition files from git.ligo.org"
I figured out how to access git.ligo.org from the pipeline scripts with proper authentication. Turns out it is as simple as:
[code]
Then adding the options to ``curl`` to follow symlinks and use the cookie file works:
[code]
Just to make sure it's not luck, removing the cookie file causes auth to fail:
[code]

This needs to be implemented in the ``pycbc.workflow.resolve_url`` method to allow us to

[2017-07-10 21:04] duncan-brown commented on #1772
Fixed by https://github.com/ligo-cbc/pycbc/pull/1773

[2017-07-10 21:04] #1772 closed

[2017-07-11 15:36] ahnitz opened #1781 "Switch to use shutil within resolve_url has broken sub-daxes"
File &quot;/usr/lib/python2.7/shutil.py&quot;, line 69, in copyfile
    raise Error(&quot;`%s` and `%s` are the same file&quot; % (src, dst))
shutil.Error: `H1FULL_DATA_noncoincsingles_minifollowup.ini` and `/home/ahnitz/projects/O2/higher_modes/incphase_run2/output/local-site-scratch/work/gw-main_ID0000001/H1FULL_DATA_noncoincsingles_minifollowup.ini` are the same file

[2017-07-11 19:07] duncan-brown commented on #1781
Fixed by https://github.com/ligo-cbc/pycbc/pull/1782

[2017-07-11 19:07] #1781 closed

[2017-07-12 14:04] duncan-brown commented on #1772
The full list of commits needed to implement this was:

 * commits from https://github.com/ligo-cbc/pycbc/pull/1773
 * https://github.com/ligo-cbc/pycbc/commit/a3d734d8f0545d5d125dc548567ddf9fa14d1bcf to fix a missed use of urllib2
 * https://github.com/ligo-cbc/pycbc/pull/1782 as well as https://github.com/ligo-cbc/pycbc/commit/5761e84571f38957ede2026e65d9cdbf34e9185b https://github.com/ligo-cbc/

[2017-07-12 14:09] duncan-brown commented on #1772
To test this in Travis required the changes:

 * https://github.com/ligo-cbc/pycbc/pull/1780
 * https://github.com/ligo-cbc/pycbc/commit/4be3ba2b471e4056dda28f97980026afe1c70b38 https://github.com/ligo-cbc/pycbc/commit/2c5cb4b2b112af95311d389a414c5b2334595fee https://github.com/ligo-cbc/pycbc/commit/1a625ea17b80bf163a6aa70ba89fdf7b8c53dabd https://github.com/ligo-cbc/pycbc/commit/5ceccb811f1ba3ccd

[2017-07-12 14:53] micamu commented on #1715
@cmbiwer What error do you get? If I don't give any plotting option then I just get a blank plot (as in https://www.atlas.aei.uni-hannover.de/~miriam.cabero/LSC/tests/plotting_test.png), so maybe it is something else what is giving that cryptic message?
In any case, I am about to make a PR that checks at least one plotting option is given, will assign it to you to see if that's what you were think

[2017-07-12 14:59] cmbiwer commented on #1715
This isn't so much a problem with ``pycbc_inference_plot_movie`` but rather ``option_utils``. We should add a sanity check that the parameters that are asked for in ``--parameters`` are actually available. Eg. if I ask to plot ``--parameters redshift`` but there's no distance saved in the HDF, then right now, it just raises an ``IndexError`` or ``KeyError`` (forget which one) which doesn't tell me

[2017-07-12 15:32] micamu commented on #1715
Oh yeah, that sounds like another sanity check that would be nice to have! Can look into it in the next days.

[2017-07-12 15:56] tyler-knowles opened #1785 ""Unknown tapering method" Error"
I recently downloaded PyCBC 1.7.2 and have attempted to run faithfulness tests with the latest master branch of LALSuite. I had no trouble in the past with earlier versions of PyCBC and LALSuite, but now all runs terminate with the error message

2017-07-12 10:16:44,047 Error: <type 'exceptions.ValueError'>, Unknown tapering method NE, valid methods are TAPER_END, startend, TAPER_STARTEND, TAPER_N

[2017-07-13 08:17] spxiwh commented on #1785
TL;DR: If you don't want tapering remove `taper-injection=none` from the [inspinj] section. If you want tapering add the `waveform1-taper-template` and `waveform2-taper-template` options directly to the faithsim.

Hi @tyler-knowles, I'd need to see the run directory to diagnose this further. I suspect an issue in lalapps_inspinj.

However, I would recommend doing this in a different way. Currently

[2017-07-13 14:33] duncan-brown commented on #1785
@ahnitz @spxiwh I'm removing the v1.7.5 tag from this, is it seems to be a problem with running PyCBC against lalsuite master, and PyCBC v1.7.4 is only guaranteed to work with lalsuite with the hash ``539c8700af92eb6dd00e0e91b9dbaf5bae51f004``. This should be fixed, but we need a v1.7.5 release to fix the ``resolve_url()`` issue.

[2017-07-18 18:06] tyler-knowles commented on #1785
Greetings Ian,

Thanks for this information, and I apologize for taking so long to
respond!  I should probably have been a bit more clear: in the past I did
not have any taper option lines in my .ini file (neither taper-injection
nor waveformX-taper-template), and the error message I reported appeared
when using the PyCBC 1.7.2 and the latest LALSuite master with that
configuration.  Adding the ta

[2017-07-18 18:36] spxiwh commented on #1785
Hi Tyler,

Okay, thanks for the details. Just a short note that if you had done:
[code]
in the faithsim section it would probably have done what you wanted (but that's a hidden feature, and shouldn't be relied upon!)

The problem is actually within lalapps_inspinj, which is the not-part-of-PyCBC code used to create the set of simulations to run the faithsim on. This file in your example is here:
[

[2017-07-24 12:06] tyler-knowles commented on #1785
Hi Ian,

Since it seems this isn't actually a PyCBC issue, feel free to close the
issue (or do I have to do that?).

It turns out that when I recently rebuilt the script I was using to install
PyCBC, I was configuring lalsuite with lalapps disabled.  Enabling lalapps
seems to have mitigated the issue, and I noticed in an older script that I
hadn't disabled lalapps in the past.

Thanks for your wor

[2017-07-24 14:16] spxiwh commented on #1785
Okay, thanks. Closing this now.

[2017-07-24 14:16] #1785 closed

[2017-07-25 21:48] hkqcap opened #1802 "pycbc_inference_plot_prior tries to import tkinter"
When executing pycbc_inference_plot_prior on clusters, it tries to import tkinter because one of the modules corner tries to import matplotlib.pyplot, without specifying backend agg.

This problem can be readily solved by moving the matplotlib import statement and backend selection statement in front of the corner import statement.

[2017-07-26 08:59] cdcapano commented on #1802
@cmbiwer Can you take a look at this? Can the call to corner be replaced using a call to `create_multidim_plot`, as it is in `plot_posterior`? Then we could remove corner entirely from the dependencies.

[2017-07-26 17:36] farr opened #1807 "Chain / acf Plots for Ensembles Should Default to Mean Over Walkers"
It is clearer to interpret and easier to see trends when plots like chain plots (ACF plots, etc) show the trend of the *mean position of the ensemble* versus time rather than an individual track for each walker.  (For the ACF, the ACF of the mean walker position is equivalent to the mean of the ACFs for each walker, and will have much reduced noise if the samples are really decorrelated.)

This is

[2017-07-31 10:14] farr opened #1815 "Thinning Should be Per-Ensemble, not Per-Walker"
It is an error, and will lead to biased results, to thin the chains from the emcee samplers on a per-walker basis rather than a per-ensemble basis.  It will also give biased results from Kombine unless you run for a *very long time* (much longer than you need to).  The correct algorithm is to determine the ACL from the ensemble as a whole (by examining the time-series of the mean of the walkers co

[2017-07-31 13:45] cmbiwer commented on #1815
Yeah so right now the default is to compute the ACL for each walker, then find the maximum from that set of ACLs. And use the maximum ACL over the walkers for the entire ensemble.

When I added it, I chose what I thought was more conservative and it will require more iterations as you say. I'm done traveling/moving now. I'll see about getting to this and #1807.

[2017-07-31 14:18] farr commented on #1815
Hi Chris,

Great---I guess I missed the maximum statement.  I'm sorry for flagging it
as such an urgent bug, when it's just an inefficiency rather than a bias.
I'll see if I can contribute something that does a little better on a week
or two timescale; if you get to it first, go ahead.

will

On Mon, Jul 31, 2017 at 2:45 PM Christopher M. Biwer <
notifications@github.com> wrote:

[2017-08-01 15:08] farr opened #1817 "Support Vector (or, better yet, Matrix) Parameters"
This came up on the PE call today: it would be a real convenience for supporting

* Calibration parameters
* Glitch-fitting parameters
* PSD fitting parameters

to have vector and matrix parameters possible in PyCBC Inference.  Currently in LALInference, we support these in the *dumbest* ways possible: we use keys in the LALInference parameter hash table of `h1_spcal_phase_{$i}` where `i` runs ove

[2017-08-01 19:20] duncan-brown commented on #1817
@farr on the calibration one, see https://github.com/ligo-cbc/pycbc/pull/1753 This is on hold while Daniel takes his quals in August, but then he'll be back on it. This is a step towards getting the actual calibration model in, rather than the spline fit that gets marginalized over.

[2017-08-03 10:01] cdcapano commented on #1817
@farr Could you clarify what you mean by vector/matrix parameters? Are you saying that you want the ability to pass an array as a single parameter to the likelihood evaluator? So, using the current calibration model as an example, you'd have n coefficients for an n-th degree polynomial. Am I understanding you correctly that you'd want the ability to do `likelihood_eval([param1, param2, ..., array(

[2017-08-03 10:07] farr commented on #1817
@cdcapano I mean that I would like to have a single parameter name, say `spline_calibration_amplitudes` that stores a vector of values (in this case, they would be the value of the amplitude-calibration spline at the nodal frequencies).  And that single name can be used to extract the vectors from HDF5 files, current state of the sampler, etc.  I don't care (and probably wouldn't support) having a

[2017-08-03 10:45] cdcapano commented on #1815
@farr Somewhat related question about this: I just added a burn_in module to master. See #1797. Two of the possible functions in there, `max_posterior` and `posterior_step`, will estimate burn-in iterations on a per-walker basis. The first function checks when a walker first gets within `dim/2` of the max(log likelihood + log prior) over all of the walkers (`dim` = the number of variable parameter

[2017-08-03 10:51] cdcapano commented on #1817
@farr Ah, ok, so this essentially would just be a convenience method for reading samples from a file? I have an idea how to implement that. You don't care how the samples are actually stored in the file though, right? Just that you can do something like `file.read_samples("spline_calibration_amplitudes")` and get back an array of arrays?

[2017-08-03 11:16] farr commented on #1817
@cdcapano More-or-less.  I would also like to be able to automatically plot them all on chain plots, compute the vector of ACLs for them all, etc, just through the one name.  For example, see what PyStan does with vector types; the traces for each coordinate appear on a single plot when you call `fit.plot('vector-parameter-name')`, calling `fit.extract('vector-parameter-name')` returns a `(nposter

[2017-08-03 11:19] farr commented on #1815
@cdcapano If you use a different iteration per-walker for burnin on *ensemble* methods (Kombine, emcee, etc) then you will introduce bias, so you'll have do it the way you do now: choose a single burn-in index for all walkers, choose a single ACL for all walkers, etc.  The reason you are getting confused is that LALInference does not, by default, use an ensemble method; there is only *one* walker

[2017-08-03 12:06] cdcapano commented on #1817
@farr Ok, I'll work on this some time in the next couple of weeks.

[2017-08-03 12:43] farr commented on #1817
Great---for now, it's just "would be nice," but a well-thought-out interface here would make a lot of the extensions to the likelihood living in LALInference much easier to port over to PyCBC inference.

[2017-08-03 13:18] spxiwh opened #1826 "Minifollowups should not show newSNR vs time if using SG veto"
`pycbc_plot_trigger_timeseries ` needs an option to show the SG veto new SNR if that's what we're using now for single detector ranking. Without this it is confusing why apparently louder triggers are "missing" on the minifollowups pages ... The SG veto value should also be printed  in `pycbc_page_snglinfo` so one can see what is downweighting triggers.

[2017-08-03 16:48] cdcapano commented on #1815
@farr Ok, thanks for the explanation. I didn't realize LALInference did not use an ensemble method. You just saved me some work! I do have a few more questions about estimating burn in for multiple temperature chains, but I'll send you an email.

[2017-08-05 10:54] kevinkvothe opened #1828 "Mermoryerror raised when inferencing GW150914."
I've installed the v1.7.5 pycbc-el7 container from docker hub. I've tried to inference with the same instructions from https://ligo-cbc.github.io/pycbc/latest/html/inference.html with the GW150914 files and it runs just fine with 4000,6000,7000 iterations, but as the results plotting the posteriors are not very accurate, I tried with 12000 iterations, just as the documentation says, and I always g

[2017-08-08 14:17] cdcapano commented on #1815
Fixed by #1832.

[2017-08-08 14:17] #1815 closed

[2017-08-08 14:46] cdcapano commented on #1807
PR #1832 addressed the first half of this (for `plot_acf`). We still need the ability to take the mean over walkers for `plot_samples`. @farr @cmbiwer if you'd like to take a stab at that sometime the next couple of weeks, feel free. Otherwise I'll try to get it after I get back from the PAX conference in two weeks.

[2017-08-09 08:37] cdcapano commented on #1828
@kevinkvothe I haven't run into this myself. Where are you running? How much memory do you have? How much memory is being used just prior to it failing? It shouldn't be increasing in memory by much after the first checkpoint, since it clears the chain in memory after it dumps the results to file.

[2017-08-09 09:29] kevinkvothe commented on #1828
I run it on windows 10 with an i7 and 8 Gb RAM, 6 of which can be used by Docker. I'll try monitoring the RAM to see how much is being used before the error raises. I thaught that too, other thing to notice is that the calculation takes longer after some checkpoints, like from 4 hours in the 0-1000 loop to 5 in the 5000-6000 iteration loop.

[2017-08-10 12:25] duncan-brown commented on #1758
This is now pressing as the E@H PyCBC script no longer works:

https://travis-ci.org/ligo-cbc/pycbc/jobs/263020083

[2017-08-10 12:49] duncan-brown commented on #1758
Temporary fix for the above in https://github.com/ligo-cbc/pycbc/pull/1830/commits/d3bd58115720ca5825e4be2c2bc881716d64dc15

[2017-08-12 01:25] ahnitz opened #1837 "pycbc.fft not falling back to numpy fft"
I've noticed that in environments where fftw is not easily available, that pycbc is not properly falling back to numpy fft, instead it reports a key error on 'fftw'. @josh-willis Any thoughts?

[2017-08-12 05:19] josh-willis commented on #1837
Can you provide an example traceback?  Though it's worth fixing, I'll point out that at the moment `lal` is a dependency of PyCBC, and `fftw` is a dependency of `lal`, so I don't know that technically there's an error (absence of fftw is not supported).

[2017-08-15 14:53] couvares opened #1840 "TravisCI GPU testing?"
Josh,

What if anything can we do to add GPU code testing to PyCBC’s TrasvisCI tests?

@duncan-brown @stuartthebruce

[2017-08-16 11:21] duncan-brown opened #1842 "Switch the pycbc_inspiral OSG bundle build to manylinux"
Currently the ``pycbc_inspiral`` OSG bundle build user our own SL6 docker container maintained at https://github.com/ligo-cbc/docker-sl6-travis

This should be switched to use the PyPa [manylinux container](https://github.com/pypa/manylinux) and then the SL6 container can be retired.

[2017-08-16 11:31] duncan-brown opened #1844 "Add progress reporting via condor_chirp"
@bbockelm clued me in to [``condor_chirp``](http://research.cs.wisc.edu/htcondor/manual/current/condor_chirp.html) which CMS uses to send status messages back to the schedd that can be queried by the user.

It would be good to add chirp status messages to the codes that take a while so the user can see if they are stuck or making progress without doing ssh-ing into the node where they are running

[2017-08-16 11:45] bbockelm commented on #1842
Additional links of interest - how to use the `manylinux` container to create binary wheels for upload to PyPI:

- Toy application: https://github.com/pypa/python-manylinux-demo
- Real application: https://github.com/skvark/opencv-python

The wheel is built inside `manylinux` (which effectively is a RHEL5 environment with various versions of python present), then the provided `auditwheel` binary i

[2017-08-16 11:52] duncan-brown commented on #1842
@bbockelm thanks. @ahnitz we should use this for pycbc-lal

[2017-08-16 12:14] bbockelm commented on #1844
Particularly, if you are invoking from `C`, here's the interface we use:

https://github.com/cms-sw/cmssw/blob/master/FWCore/Services/plugins/CondorStatusUpdater.cc#L308

Note that to reduce the stream of updates, we only send every N minutes at most.

There's a bit of trickiness around getting quoting correct - if you are actually invoking from python, then you might consider using the HTCondor p

[2017-08-16 15:15] duncan-brown commented on #385
@spxiwh can this be closed?

[2017-08-16 15:16] duncan-brown commented on #1270
Closing this as it has been resolved by other changes.

[2017-08-16 15:16] #1270 closed

[2017-08-16 15:19] duncan-brown commented on #1447
Closing this, as gsiftp is going away and we'll fix this as part of the work in [SciTokens](https://www.nsf.gov/awardsearch/showAward?AWD_ID=1738962)

[2017-08-16 15:19] #1447 closed

[2017-08-16 16:16] spxiwh commented on #385
No, because pycbc_make_faithsim hasn't been rewritten yet. I'll change the title though.

[2017-08-17 09:00] duncanmmacleod opened #1845 "pip install failing with missing descr.txt"
I am getting the following error when trying to install `pycbc` into an empty virtualenv:

[code]

I think cbf09de broke the build because the `descr.txt` file isn't included in the upload to pypi.python.org.

[2017-08-17 09:26] ahnitz commented on #1845
Can verify, I'll look into this and get a new release out.

On Thu, Aug 17, 2017 at 11:00 AM, Duncan Macleod <notifications@github.com>
wrote:

--
Dr. Alexander Nitz
Max Planck Institute for Gravitational Physics (Albert Einstein Institute)
Callinstrasse 38
D-30167 Hannover,  Germany
Tel: +49 511 762-17097

[2017-08-17 10:27] ahnitz commented on #1845
Please try the latest release 1.7.7 that I just put out. This should be resolved. Thanks for the report!

https://pypi.org/project/PyCBC/1.7.7/

[2017-08-17 10:27] #1845 closed

[2017-08-17 12:43] duncanmmacleod commented on #1845
@ahnitz, this new release works as expected, thanks for the quick turnaround.

[2017-08-17 12:50] duncan-brown commented on #1845
@duncanmmacleod unfortunately this release is messed up. Please don't use it. I will make a new release soon.

[2017-08-18 02:32] duncan-brown commented on #1845
@duncanmmacleod fixed.

[2017-08-24 16:26] duncan-brown opened #1857 "Modify the hierarchical removal plotting codes"
Modify the way hierarchical removal in the following codes:

- [x] ``pycbc_page_snrifar``
- [x] ``pycbc_page_snrratehist``
- [x] ``pycbc_page_foreground``

Each code should

- Take a command line option which is the level of removal that should be plotted (call this ``l`` here).
- ``if l == 0 `` then make a plot/table that has the normal results in and save to whatever ``--ouput-file`` is.
- ``if

[2017-08-24 17:39] duncan-brown commented on #1601
Plan is in https://github.com/ligo-cbc/pycbc/issues/1857

[2017-08-24 17:39] #1601 closed

[2017-08-24 17:39] duncan-brown commented on #1840
I looked into this and Travis does not provide this functionality.

[2017-08-24 17:39] #1840 closed

[2017-08-24 17:40] duncan-brown opened #1858 "Gating should be implemented workflow wide"
Currently gating files are just passed to ``pycbc_inspiral`` to be consistent with autogating, it should be passed to all relevant jobs at the workflow level.

[2017-08-24 17:42] duncan-brown opened #1859 "Allow more flexibility when finding frames"
Modify the [datafind URL processing code](https://github.com/ligo-cbc/pycbc/blob/e20de6d9fef86ddc16a62b933472bae8d113789f/pycbc/workflow/datafind.py#L698) to allow the use of local and cvmfs frames.

[2017-08-25 03:34] duncan-brown commented on #1859
Fixed by https://github.com/ligo-cbc/pycbc/pull/1864 and https://github.com/ligo-cbc/pycbc/pull/1866

[2017-08-25 03:34] #1859 closed

[2017-08-25 03:34] duncan-brown commented on #1857
Fixed by https://github.com/ligo-cbc/pycbc/pull/1863

[2017-08-25 03:34] #1857 closed

[2017-08-25 05:18] duncan-brown commented on #1858
Fixed by https://github.com/ligo-cbc/pycbc/pull/1865

[2017-08-25 05:18] #1858 closed

[2017-08-25 11:58] stevereyes01 opened #1867 "Incorporate hierarchical removals into pycbc offline pipeline"
Using GW170104 as an example, hierarchical removals in the pipeline should produce a new tab on the results page for the stages of hierarchical removals with plots similar to the ones found here:

https://sugwg-jobs.phy.syr.edu/~steven.reyes/O2/hierarchical_examples_gw170104/

Should also consider making the behavior of running `pycbc_page_snrifar` with no hierarchical removal options consistent w

[2017-08-25 13:38] duncan-brown opened #1868 "Cumulative no removal plots should be the same as removal level 0"
The plot
![made with no arguments](https://user-images.githubusercontent.com/11262902/29716217-8a19119c-8978-11e7-8df1-1e54415e1f1f.png) should display the
![maximum level of removal](https://user-images.githubusercontent.com/11262902/29716218-8b91fa20-8978-11e7-9524-84e559bebbaf.png)

This is true for the differential codes but not the cumulative ones:

![plot made with no arguments](https://user

[2017-08-25 13:59] stevereyes01 commented on #1868
See https://github.com/ligo-cbc/pycbc/pull/1869 for patch.

[2017-08-25 14:03] #1868 closed

[2017-08-25 15:49] stevereyes01 commented on #1867
Consistency on plots has been fixed.

[2017-08-25 17:30] duncan-brown commented on #1867
Fixed by https://github.com/ligo-cbc/pycbc/pull/1869

[2017-08-25 17:30] #1867 closed

[2017-08-25 17:34] duncan-brown opened #1870 "Add new hierarchical removal plots to pipeline and results pages"
Adding the option
[code]
now produces a statmap database that has hierarchical removal enabled.

In this case, the results pages will show the final results of hierarchical removal, as running the plotting codes with the existing arguments [produces plots that show the final hierarchical removal results](https://github.com/ligo-cbc/pycbc/pull/1869).

The last step is to enable the plotting codes t

[2017-08-25 18:45] duncan-brown opened #1872 "Cumulative Number vs. IFAR needs hierarchical removal"
@stevereyes01 use ``--plot-hierarchical-level N``

[2017-08-26 12:48] stevereyes01 commented on #1872
This has been implemented.

[2017-08-26 12:48] #1872 closed

[2017-08-26 13:53] duncan-brown opened #1876 "Statmap should have an option to select the removal background"
Currently statmap stops hierarchical removal when no foreground triggers are louder than the **inclusive** background. It should have a command line argument select either the inclusive or exclusive background as the termination, e.g.
[code]

The easiest way to implement this is probably to make ``fnlouder`` used in the [while loop](https://github.com/ligo-cbc/pycbc/blob/master/bin/hdfcoinc/pycbc_

[2017-08-26 14:56] stevereyes01 commented on #1876
@duncan-brown
These are good points, but I'm not exactly sure how we can test the results of removing foreground triggers hierarchically that aren't louder than little dogs, we don't have triggers for that. We'll have to do some software injections to test the results of this code (which I'm still writing up).

[2017-08-26 15:38] cdcapano opened #1879 "FFT caching can unexpectedly cause memory usage to grow"
There's apparently some memory caching done in the fft module (at least when using fftw as the backend) that is based on the length of the time/frequency series that is passed to it. The problem with this is it can silently cause memory usage to grow when using `to_frequencyseries` or `to_timeseries` on multiple different arrays of different lengths. Here's a simple test to highlight the problem:

[2017-08-26 16:38] duncan-brown commented on #1876
@stevereyes01 please open a pull request with the code changes in and I can test. I have a test set up. The important thing is to get the code changes in.

[2017-08-26 18:07] cmbiwer opened #1882 "FromFile not compatible with configuration file"
The ``FromFile.from_config`` function returns:
[code]
Which sounds nonsensical. This should either work or change the error message.

[2017-08-26 18:53] duncan-brown commented on #1876
Discussion is at https://github.com/ligo-cbc/pycbc/pull/1881

[2017-08-26 18:53] #1876 closed

[2017-08-26 21:26] duncan-brown commented on #1870
This has been implemented by the changes in the pull requests below.

Note that as part of these changes, the argument to turn on hierarchical removal in statmap has been changes to ``--max-hierarchical-removal N``.

 - https://github.com/ligo-cbc/pycbc/pull/1863
 - https://github.com/ligo-cbc/pycbc/pull/1869
 - https://github.com/ligo-cbc/pycbc/pull/1873
 - https://github.com/ligo-cbc/pycbc/pull/

[2017-08-26 21:26] #1870 closed

[2017-09-06 14:54] micamu commented on #1882
can I see your config file?

[2017-09-06 20:31] duncan-brown commented on #1758
The issues that need to be fixed are as follows:

 - [``pycbc_build_eah.sh``](https://github.com/ligo-cbc/pycbc/blob/master/tools/einsteinathome/pycbc_build_eah.sh) needs to be fixed so that it recognized Ubuntu 14 and used gcc 4.8 on that platform.
 - There is a problem in the native Travis VM described in https://github.com/travis-ci/travis-ci/issues/7940 that affects the Python ``boto`` package

[2017-09-06 20:55] duncan-brown commented on #1758
The three issues above are fixed by https://github.com/ligo-cbc/pycbc/pull/1905

[2017-09-06 20:55] #1758 closed

[2017-09-06 23:08] duncan-brown commented on #1842
Fixed by https://github.com/ligo-cbc/pycbc/pull/1906

[2017-09-06 23:08] #1842 closed

[2017-09-07 10:23] cdcapano commented on #1882
@micamu @cmbiwer This was my fault. When I added the `Arbitrary` distribution in #1704, it broke `FromFile.from_config`, since `FromFile`'s parent class no longer supported `from_config`. I think PR #1907 should fix this.

[2017-09-11 12:36] micamu commented on #1882
@cmbiwer can we close this issue?

[2017-09-18 14:23] lppekows opened #1923 "Problems creating output file in pycbc_inference + MPI"
The open at https://github.com/ligo-cbc/pycbc/blob/master/bin/inference/pycbc_inference#L254, https://github.com/ligo-cbc/pycbc/blob/master/bin/inference/pycbc_inference#L300 etc can run into problems in two ways when run with MPI.

1. If the user is trying to write to an nfs-mounted home directory each process will attempt to open and write to the file, leading to corruption.  The underlying HDF5

[2017-09-18 14:57] ahnitz commented on #1923
I think some more information is needed here. Why do you suspect multiple processes are writing to anything?

The open is only done by *one* process under MPI. All other wait here to run specific functions at this line https://github.com/ligo-cbc/pycbc/blob/master/bin/inference/pycbc_inference#L251. They never run code further down the script.

One possibility I can think of is related to (2) whic

[2017-09-18 15:05] spxiwh commented on #1923
It's possible that `pycbc_optimal_snr` + NR_hdf waveforms hits similar problems ... At least weird failures have been reported with that setup on atlas. I've also produced the:
[code]
Error when running *single-core* on atlas. That was raised when using both python and C HDF reading functions on the same file, I suspect one of them was not closing the file correctly.

[2017-09-18 15:16] lppekows commented on #1923
I suspect multiple processes because I edited `site-packages/h5py/_hl/files.py` to get more debugging information as
[code]
and the output contained multiple machines
[code]

Further, setting the output directory to `/usr1/soumi.de` rather than a subdirectory fixed the problem.

That said, @soumide1102 just told me that the problem does not occur on Atlas writing to an NFS-mounted directory, so ma

[2017-09-18 15:19] lppekows commented on #1923
As a possible culprit, on Atlas
[code]

on SUGWG
[code]

[2017-09-18 15:20] ahnitz commented on #1923
@cdcapano Nothing in the likelihood function actual calls the ouptut file directly does it?

[2017-09-18 15:22] ahnitz commented on #1923
@lppekows One possibility is that mpi is not setting the ranks properly at all, so every process things it is the host. I've seen this before when using a different version of MPI and not changing options appropriately, *or* mpi4py not building against the right version. One can test this by running a simple python script under mpi4py that simply prints out the process rank from mpi4py. @soumide11

[2017-09-18 15:23] lppekows commented on #1923
Another data point, the file is indeed being created on each node
[code]

[2017-09-18 15:24] lppekows commented on #1923
@ahnitz Ah!  I bet that's it.

[2017-09-18 15:27] ahnitz commented on #1923
Run this with the same environment and MI launch settings.

from mpi4py import MPI
comm = MPI.COMM_WORLDrank = comm.Get_rank()

print rank

On Mon, Sep 18, 2017 at 5:24 PM, Larne Pekowsky <notifications@github.com>
wrote:

--
Dr. Alexander Nitz
Max Planck Institute for Gravitational Physics (Albert Einstein Institute)
Callinstrasse 38
D-30167 Hannover,  Germany
Tel: +49 511 762-17097

[2017-09-18 15:31] lppekows commented on #1923
Soumi doesn't seem to have mpi4py installed
[code]
@soumide1102 Any objection to my pip installing it into your virtual environment?

[2017-09-18 15:32] soumide1102 commented on #1923
@lppekows I just installed it.

[2017-09-18 15:33] lppekows commented on #1923
Hrm
[code]

[2017-09-18 15:33] soumide1102 commented on #1923
It's in my virtual environment /home/soumi.de/pycbc-dev

[2017-09-18 15:35] soumide1102 commented on #1923
But I get that error too. Huh!

[2017-09-18 15:36] soumide1102 commented on #1923
[code]

[2017-09-18 16:35] lppekows commented on #1923
I think I see what's going on.  Somehow the environment wasn't MPI-enabled, although it looked like it was.  openmpi doesn't care if the thing it is asked to run can actually do MPI (`mpirun --n 96 --hostfile hosts /bin/hostname` does what you would expect), so it was starting independent copies of `pycbc_inference`, all at rank 0.  There are still some mysteries to be solved, but as they seem res

[2017-09-18 16:35] #1923 closed

[2017-09-20 16:17] rpfisher opened #1927 "Installation Instructions Point to Pegasus WMS python libraries with old PyOpenSSL"
In the file:

https://github.com/ligo-cbc/pycbc/blob/master/docs/install.rst

The Instructions point to a tarball for Pegasus WMS python libraries that uses an old PyOpenSSL version (0.13).  This is incompatible with the updated OpenSSL on the CIT cluster and elsewhere.

[2017-10-10 02:04] cmbiwer opened #1937 "pycbc.noise.reproduceable returns nans"
I'm trying to use ``colored_noise`` and ``noise_from_string`` but its returning a ``TimeSeries`` of ``nan``. Prior to #1799 it returned floats.

Example of command that returns ``nan`` after #1799 but prior returned floats:
[code]

[2017-10-10 18:20] #1937 closed

[2017-10-20 18:21] duncan-brown opened #1944 "Travis is failing on Debian due to M2Crypto issue"
The Debian Travis build is failing due to the error:
[code]
This seems to be due to the version bump in M2Crypto recently
[code]

[2017-10-20 18:22] duncan-brown commented on #1944
Temporary fix to stop the build from failing and debug https://github.com/ligo-cbc/pycbc/commit/8a843b03692665ca47411dfe8bb7a86ee86591b4

[2017-10-20 18:23] duncan-brown commented on #1944
Workaround to install the LDG version used on atlas to see if that fixes things https://github.com/ligo-cbc/pycbc/commit/5ab7f1c52c048379357c05a8ec65216b48783e04

[2017-10-20 18:52] duncan-brown commented on #1944
Seems that Travis' Debian also needs swig
[code]

Try to fix with https://github.com/ligo-cbc/pycbc/commit/dc4153d6bed2405c8ca185b6a6e832ee00c66d20

[2017-10-20 21:43] cdcapano commented on #1882
Closing, was fixed by #1907.

[2017-10-20 21:43] #1882 closed

[2017-10-22 12:28] cdcapano opened #1947 "Condition strain requires strain-high-pass"
When running `pycbc_condition_strain` with `fake-strain` you apparently need to specify `strain-high-pass`. This is because of [this line](https://github.com/ligo-cbc/pycbc/blob/master/pycbc/strain.py#L374) in strain.py. This isn't intuitive. It seems odd that you need to use a high-pass filter for fake strain, especially since a `low-frequency-cutoff` option exists. But I'm not sure what the best

[2017-10-23 06:47] duncan-brown commented on #1944
Hit [this bug](https://stackoverflow.com/questions/31762106/swig-unable-to-find-openssl-conf) so bumping M2Crypto version https://github.com/ligo-cbc/pycbc/commit/ef3e60d96007e4c5ee2a3a2ac0cb8433b757c422

[2017-10-23 07:20] duncan-brown commented on #1944
Success https://travis-ci.org/ligo-cbc/pycbc/builds/291390811

[2017-10-24 16:19] vivienr opened #1950 "confusing error in pycbc_inference when prior not specified"
Hi,

the following error gets raised when running with an .ini file that does not contain any prior section:

[code]

The error could be more descriptive. Thanks !

[2017-10-25 08:43] titodalcanton commented on #1947
Also, there seems to be an inconsistency between the starting frequency used by `colored_noise()` and the one used for PSD generation [some lines above](https://github.com/ligo-cbc/pycbc/blob/master/pycbc/strain.py#L357). The former takes the frequency from `--strain-high-pass` while the latter uses `--low-frequency-cutoff`. Maybe there should be a new option `--fake-strain-min-freq` or so and bot

[2017-10-29 16:09] couvares commented on #774
I can't find the corresponding JIRA ticket -- can you link it here?

[2017-11-01 10:56] cdcapano commented on #1950
Fixed by #1956.

[2017-11-01 10:56] #1950 closed

[2017-11-08 12:57] tapaimarton opened #1962 "workflow start script issue"
After stopping a workflow I was unable to restart it, there was a problem with the proxy issue,

the bug is in

if [ -f /tmp/x509up_u`id -u` ] ; then
  unset X509_USER_PROXY
else
  if [ ! -z ${X509_USER_PROXY} ] ; then
    if [ -f ${X509_USER_PROXY} ] ; then
      cp -a ${X509_USER_PROXY} /tmp/x509up_u`id -u`
    fi
  fi
  unset X509_USER_PROXY
fi

[2017-11-10 12:49] cdcapano opened #1966 "Starting kombine from a samples file doesn't respect continuity"
As noted in PR #1961, if you start `pycbc_inference` from a samples file, it does not pick up as if it had run continuously when using kombine as the sampler. For example, [here](https://www.atlas.aei.uni-hannover.de/%7Ecdcapano/public_scratch/pycbc_prs/1961/kombine/posterior_iter20-0-20.png) is the 20th iteration from a run on a test 2D normal distribution. Compare to [this plot](https://www.atla

[2017-11-10 16:38] duncan-brown commented on #1944
Commit https://github.com/ligo-cbc/pycbc/commit/8a843b03692665ca47411dfe8bb7a86ee86591b4 needs reverting. Re-opening this to remind me to do it next week.

[2017-11-13 14:05] ahnitz opened #1968 "XDG_CACHE_HOME on NFS causing system slowdown"
It appears that XDG_CACHE_HOME is checked by weave and used (for something?) by CVMFS. Having this on NFS may cause issues on some clusters. One suggestion by @duncan-brown  was to set this to a tmpdir location, but we should check what uses this environment variable and why.

[2017-11-13 15:39] cdcapano opened #1970 "Add a workflow generator for parameter estimation PP tests"
What the subject says.

[2017-11-13 15:48] cmbiwer commented on #1970
This will probably be a couple PRs. Something like:
- [ ] Add ``pycbc_inspinj`` executable that generates a population of signals from a ``pycbc_inference``-type ini file
- [ ] Add ``pycbc_inference_plot_recovery`` that plots recovery vs injected and option for PP-like plot
- [ ] Add ``pycbc_inference_validation_workflow`` that runs a bunch of inference jobs and then some post-processing step to g

[2017-11-13 15:49] cdcapano commented on #1970
@cmbiwer Aside from the workflow generator itself, I'm not sure if we need additional plotting scripts written for this or not. I don't know what you already have written. If we do need additional scripts, please feel free to create an issue for it and assign it to someone. I'd prefer it if you just focused on tying it all together in a workflow.

[2017-11-13 15:51] cmbiwer commented on #1970
@cdcapano Think we typed at same time but I have these scripts. But to avoid a >>1000 PR, I think I'll add the plotting/injection scripts that will be in the workflow separately. Then one PR to add then all into a workflow at the end.

[2017-11-13 15:51] cdcapano commented on #1970
@cmbiwer With respect to `pycbc_inspinj`, we already have that. See [pycbc_create_injections](https://github.com/ligo-cbc/pycbc/blob/master/bin/pycbc_create_injections).

[2017-11-13 15:52] cdcapano commented on #1970
Yeah, it would be best to break this up into multiple PRs.

[2017-11-13 15:54] cmbiwer commented on #1970
Ah okay, check!

[2017-11-13 16:00] cdcapano opened #1971 "Backup and resume jobs from checkpoint automatically"
`pycbc_inference` should backup and re-start from checkpoint files automatically, to make running in a workflow more robust.

[2017-11-13 16:03] duncan-brown commented on #1425
@ahnitz updating this with the issue I just posted in chat. As of PyCVC 1.7.9, this issue is still fixed. The temporary workaround in O2 was to increase the number of retries for the multi-core jobs that use weave. Here is an example of a [calculate psd job failing](https://sugwg-osg.phy.syr.edu/pegasus/u/dbrown/r/516/w/2/j/141340/ji/107876) and then succeeding on the second retry.

Pegasus dashbo

[2017-11-13 16:04] duncan-brown commented on #1425
@dethodav please can you post the error you are getting with ``pycbc_live`` here?

[2017-11-13 16:17] cdcapano opened #1972 "Add egg crate and Rosenbrock test distributions"
We need test distributions for pycbc inference, both for the paper, and for general sanity checks as new samplers are added and when new patches are pushed. Currently we have an N-D normal distribution. In addition to this we would like an egg crate distribution and a Rosenbrock distribution. @dfinstad is working on the egg crate.

[2017-11-13 16:28] dethodav commented on #1425
Possibly related to this weave issue, two different failures are occurring in `pycbc_live`. The first occurs once filtering starts, complaining about a `/tmp` file being too short:
[code]

The second happens during the bank generation, complaining of `g++` issues:
[code]

[2017-11-13 16:48] cdcapano opened #1973 "Compare pycbc inference to LALInference on some injections"
What the subject says. For the pycbc inference paper we're going to run LALInference on a subset of the injections from the PP tests. To complete we need:
* [ ] An injection set (depends on the PP workflow being completed)
 * [ ] LALInference runs on this set. Assigning this to @vivenr

[2017-11-13 17:56] cdcapano opened #1975 "Run tests using analytic likelihoods"
Once the analytic distributions are finished, runs should be done with each of the available samplers with a KS test to verify them. These should be fast, so should be added to the travis tests. Also, the results (posterior plots and KS test value) should be added to the PyCBC Inference paper.

[2017-11-13 18:34] cdcapano opened #1976 "Remove PE file backward comptability tests"
After #1967 has been committed for awhile, remove the backward compatibility code in `sampler_base` and `sampler_emcee` that checks if a file was written with the pre-#1967 format, and allows that format to be read.

[2017-11-13 21:53] ahnitz commented on #1425
@duncan-brown @dethodav Please try this PR https://github.com/ligo-cbc/pycbc/pull/1977

[2017-11-14 17:19] couvares commented on #1971
@cdcapano feel free to involve Tom Downes (@tpdownes ?) and I if you need help with the Condor side of this.

[2017-11-16 16:49] cdcapano opened #1982 "Figure out class inheritance for samplers"
This is just a scratch space to discuss how best to organize the sampler classes' inheritance and attributes. Right now we have `BaseSampler`, `BaseMCMCSampler`, and then the kombine, emcee, emcee_pt, and (soon) mcmc samplers. We'll probably want to rearrange this a bit --- or at least move some attributes around --- to best incorporate all samplers, as well as add some base support for nested sam

[2017-11-18 12:51] cdcapano commented on #1972
Completed by #1974 and #1979.

[2017-11-18 12:51] #1972 closed

[2017-11-22 15:21] duncan-brown opened #1991 "Start adding results from analytic distributions to appendix of PyCBC PE paper."
We should add an appendix to the PyCBC PE paper that shows the results of running the different samplers on the analytic distributions.

The results should also include the run time and number of samples needed for the posteriors to converge.

[2017-11-22 18:06] soumide1102 commented on #1991
@duncan-brown @cdcapano Sometimes there are connection issues with the machine where the job is running, which causes a disconnection, and the job stops. When that happened, I've used the output results file from the job as a samples file, and fed it to the new job. So the new job then starts from the point where it stopped in the previous one. In these cases should the run time be counted as the

[2017-11-27 14:54] duncan-brown opened #1995 "Add gwpy to the PyCBC virtual environment"
We should add https://github.com/gwpy/gwpy to the default virtual environment.

[2017-11-27 14:56] duncanmmacleod commented on #1995
In case you're wondering, `pip install gwpy` does what you expect it to. I would wait until the 0.7 release comes out, which should be <2 weeks.

[2017-11-27 14:57] ahnitz commented on #1995
Ok, good to know. Give us a poke when that happens. It probably won't be a
bad time to do a small pycbc point release (and pull in some of the pe
work) at the same time. That way we get  a triggered distribution as well.

On Mon, Nov 27, 2017 at 3:56 PM, Duncan Macleod <notifications@github.com>
wrote:

--
Dr. Alexander Nitz
Max Planck Institute for Gravitational Physics (Albert Einstein Institute

[2017-11-28 10:21] duncanmmacleod opened #1997 "Remove instructions to develop pycbc-glue"
My understanding is that `pycbc-glue` is obsolete, yet the [installation instructions for PyCBC](https://ligo-cbc.github.io/pycbc/latest/html/install.html#modifying-pycbc-glue) still provide guidelines on developing in `pycbc-glue`. Presumably this should be removed, with all references back to the trunk glue packagage (`lscsoft-glue`)?

[2017-11-28 16:36] couvares commented on #1995
Can someone educate me: if people rely on "pip install gwpy" what happens if gwpy is updated in such a way that it breaks pycbc's dependency on it?  Shouldn't each specific version of pycbc do (or instruct the user to) pip install a specific gwpy point release instead?

[2017-11-28 16:42] couvares commented on #1995
Also, would someone be willing to sit down with me (physically or virtually) to show me how to add an automated test in Travis to check if every new point version of gwpy breaks pycbc or not?  I'd like to help -- and would like to know how to do that for its own sake -- and that would allow us to safely (auto?) update the pycbc import to specify the latest gwpy release.  (Alternatively, it could a

[2017-11-28 16:46] duncanmmacleod commented on #1995
@couvares, AFAIK currently PyCBC does _not_ depend on GWpy in any way, the issue here is just that users might find it useful to have both packages available to them.

GWpy does have hooks into PyCBC, but mainly just in converting to and from the `TimeSeries` or `FrequencySeries` object provided by each package, e.g. [here](https://gwpy.github.io/docs/stable/api/gwpy.timeseries.TimeSeries.html#gwp

[2017-11-28 16:54] couvares commented on #1995
@duncanmmacleod Ah, so the dependency, strictly speaking, is the other way around (and is relatively minor) -- got it.  Thanks for explaining.

In any event, if it would be valuable to have (either inside gwpy or in some new larger omnibus gw user tools meta-package) a test that the latest versions of gwpy and pycbc work with each other, I'd be happy to set one up, if someone is willing to help wa

[2017-11-29 14:40] ahnitz opened #1999 "PyCBC Inference should allow arbitrary waveform parameters through get_fd_waveform"
Currently, one *must* include a waveform parameter in the parameters modules to be able to use. Even if get_fd_waveform can be made to accept it. The example is modified approximant with a large number of free parameters that we'd like to marginalize over. We don't necessarily *want* to have to put these in the parameters module. In fact, I believe this used to work.

[2017-11-30 21:10] ahnitz commented on #1999
Fixed by #2001

[2017-11-30 21:10] #1999 closed

[2017-12-06 08:43] vivienr commented on #1982
I'm adding the blackboard picture from the PE F2F:

![img_20171201_174219](https://user-images.githubusercontent.com/1928709/33652395-90ffe19c-da69-11e7-9beb-0038a5f8601d.jpg)

[2017-12-07 23:07] ahnitz commented on #1997
Removed.

[2017-12-07 23:07] #1997 closed

[2017-12-11 16:52] duncanmmacleod opened #2015 "glue.datafind doesn't use M2Crypto any more, rethink function-level import"
https://github.com/ligo-cbc/pycbc/blob/9e057e1cf9083a0ea6a5593ae4cecf420d343a7d/pycbc/frame/frame.py#L233-L235

As of 1.56, `glue.datafind` uses `pyOpenSSL`, rather than `M2Crypto`, for X509 validation, so a function-level import might be unnecessary (not sure about pycbc dependence on pyOpenSSL).

Sorry if this is spam, I saw the comment and thought I would mention the change.

[2017-12-11 17:22] titodalcanton opened #2017 "Releases cannot be used to create template banks"
Recent (all?) releases cannot be used to run the hyperbank generation workflow, because they do not include the lalsuite scripts `lalapps_cbc_sbank`, `lalapps_cbc_sbank_hdf5_choose_mchirp_boundaries` and `lalapps_cbc_sbank_hdf5_bankcombiner`.

[2017-12-12 15:13] ahnitz commented on #1425
I consider this closed now. Re-open a new issue if things reappear.

[2017-12-12 15:13] #1425 closed

[2017-12-13 13:45] cdcapano commented on #1982
Here's my notes from our meeting:
[code]

[2017-12-18 14:28] spxiwh opened #2030 "Optimal_SNR on master is broken"
A recent patch by me broke optimal_SNR on master. The patch is trivial and I'm testing it now. But in the meantime use a PyCBC release, or slightly older code.

[2017-12-19 21:43] titodalcanton commented on #2017
Ok, I guess we just need a new release now. In the mean time am downloading the docker image to check that too.

[2017-12-20 21:52] #2017 closed

[2017-12-21 09:48] #2030 closed

[2018-01-09 14:25] spxiwh commented on #2015
Just to check @duncanmmacleod, this is in the version released in pypi, right? I'm working on the `pycbc_glue` > `glue` transition now and can fix this in the process.

[2018-01-09 14:30] duncanmmacleod commented on #2015
@spxiwh, yes, see [`glue 1.56.0`](https://pypi.python.org/pypi/lscsoft-glue/1.56.0). For completeness, the dependency specification should be

[code]

[2018-01-09 15:51] spxiwh commented on #1995
Hi @duncanmmacleod is there an eta for the 0.7 release?

[2018-01-09 15:52] duncanmmacleod commented on #1995
@spxiwh, ideally this should be tagged before the end of this week.

[2018-01-09 15:58] spxiwh commented on #1927
@rpfisher Is it known if newer versions of pegasus fix this?

[2018-01-09 16:04] spxiwh commented on #1927
Seems that the answer to that is "no". Even the development 4.9.0 release is referencing PyOpenSSL. Probably need to raise this one with Karan.

[2018-01-09 16:28] spxiwh commented on #1837
Think this is fixed by #2034

[2018-01-09 16:28] #1837 closed

[2018-01-11 16:52] titodalcanton opened #2038 "Latest numpy (1.14) breaks some recarray usage in inference code"
Recent Travis tests, e.g. reported by @spxiwh, have been failing on inference tests with errors like this:
[code]
Such tests appear to be using numpy 1.14. I tracked the error down to a recent change in how recarray indexing works. The following code works on previous numpy versions:
[code]
With numpy 1.14, I get instead:
[code]
The ValueError causes the logic in `FieldArray.__setitem__` to be inc

[2018-01-11 17:15] titodalcanton commented on #2038
However, using a tuple instead of a numpy array continues to work: `x[0] = (10., 10.)`.

[2018-01-11 17:47] titodalcanton commented on #2038
Let's keep this issue open an assigned to @cdcapano and @cmbiwer, to make sure they review the change I made.

[2018-01-15 14:25] cdcapano commented on #2038
Looks good, thanks for fixing this @titodalcanton!

[2018-01-15 14:25] #2038 closed

[2018-01-17 14:43] ahnitz opened #2042 "Make PyCBC specific PR page. (i.e comittter's guide)"

[2018-01-30 20:30] couvares opened #2054 "install doc paths self-inconsistent?"
In install.rst, isn't the path in this statement:

...in conflict with the path in this statement just two paragraphs later?

Specifically, we first tell the user we will use ${HOME}/pycbc-dev, then we say we will use ~/src/pycbc (and then the following instructions proceed to use the latter path, ~/src/pycbc).

We ought to make this consistent.  It seems to me the former path is a better choice,

[2018-02-05 17:27] titodalcanton opened #2058 "Bank generation workflow does not save version info"
(at least in a clear way).

[2018-02-15 15:12] duncan-brown opened #2078 "Implement a better solution for checkpointing in pycbc inference"
We need a better solution than the one in https://github.com/ligo-cbc/pycbc/pull/2055 for checkpointing so that Condor and Pegasus can manage workflows with PE jobs that checkpoint.

[2018-02-21 10:17] cdcapano commented on #2078
@duncan-brown Could you give some more details on what you tried, and what didn't work?

[2018-02-21 11:30] cdcapano opened #2082 "Create multidim plot should be a class, not a function"
The function `create_multidim_plot` ([here](https://github.com/soumide1102/pycbc/blob/7d1e647b5468f63ec4b59ec33045400d5e9e8e9d/pycbc/results/scatter_histograms.py#L499), which is used to create the corner and 1D marginal plots in `plot_posterior` and `plot_movie` has gotten to be rather bloated as we've added more functionality to the plots.

It'd be cleaner if this was a class instead. The idea i

[2018-02-21 18:36] cdcapano commented on #1971
Addressed by #2055, so closing. A better solution using Condor should be pursued, but that's being tracked by #2078.

[2018-02-21 18:36] #1971 closed

[2018-02-24 13:02] cdcapano opened #2085 "PSD variation options break pycbc inference"
PR #2079  has broken `pycbc_inference`, perhaps `pycbc_inspiral` too. Trying to run `pycbc_inference`, I get:
[code]
The issue appears to be that the psd variation options were added to `insert_strain_option_group`, but not to `insert_strain_option_group_multi_ifo`, which is what `pycbc_inference` (and I think `pycbc_inspiral`) uses.

[2018-02-26 11:02] lauranuttall commented on #2085
Should be fixed now with https://github.com/ligo-cbc/pycbc/pull/2086

[2018-02-28 01:55] soumide1102 commented on #2085
Looks like it's still broken. My virtual environment did not pick the reverting commit from #2079 . I still get the error that @cdcapano reported.

[2018-02-28 01:59] soumide1102 commented on #2085
Oops! Sorry.. the reverting was done in PR 2086, which is not merged yet.

[2018-02-28 18:07] stevereyes01 opened #2089 "Deactivating a CVMFS PyCBC Virtual Environment doesn't return user back to original state"
Activating a CVMFS PyCBC virtual environment and then deactivating it doesn't return you back to the state that you were in before activating the CVMFS virtual environment. Here's what happens to me on `sugwg-condor`.

[code]

but, logging out of the cluster and logging back in grants:
[code]

@lppekows suggests expanding the `deactivate` function in the `activate` script in the cvmfs virtual envs

[2018-03-01 16:57] duncanmmacleod commented on #1995
@ahnitz, @spxiwh, gwpy-0.8.1 is the current release, can we get this added now?

[2018-03-01 20:54] ahnitz commented on #1995
@duncanmmacleod Ok, I'll try to have this in the next release. We need to do one in probably a week or so.

[2018-03-09 12:18] #2085 closed

[2018-03-15 11:03] duncanmmacleod opened #2106 "PyCBC can't import its own version"
It seems that a broken relative import means pycbc can't actually import its own version, from `ldas-pcdev1.ligo.caltech.edu`:

[code]

The fix is pretty trivial, I will post a PR shortly.

[2018-03-15 12:59] #2106 closed

[2018-04-04 13:30] stevereyes01 opened #2114 "Minifollowups problem, "Condor DagMan doesn't allow . in job names""
I'm currently getting bitten by a bug similar to this https://jira.isi.edu/browse/PM-1222 and https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=5966

The error message I'm seeing is in the MiniFollowup Dags when I try running a `pycbc_make_coinc_search_workflow` in the dag.dagman.out file:
[code]
The relevant line in the dag is:
[code]
The dag contains hundreds of calls to shell scripts and s

[2018-04-04 14:36] stevereyes01 commented on #2114
Manually removing `./` from the dag JOB names (i.e. `./create_dir_H1-SINGLES_MINIFOLLOWUP_FULL_DATA_LONGDUR_LONGDUR-1126051217-300000.dax_0_local.sub --> create_dir_H1-SINGLES_MINIFOLLOWUP_FULL_DATA_LONGDUR_LONGDUR-1126051217-300000.dax_0_local.sub`) doesn't seem to have fixed the problem I'm having. So I'm stuck.

[2018-04-04 14:52] couvares commented on #2114
I think it's the "...300000.dax..." substring in the job name, not just the ./ prefix.  You still have a '.' in there...

[2018-04-04 15:25] stevereyes01 commented on #2114
@ahnitz Should I go file this in Pegasus (https://jira.isi.edu/secure/Dashboard.jspa) and close the issue here?

[2018-04-04 15:32] ahnitz commented on #2114
@stevereyes01 Feel free to leave this open and crosslink, since it does affect us.

[2018-04-04 15:43] duncan-brown commented on #2114
I agree with @ahnitz that this is a pegasus issue. PyCBC has no control over the "." in these job names. The job that Steven cites is one created by Pegasus that doesn't exist in the PyCBC workflow. I think Pegasus needs to replace "." with some other character when it writes the DAX if this character is now forbidden by Condor.

[2018-04-04 15:47] duncan-brown commented on #2114
@vahi in addition to fixing this, it might also be good for pegasus to do a regexp sub on what it constructs from `<job id="ID0000001" name="segments_from_cats-H1L1_ID0">` just in case the user puts `.` or `+` in there.

[2018-04-04 16:09] couvares commented on #2114
Karan writes, in email:

(Just trying to keep this thread comprehensible...)

[2018-04-04 16:31] spxiwh commented on #2114
Can someone point to something that is "wrong" in a dax file produced by pycbc.workflow? At the moment this us very unclear to follow!

[2018-04-04 16:43] vahi commented on #2114
@duncan-brown reply captures it
Hi Alex,

The issue is that PyCBC is creating an entry in a dax for a sub-dax that looks like this:

       <dax id="ID0021936" file="H1L1-FOREGROUND_MINIFOLLOWUP_FULL_DATA_FULL_CUMULATIVE_CAT_12H-1186624818-687900.dax">
               <argument>--basename H1L1-FOREGROUND_MINIFOLLOWUP_FULL_DATA_FULL_CUMULATIVE_CAT_12H-1186624818-687900 -Dpegasus.dir.storage.mapper.r

[2018-04-04 17:24] vahi commented on #2114
Actually, I am a bit confused myself because i crosschecked in our test cases, and it is not happening what we see here.

For example here is the DAX for a hierarchal workflow being used

-bash-4.2$ cat outer.dax
<?xml version="1.0" encoding="UTF-8"?>

<adag xmlns="http://pegasus.isi.edu/schema/DAX" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pegasus.isi.edu/sc

[2018-04-04 18:13] vahi commented on #2114
@stevereyes01 can you point me to your failed runs.

[2018-04-04 18:24] stevereyes01 commented on #2114
Hey Karan,

I'm on the sugwg-condor.phy.syr.edu cluster. The relevant directory would be `/home/steven.reyes/projects/astro/rough_draft_search_O1/attempt1/small_analysis_attempt_reuse_losc2/output/submitdir/work/O1_sub_analysis1_test_new_exec-main_ID0000001/H1-SINGLES_MINIFOLLOWUP_FULL_DATA_LONGDUR_LONGDUR-1126051217-300000` where the `H1-SINGLES_MINIFOLLOWUP_FULL_DATA_LONGDUR_LONGDUR-1126051217-3

[2018-04-04 19:37] vahi commented on #2114
the source of the error is from the adag element, where the name of the adag is used to construct name for the create dir and cleanup jobs.  will push out a fix later today

?xml version="1.0" encoding="UTF-8"?>

<adag xmlns="http://pegasus.isi.edu/schema/DAX" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pegasus.isi.edu/schema/DAX http://pegasus.isi.edu/schema/d

[2018-04-04 22:01] duncan-brown commented on #2114
So we could fix this in PyCBC by stripping `.dax` off from the `adag` name as well.

[2018-04-04 22:08] vahi commented on #2114
yes that is correct. i have fixed it in Pegasus also. Right now our tests are currently running.
Once they are successful can point you to a build.

[2018-04-05 22:08] #2089 closed

[2018-04-06 21:16] vahi commented on #2114
our tests were green.
you can pick up a new version from https://download.pegasus.isi.edu/pegasus/4.8.2dev/

[2018-04-06 21:57] stevereyes01 commented on #2114
Thanks Karan! I'll test this out (most likely) on Monday depending on when Duncan downloads this on to our cluster.

[2018-04-11 15:19] sfield17 opened #2126 "test_lalsim.py swap test only works for 2,2 mode"
In the file test/test_lalsim.py, the test test_swapping_constituents should add $\pi$ to the variable coa_phase when swapping. This will allow the test to work for models that include harmonic modes different from $(2,\pm 2)$.

[code]

[2018-04-12 20:04] stevereyes01 commented on #2114
I should be able to close this issue later today. One of the minifollowup dags in my workflow completed, but some of the others did not succeed because I made a configuration error. Sorry. Will update later tonight. Thanks.

[2018-04-16 10:15] duncanmmacleod opened #2130 "Method to generate FD waveform using TD approximant"
It would be great to be able to generate a frequency-domain (FD) waveform using a time-domain (TD) approximant, using the public `get_fd_waveform` method, e.g.

[code]

In general it would be great for both `get_td_waveform` and `get_fd_waveform` to work with both domains transparently, with appropriate transforms hidden from the user.

[2018-04-17 17:07] stevereyes01 commented on #2114
I see minifollowups has succeeded and given no issues. Closing this for now. Thanks @vahi .

[2018-04-17 17:07] #2114 closed

[2018-04-18 15:07] duncan-brown opened #2138 "Travis is using an old Docker image for lalsuite"
Travis is currently pulling a base Docker container for the https://github.com/lscsoft/lalsuite/tree/95ad957cee1a37b7fc3128883d8b723556f9ec38 hash of lalsuite, but as of https://github.com/gwastro/pycbc/releases/tag/v1.9.0 we have switched to https://github.com/lscsoft/lalsuite/tree/8cbd1b7187ce3ed9a825d6ed11cc432f3cfde9a5

To fix this, you need to change the lalsuite hash in the base image https:

[2018-04-18 18:26] micamu commented on #1947
Without knowing about this issue, I just decided to make some changes to pycbc_condition_strain after trying to teach a new user how to run it and getting cryptic error messages. That is the origin of PR #2140, but it seems like you would want something different (i.e. the colored_noise low frequency to be the same as the PSD generation low frequency). Let me know in the corresponding PR if you wa

[2018-04-24 02:25] titodalcanton opened #2150 "pycbc_single_template_plot fails on headless systems due to import in legacy_grb"
Recent releases (testing on 1.9.4) break `pycbc_single_template_plot` on headless cluster nodes:
[code]
This seems due to an unfortunate series of imports. Rearranging them fixes the error. I will post an actual fix after some sleep.

[2018-04-24 15:26] titodalcanton commented on #2150
This error actually happens for *all* executables importing `pycbc.results` and probably needs a more general fix in `legacy_grb`'s matplotlib import (https://github.com/gwastro/pycbc/blob/master/pycbc/results/legacy_grb.py#L37). @spxiwh could you comment on this? Can I drop that import or move it into the function where it is used?

[2018-04-26 14:56] a-r-williamson commented on #2150
@titodalcanton `legacy_grb.make_grb_segments_plot` is only called from `pycbc_make_offline_grb_workflow` so could we not just set the backend there and remove it from `legacy_grb.py`?

[2018-04-30 13:25] a-r-williamson commented on #2150
@titodalcanton no strong peference. I can review if you make a PR, otherwise I'll do it and get @pannarale to review. Thanks.

[2018-04-30 13:31] spxiwh commented on #2150
This looks like it should be a function-level import of *just* matplotlib.pyplot. The `'agg'` stuff should be done at the level of any executable that needs it.

[2018-05-02 13:28] micamu commented on #1947
This issue was addressed by PR#2140

[2018-05-02 13:28] #1947 closed

[2018-05-02 14:12] titodalcanton commented on #2150
This issue is now resolved.

[2018-05-02 14:12] #2150 closed

[2018-05-16 14:08] Fergus-Hayes opened #2167 "`pycbc_single_template --psd-output` output .hdf file error"
Calling the command:
[code]

brings up the error:
[code]
while removing the --psd-output option to .hdf will produce the snr time series fine.

[2018-05-16 14:25] titodalcanton commented on #2167
Saving to .txt files works, by the way.

[2018-05-16 15:05] ahnitz commented on #2167
@titodalcanton @Fergus-Hayes I think I know what the issue is. Given the options, there are actually *multiple* PSDs being generated which cover slightly different times. The save command is getting called for each, I think. This is a bug we'll need to fix....

[2018-05-16 15:07] ahnitz commented on #2167
The reason it doesn't fail for the .txt output, is that it's just overwriting the file and you'll end up with whatever the last PSD was.

[2018-05-29 13:23] tdent opened #2178 "page_snrifar try/except prevents diagnosis of missing foreground"
There are foreground events in an hdf file I am trying to plot but the 'cumulative' plot can't find them: see eg https://www.atlas.aei.uni-hannover.de/~tdent/LSC/o2/rates/catalog/H1L1-SNRIFAR_CUMULATIVE_O2.png .
However because there is a try-except around the code that gets the foreground triggers I can't see why it doesn't find them.  I don't see why the try-except is needed anyway.

Also (what

[2018-05-29 14:00] tdent commented on #2178
Also, the ymax that is plotted is 10 times the specified maximum (`pylab.ylim(plot_ymin, plot_ymax * 10.0)`.  This is inappropriate if the user specifies ymax.

[2018-05-29 14:01] ahnitz commented on #2178
@tdent Yep, I agree with your last point. I think the line you  refer to is also a holdover from when the dimensions where more automatically guessed.

[2018-05-29 14:03] tdent commented on #2178
I think it is reasonable for the code to automatically put some headroom above the maximum plotted value if not otherwise specified ..

[2018-05-31 20:22] duncanmmacleod opened #2189 "ligolw header files not included in tarball from sdist for 1.10.0"
The [1.10.0 release tarball](https://pypi.org/project/PyCBC/1.10.0/#files) doesn't include the `.h` files for `pycbc/ligolw`, so the build fails:

[code]

I think these need to be added to the `MANIFEST.in` file.

[2018-06-01 09:39] spxiwh commented on #2189
@duncanmmacleod Any way to test this without making a new release? (And I really hope we can move over to the proper ligolw soon ... Only I'm now not sure what the proper ligolw actually is!)

[2018-06-01 09:40] ahnitz commented on #2189
@duncanmmacleod @spxiwh I already fixed this and forced a new release.

[2018-06-01 09:40] #2189 closed

[2018-06-05 10:07] Cyberface opened #2190 "Change of default behaviour in TimeSeries"
I think in commit eb9c1e8a55802170a14ba74277e7b1e6ddb7aa55 that some of the default functionality of `TimeSeries`  operations were altered.

Before eb9c1e8a55802170a14ba74277e7b1e6ddb7aa55 (e.g. in the previous commit to his 3ccc7aa2483f719efd81ed7f10204a19ed694b0d)
I could do the following

[code]

The output of this is

[code]

Now if I use commit eb9c1e8a55802170a14ba74277e7b1e6ddb7aa55 the sam

[2018-06-05 10:15] spxiwh commented on #2190
That actually smells like a numpy bug @ahnitz ?

[2018-06-05 13:29] ahnitz commented on #2190
@Cyberface This looks so far like a bug in numpy to me...

I'll do some digging, but for your future reference, you can simply do.

[code]
None of the numpy functions are needed here.

[2018-06-05 13:30] ahnitz commented on #2190
Or the entire operation as

[code]

[2018-06-05 13:32] ahnitz commented on #2190
Also, in general try to avoid using the '.data' attribute. If you find yourself needing too, we should probably add some additional functionality to the types.

[2018-06-05 14:13] Cyberface commented on #2190
OK thanks!

[2018-06-05 14:20] ahnitz commented on #2190
@Cyberface I've tracked it down to a numpy bug in how it is checking for the 'real' property (in our case a method). It's not so robust. What you get will be the result anytime numpy.real is called on a pycbc type. The difference is that most of the type our types will now play nicely with numpy and the intermediate operations all all resulting in pycbc types whereas before one of the operations w

[2018-06-05 14:20] ahnitz commented on #2190
I'll try to think of a patch on our side, as numpy is not so quick to change.

[2018-06-05 14:37] titodalcanton opened #2191 "Time-frequency-inspiral plots in the coinc search workflow handle auto and manual gates differently"
https://ldas-jobs.ligo.caltech.edu/~timesh.mistry/O1/reanalysis_with_O2_pipeline/analysis5/run1/5._injections/5.04_followup_of_BBHSEOBNRV4_INJ_with_ifar_lt_1_year/H1-PLOT_SINGLES_TIMEFREQ_0-1130754617-1350000.png

The workflow does not apply auto gates to time-frequency-inspiral plots, but it does apply manual gates. Both types of gates should be treated consistently.

[2018-06-13 09:12] vitale82 opened #2195 "_check_lal_pars does not correctly assign quadfmode2"
The function does

`if p['lambda_octu1'] is not None:
        lalsimulation.SimInspiralWaveformParamsInsertTidalOctupolarLambda1(lal_pars, p['lambda_octu1'])
    if p['lambda_octu2'] is not None:
        lalsimulation.SimInspiralWaveformParamsInsertTidalOctupolarLambda2(lal_pars, p['lambda_octu2'])
    if p['quadfmode1'] is not None:
        lalsimulation.SimInspiralWaveformParamsInsertTidalQuadru

[2018-06-13 11:57] #2195 closed

[2018-06-19 16:10] ahnitz opened #2202 "memory leak in mkl fft useage."
https://github.com/gwastro/pycbc/blob/master/pycbc/fft/mkl.py#L112

It should have been fixed by the above, but this seems not to be the case for mkl. Not sure what is causing the leak at this point, but it does not occur with FFTW.

This was observed in pycbc live testing.

[2018-06-19 16:22] josh-willis commented on #2202
@ahnitz Just to be sure, in the tests, you are calling the function API as at the line above, and not the class API? Do you have a test case you can point me to that reproduces the problem?

[2018-06-19 16:28] josh-willis commented on #2202
OK. Well, I'll wait for you to come up with a test case, and then try to run under some debugging tools. Since, like you, it seems to me that the obvious sources of memory leaks have been fixed, I'm not sure how to know what's causing the problem without doing that.

[2018-07-03 17:17] titodalcanton commented on #2167
Some proposals for a fix:
1. Save all PSDs. For HDF output this is straightforward to do with different datasets tagged with epochs. For `.npy` and `.txt` files the PSDs could use different columns. It might not be straightforward to read those FrequencySeries back with PyCBC's primitives though.
2. Save an average PSD. The user will want the ability to choose the averaging method. Something like

[2018-07-05 09:14] tdent opened #2222 "optimal snr jobs need diagnosis tools for waveform gen failure"
Currently there doesn't seem to be a way to tell pycbc_optimal_snr to give a useful/informative error message when a waveform fails to be generated: specifically, which injection it failed for.  `--verbose` should e.g. output a progress report for each injection in the file

[2018-07-05 09:17] spxiwh commented on #2222
Yes something like:
[code]
    def compute_optimal_snr(inj, return_found=False):
        for det, column in opts.snr_columns.items():
            # geocent time is robust to potentially incomplete sim tables
            injection_time = inj.geocent_end_time
            psd = psds[det](injection_time)
            if psd is None:
                continue
            print inj.simulation_id

[2018-07-06 13:11] ahnitz opened #2227 "class threshold"

[2018-07-06 13:11] #2227 closed

[2018-07-06 16:48] dwysocki opened #2228 "Some issues found while following the lalsuite installation guide"
I found some minor issues while going through <http://pycbc.org/pycbc/latest/html/install_lalsuite.html>, and took note of them to help improve this documentation.

# 1

"This ie not required" should become "This **is** not required".

# 2

The links [list of lalsuite tags](https://ligo-vcs.phys.uwm.edu/cgit/lalsuite/refs/tags) and [list of lalsuite branches](https://ligo-vcs.phys.uwm.edu/cgit/lal

[2018-07-06 16:56] ahnitz commented on #2228
Hi Dan,

Thanks for the updates. This isn't related to the issues you've identified,
but you won't be able to run pycbc with the lalinference_02 branch. That
hasn't been compatible with the modern lalsimulation interface for ~ 1.5
years. If you want to run pycbc code, you'll need to either run an old
version before the lalsimulation interface change, or use a modern version
of lalsimulation.

-Ale

[2018-07-06 17:02] dwysocki commented on #2228
Hi Alex,

Shoot, I just finished installing pycbc too!  Thanks for the warning.  Is there a recommended release to use instead?  I'd rather avoid master.  I just used `lalinference_o2` because it's what I've been using for another piece of code I use.

[2018-07-06 21:01] ahnitz commented on #2228
I see. I you are running from a cluster, I just suggest using one of our
preexisting virtualenvs. You can find how to source that the github
releases page. If this is for your laptop, is there a reason you can't use
the pypi distributed images of lalsuite that we now build? I.E. to install
both

pip install lalsuite pycbc

If you need your own from source build, you could always choose the one
we'

[2018-07-06 21:45] dwysocki commented on #2228
Hi Alex,

I ended up getting it running with the version of lalsuite used to test the latest pycbc release, at the suggestion of @a-r-williamson.  I'm running it on a cluster, but I can't use the pre-built virtualenv, since I need to be able to install additional packages as pycbc is just one dependency of the script I'm writing.

So consider point 3 in this issue closed, but points 1 and 2 still

[2018-07-06 21:46] ahnitz commented on #2228
Yep, thanks for the report!

On Fri, Jul 6, 2018 at 11:45 PM, Dan Wysocki <notifications@github.com>
wrote:

--
Dr. Alexander Nitz
Max Planck Institute for Gravitational Physics (Albert Einstein Institute)
Callinstrasse 38
D-30167 Hannover,  Germany
Tel: +49 511 762-17097