[2020-05-11 18:23] ahnitz opened #3266 "two-stage trigger merge"
Currently if you have a large number of files, it may not be possible to run trigger merge (due to file number limits).

This should be done in two stages
1) merge triggers of same sub-bank / ifo
2) merge the resulting files (this requires a new executable)

[2020-05-12 07:37] yanyuechuixue opened #3268 "Lots of zeros in SNR when use dynesty as the sampler."
When one  runs pycbc_inference with Dynesty as the sampler, he will get the posteriors of "loglikelihood". It has a lot of '-1E300' values:

![image.png](https://i.loli.net/2020/05/12/ujpnli2JacSb53X.png)

When I try to use the function "snr_from_loglr(loglikelihood-lognl)" to get the posterior of SNR, those '-1E300' results in a lot of zeros in SNR. It seems like:

![image.png](https://i.loli.net

[2020-05-12 12:59] titodalcanton commented on #3263
Here are some common features of the two observed cases:
* The `spin2z` parameters are zero in all detectors.
* The "different" template is assigned to one of the detectors forming the initial double coinc, not the followup detector.
* The "different" template parameters are not *too* different: the chirp mass is within 20% in both cases.

[2020-05-12 13:06] lpsinger commented on #3263
My spider sense says to look for off by one errors in findchirp_cluster_over_window_cython or functions that handle its integer return value.

[2020-05-12 13:07] ahnitz commented on #3263
@titodalcanton
Bullet(1) how common in a spin2z=0 template in this bank?

Bullet (2) doesn't mean much, as it just uses the template_id to regenerate the template.

Bullet (3) might mean something. Given your bank density how likely is this given random templates? If it's pretty unlikely, it might mean the templates have to be from the same template group (i.e in the filtering code). The templates

[2020-05-12 13:11] ahnitz commented on #3263
@titodalcanton Actually, something I forgot to ask earlier. Are the two templates in both the cases you've found processed by the same worker? Or would they normally be processed by different ones?

[2020-05-12 13:14] spxiwh commented on #3263
spin2z = 0 is very common with the new bank generator.

[2020-05-12 13:14] ahnitz commented on #3263
That function isn't actually used in pycbc live, but your point about 'off-by-1' errors is generically something one can look for. Hopefully, where the problem is can be pinpointed a bit more first.

[2020-05-12 14:01] bhooshan-gadre commented on #3263
Just so as people know, I didn't find any `problematic` coinc file in `39970` coinc files generated with injections. I will have to look at the hdf foreground to be sure. That is 0 per 40k for injections which much less than what @titodalcanton found.

[2020-05-13 11:51] titodalcanton commented on #3263
As Ian said, spin2z = 0 is very common, 77% of the templates have that.

In both cases, the two templates are assigned to *different* workers.

[2020-05-13 15:58] cdcapano commented on #3268
Those points are places in parameter space where the likelihood is basically 0, giving log likelihood of -inf (I think hdf files store "inf" as the largest possible float it can store, which is why you're seeing -1e300 there). The SNR for these are reported as 0 because SNR is defined as `\sqrt(2*loglr)`, where loglr is the log likelihood ratio. As you can see,  SNR only has any meaning for positi

[2020-05-13 16:08] yanyuechuixue commented on #3268
Thank you!

[2020-05-13 16:08] #3268 closed

[2020-05-13 23:59] ajwcaltech opened #3273 "pycbc.frame calls lalFrame, which does not like blanks in paths"
Hi folks,

I'd like to report an issue that had me stumped for quite a while.

In the GWOSC ODW tutorial 2.2:
https://github.com/gw-odw/odw-2020/blob/master/Day_2/Tuto_2.2_Matched_Filtering_In_action.ipynb
In the last cell, it calls a pycbc routine (read_frame) which in turn calls lalframe.FrOpen .I get this error:

[code]

No one else was getting this error but me (and this guy: [issue 2281](http

[2020-05-14 17:25] titodalcanton commented on #3263
There is another common thing about the two cases I found: they both happened after switching to Python 3. I am now checking the O2 triggers to see if we can find a case in Python 2.

[2020-05-14 17:43] titodalcanton commented on #3263
Here is a potential candidate for a Python 2-vs-3 difference:

https://github.com/gwastro/pycbc/blob/master/pycbc/filter/matchedfilter.py#L1517

`grabs` will be a int array in Py2, and a float array in Py3. This will propagate to the `arange()` a few lines below, leading to different sequences. Eventually, `chunks` is converted to an int32 array anyway, but I am not sure if this will necessarily h

[2020-05-15 16:33] titodalcanton commented on #3263
I ran a test over the entire results of the O3 replay to verify that at least the *single* triggers saved to the HDF files have `template_id` and template parameters consistent with the bank. In fact, for many triggers, they do not. The rate of failures seems approximately 1 trigger out of several 8-s chunks, although some chunks have more than 1 incorrect trigger. This should be easier to debug t

[2020-05-15 16:38] ahnitz commented on #3263
@titodalcanton Do you see this issue on MDC data? If there is short fake noise case that can demonstrate the issue, I'd be happy to try to reproduce and look into it further.

[2020-05-15 17:44] titodalcanton commented on #3263
Not yet, but see #3278. It may just be a matter of running a longer test or with more templates.

[2020-05-15 18:22] #3259 closed

[2020-05-15 20:52] titodalcanton commented on #3263
Yup, looking at O3 triggers, this does appear to have started when we switched to Python 3.

[2020-05-26 18:21] maxtrevor commented on #3260
I will work on this

[2020-05-26 19:08] titodalcanton commented on #3263
Ok, I managed to reproduce this with a slightly modified version of the unit test. The key is using a production-level template bank (I used the O3 bank).

[2020-05-27 21:03] titodalcanton opened #3290 "Install instructions should be clearer about Python 3 virtualenvs"
The [install instructions](https://pycbc.org/pycbc/latest/html/install.html#installing-pycbc-in-a-virtual-environment) do not talk about the possibility of creating a Python 3 virtualenv. Someone following the instructions on a system that defaults to Python 2 would obtain a virtualenv which cannot run, for example, PyCBC Live.

[2020-05-27 21:22] titodalcanton commented on #3290
The instructions also suggest to install `python-cjson`, which is incompatible with Python 3.

[2020-05-27 21:24] titodalcanton commented on #3290
From @spxiwh:

[2020-05-29 09:16] GarethDaviesGW commented on #2886
Related commit: #3280, but would like to improve over this

[2020-05-29 17:37] titodalcanton commented on #3263
@ahnitz I found that I can reproduce this issue when running `examples/live/run.sh` with the full O3 bank, but **not** with the full O2 bank. So I started checking if there were obvious differences in the two banks, and my attention was caught by the template hashes.

Could this bug be explained by a hash collision [here](https://github.com/gwastro/pycbc/blob/master/pycbc/waveform/bank.py#L495)? A

[2020-05-29 17:41] ahnitz commented on #3263
@titodalcanton If there is a hash collision, that would cause *a lot* of problems, and well could explain this. Can you provide a set of numbers that has hash collisions in python3? It's somewhat confusing how this is possible unless python3 is no longer considering the full tuple when generating a hash (I'll quickly check that).

[2020-05-29 17:43] ahnitz commented on #3263
@titodalcanton @spxiwh BTW, I'm adding an offline tag due to the potential for a hash collision. If this is occurring it will also cause problems in the offline analysis if it is moved to python3.

[2020-05-29 17:52] ahnitz commented on #3263
@titodalcanton Have you calculated the hash value for each template to see if there is a collision?

[2020-05-29 17:59] ahnitz commented on #3263
@titodalcanton In investigating python2 vs 3 hash differences, there are some alarming ones.

[code]

The 'randomization' could cause a problem if it wasn't consistent between nodes. I'd have thought though that you might see much worse effects in this case.

[2020-05-29 18:11] titodalcanton commented on #3263
Yes, that is how I found out.

[2020-05-29 18:47] ahnitz commented on #3263
@titodalcanton This may be a possible solution for pycbc live assuming the hash collision is the explanation. https://github.com/gwastro/pycbc/pull/3291. We avoid hashing altogether. A different solution is needed for the offline analysis as I believe a similar situation is possible there.

[2020-05-30 11:40] titodalcanton commented on #3263
I confirm that the two O3 coincident triggers that originally raised this issue both have template parameters that produce a hash collision.

[2020-05-30 20:31] ahnitz opened #3292 "pycbc_create_injections produces no output if only given static params"

[2020-05-31 12:35] cdcapano commented on #3292
Static parameters are written to the `attrs`.

[2020-05-31 12:35] #3292 closed

[2020-05-31 12:36] ahnitz commented on #3292
Yep, sorry, figured this out in chat afterward (and after looking through the inject code to see how this would function).

[2020-06-02 10:39] titodalcanton commented on #3263
After applying #3291, I ran PyCBC Live over O3 replay data for ~14 hours and I found zero cases of single triggers with inconsistent template parameters. I consider this issue fixed by #3291 and I am closing it.

[2020-06-02 10:39] #3263 closed

[2020-06-02 15:50] maxtrevor commented on #3260
What else do we want the live example to do?

[2020-06-02 16:48] titodalcanton commented on #3260
Being addressed in PR #3294.

[2020-06-03 15:37] yanyuechuixue opened #3299 "Question about inference with dynesty."
This is just a question about how to use pycbc inference.

I am use pycbc_inference to estimate the parameters of GW150914. I copy the run files from https://github.com/gwastro/pycbc-inference-paper/tree/master/run_files/GW150914 (with small changes, because the required config file format has changed). To accelerate the sampling, I use dynesty instead of pt_emcee. The full config file is pasted b

[2020-06-05 16:12] GarethCabournDavies opened #3301 "Update cookie handling (long term, not urgent)"
We should try and integrate https://github.com/duncanmmacleod/requests-ecp/, which is being set up by @duncanmmacleod as a backend to both ecp-cookie-init and ligo-proxy-init, but hopefully we can use directly

[2020-06-05 16:22] GarethDaviesGW opened #3302 "Hash handling in offline templates"
Template hashes can clash in the python3 version of the hash() function

@titodalcanton noticed this issue in PyCBC Live #3263 and it was solved in Live by #3291 - we need to ensure that it is fixed in offline before being able to run in python 3.

Possible options are to follow the currently used live example and compare (possible float comparison issues) or use hashlib module  (_may_ still clash

[2020-06-06 14:20] ahnitz commented on #3302
One can't follow the live model, as it didn't actually need to use hashes to check for common templates between different files later on. Each process still had access to the whole bank (and hence what the ids meant) so it could avoid the hashes entirely.

I think the options are
1) hashlib (as you suggest, might be an easiest extension)
2) get rid of hashes altogether, and put an explicit id colu

[2020-06-07 01:52] yanyuechuixue opened #3303 "Is there any documentation about how to configure a computer to run workflow?"
Hello all,

I can run pycbc_inference on my local machine.
Now I want to run a workflow. (Because I want to remove a lot of injections whose snr < 8, and workflow has an option to set a thorshold.)
However, I can not find any documentation about how to set up a machine.

Is there any documentation?

Thank you all.

[2020-06-08 16:17] IngoTews commented on #3054
Hi all, I am using Python 3.6 and macOS 10.15.1. I just tried

     pip3 install pycbc

and got the same error. So it's still an issue. Trying the workaround now :)

[2020-06-09 11:35] yanyuechuixue commented on #3054
You could install python3 environment with anaconda3, and then pip install pycbc.

[2020-06-09 19:42] #3260 closed

[2020-06-14 10:48] #3235 closed

[2020-06-18 13:04] ahnitz commented on #3303
@yanyuechuixue There isn't at the moment, I believe @cdcapano is working on some, which will hopefully be ready in the next couple weeks.

[2020-06-18 18:25] cdcapano commented on #3303
@yanyuechuixue Yes, I'll be adding documentation for the PE workflow in the next week.

[2020-06-26 10:18] GarethDaviesGW commented on #3109
I am fairly sure that this is solved by #3321, where optimal SNR is set as zero for vetoed injections, but you might want to confirm that this is the case

[2020-06-30 10:41] GarethDaviesGW commented on #3143
Just to connect some dots - @connor-mcisaac is working on this in #3345

[2020-06-30 10:54] spxiwh commented on #3143
#3345 will mostly only have affect on the *2-ifo* jobs. I think the 3-ifo memory issue was addressed already in other patches (e.g. presorting the 3-ifo array and storing with fewer bits). I'll close this.

[2020-06-30 10:54] #3143 closed

[2020-07-02 15:37] ahnitz commented on #3303
@yanyuechuixue There is updated documentation that @cdcapano made now here. https://pycbc.org/pycbc/latest/html/workflow/pycbc_make_inference_workflow.html

[2020-07-02 15:37] ahnitz commented on #3303
@yanyuechuixue The assumption for the workflows is that you have access to a condor-based compute cluster.

[2020-07-03 16:22] GarethCabournDavies opened #3353 "Using files made in different version of python breaks findtrigs"
This is (at least sometimes) due to ifo attributes being strings or bytes in the different python versions, and these used to key a dictionary which is then called according to attributes from another file

In the case that showed this up for me it was using a python2 PTA file in a python3 run causing a Keyerror on https://github.com/gwastro/pycbc/blob/master/pycbc/events/stat.py#L484

[2020-07-06 09:18] yanyuechuixue commented on #3303
Thank you very much!

[2020-07-06 09:18] #3303 closed

[2020-07-08 12:24] cdcapano opened #3358 "Dynesty doesn't checkpoint to backup"
Currently, dynesty is dumping its checkpoint to the `.checkpoint` file, but not the `.bkup` file. It should dump to both, to protect against file corruption.

[2020-07-09 20:02] ahnitz opened #3365 "bounds should not have to be provide to set boundary types"
For distributions like angular ones, it would be nice to say the boundary was cyclic without having to also provide the min/max.

[2020-07-16 09:09] #2955 closed

[2020-07-18 22:49] bpiotrzkowski opened #3383 "pycbc_make_skymap should have option to save files to path"
When running several instances of `pycbc_make_skymap` in the same directory, there are failures due to every instance saving to the same filename `0.fits`, which results in file overwrites. A natural solution would be to allow each instance save to a different directory.

[2020-07-19 10:17] #3383 closed

[2020-07-20 10:28] MarlinSchaefer opened #3387 "Prepend falsely saves data in TimeSeries"
When prepending <x> zeros to a TimeSeries and then accessing the content of the TimeSeries through a slice(len(TimeSeries)-<x>, len(TimeSeries)) it returns an empty array. This happens because the roll function seems to falsely store the data to the TimeSeries._saved dict.
This bug is only an issue, when one tries to access exactly the amount of time at the end of the TimeSeries that was prepended

[2020-07-20 10:35] ahnitz commented on #3387
@MarlinSchaefer Yes, this looks like a bug. See this line https://github.com/gwastro/pycbc/blob/master/pycbc/types/array.py#L828

There is a reset of the cache, but there are a few calls to self[start:end] before the data is updated. The reset should happen at the end. @MarlinSchaefer Can you prepare a patch?

[2020-07-23 12:00] ahnitz commented on #3387
Fixed by #3389

[2020-07-23 12:00] #3387 closed

[2020-07-24 19:32] maxtrevor opened #3395 "Need to decode approximant strings in pycbc_condition_strain"
Currently pycbc_condition_strain does not recognize approximants after reading them from the variable parameters table of an injection hdf. For example, when approximant 'SEOBNRv4' is stored as a variable parameter in an injection hdf, reading the hdf gives back a string b'SEOBNRv4' which is not recognized as being the same thing as 'SEOBNRv4'

Running the pycbc live test contained in my pull requ

[2020-07-30 09:50] iurilarosa opened #3400 "Lowpass filter with resampling"
Hello everyone.
This is more a feature request than an issue. I need to apply a cutoff to the time series of real data, basically to reduce their size and be able to do some faster tests on them.
For example taking the frame files from O2, I want to cut them at 256 Hz, reducing in this way the sample frequency from ~16 kHz to 512 Hz. With `lowpass_fir` this can't be done as far I can see, since it

[2020-07-30 09:57] ahnitz commented on #3400
@iurilarosa Thanks for the feature request. I don't think this should be too difficult to add. As for the result you are seeing with resample_to_delta_t, this does not seem right, so I've added a bug label for the possibility that there is some issue here.

Could you provide a reproducing case for the latter plot? I'd like to check what is happening there.

[2020-07-30 10:09] ahnitz commented on #3400
@iurilarosa BTW, resample_to_delta_t *should* work for the case you are requesting. It only supports resampling by powers of 2, but that's the case I believe you should be in.

[2020-07-30 12:58] iurilarosa commented on #3400
Hello Alex, thanks for the answer.
This is a sample of the code that I'm using:
[code]
![image](https://user-images.githubusercontent.com/16984873/88925438-d46a5880-d274-11ea-83b5-2448b382efff.png)

As you can see, changing the frequency of the cat to 1024, the PSD converges to the original one, but still shows all those ugly lines.

[2020-07-30 13:01] ahnitz commented on #3400
@iurilarosa In case it matters what GPS times does this cover?

[2020-07-30 14:49] ahnitz commented on #3400
@iurilarosa What you are seeing is just spectral leakage. Your PSD in the first instance is using too little data to prevent bleeding of the low frequency peak downwards. You keep the number of samples the same for your downsampled data, but keep in mind that means the *duration* of each chunk used for psd estimation is different. In fact you use 8x longer duration in the second one, which allows

[2020-07-31 09:43] iurilarosa commented on #3400
Ok thank you! I totally forgot that changing the sample frequency I was reducing the amount of bits used for the PSD estimation, giving seg_len = frame_len. I was able to reproduce your plot using the attribute `.psd(16)`, and looking at the source code, also with the function `psd.welch()` in this way:
[code]
I think that the problem is solved, at the end everything was working properly, I was ju

[2020-07-31 13:09] #3400 closed

[2020-08-10 01:29] oorc06 commented on #3054
According to https://pycbc.org/pycbc/latest/html/install.html, PyCBC only supports Python2. Perhaps this is causing the problem?

[2020-08-10 03:57] ahnitz commented on #3054
Sorry, that documentation is out of date. We will need to update that. PyCBC fully supports python 3 now.

[2020-08-11 06:51] chunyulin commented on #2927
On arm64, I cannot install pycbc-1.16.7 from source due to the missing of "x86intrin.h", which seems to be related to the SIMD staff. My workaround is to comment the following lines in setup.py and it works for most inference job. Can I just comment those line?

#e = Extension("pycbc.events.simd_threshold_cython",
#              ["pycbc/events/simd_threshold_cython.pyx"],
#              language='

[2020-08-11 08:08] ahnitz commented on #2927
@chunyulin For most inference you should be OK with commenting that out, though we need to find a longer term solution if we want to fully support ARM.

[2020-08-20 13:25] ahnitz opened #3426 "error downloading data from tutorials running within docker container"

[2020-08-20 15:52] titodalcanton opened #3427 "`InjectionSet.write()` problem with approximant field on Python 3"
Posting a reduced example to demonstrate the issue described in #3420 and possibly #3395.

I created an HDF injection set as follows:
[code]
with `injection_definition.ini` being:
[code]
I then expected something like this to work:
[code]
However, I get this:
[code]
All of the above is running from the same env, using Python 3.7.7 and the current master of PyCBC, 9e97329833f3f2c42d3db601f6956d921f

[2020-08-21 01:35] HumphreyWang commented on #3426
### Thanks for helping me open thie issue!
I just began to learn pycbc recently, and it seems that I always get the error which indicates 'I failed to open the url to downnload the data', like this example from tutorials:

[code]

then I got this:
![image](https://user-images.githubusercontent.com/68005354/90839686-afa46500-e38a-11ea-86c1-ffc5e008ed34.png)

I don't know if it is caused by the fire

[2020-08-27 16:44] josh-willis commented on #3184
This should now be resolved with the `pycbc-el7:latest` Dockerhub image, and with any future releases *after* the current release, v1.16.9.  There is no way to retroactively change this on earlier releases.

I am closing this ticket, if you encounter this or similar problems on a release after v1.16.9, please open another ticket.

Closed via #3379

[2020-08-27 16:44] #3184 closed

[2020-09-01 09:32] ahnitz commented on #1398
I believe this is not handled.

[2020-09-01 09:32] #1398 closed

[2020-09-01 09:34] ahnitz commented on #3168
I think this won't be fixed. Although it can be handled with explicit distributions, or the new fixed Sample distribution for the cases where that is appropriate.

[2020-09-01 09:34] #3168 closed

[2020-09-01 09:34] ahnitz commented on #3302
I believe @GarethDaviesGW has now addressed this.

[2020-09-01 09:34] #3302 closed

[2020-09-01 09:35] ahnitz commented on #3256
This is now supported

[2020-09-01 09:35] #3256 closed

[2020-09-01 09:35] ahnitz commented on #3161
A simple stub is now provided for this in the docs

[2020-09-01 09:35] #3161 closed

[2020-09-01 09:37] #2434 closed

[2020-09-01 09:38] ahnitz commented on #2407
This is largely done now.

[2020-09-01 09:38] #2407 closed

[2020-09-01 09:38] ahnitz commented on #1281
I think this is outdated enough that it is no longer being tracked. Please re-open if still needed.

[2020-09-01 09:38] #1281 closed

[2020-09-01 09:39] #1292 closed

[2020-09-01 09:39] cdcapano opened #3439 "Proposed config file syntax for transdimensional MCMC"
We will soon be adding support for doing transdimensional MCMC to `epsie`. A transdimensional MCMC is one in which the number of parameters (or models) is itself a variable parameter. To make use of this in pycbc, we need a config file syntax to specify transdimensional parameters and priors. Before implementing it, we thought we'd post it here for feedback.

The specific type of transdimensional

[2020-09-01 09:41] ahnitz commented on #2465
Closing as I believe this is an issue with nds2 remote access and gwpy's listed requirements. Please re-open if you feel this is not the case.

[2020-09-01 09:41] #2465 closed

[2020-09-01 09:41] #2722 closed

[2020-09-01 09:42] #2793 closed

[2020-09-01 09:43] ahnitz commented on #480
This is no longer tracked, so closing.

[2020-09-01 09:43] #480 closed

[2020-09-01 09:44] #2306 closed

[2020-09-01 10:01] ahnitz commented on #3439
@cdcapano I'm finding the param names a bit confusing. Can me make it a bit more obvious that some kind of replication and fill in will occur? i.e.
[code]

Then the param has the form of a substitution and it's a bit clear this will occur. It also means that it need not always be at the end, the replacement could be anywhere convenient.

[2020-09-01 11:42] cdcapano commented on #3439
I like that idea, but can you have curly braces in section names? That's needed for setting the prior... e.g., does this work?
[code]

[2020-09-02 08:02] tdent commented on #2793
Why has this been closed without explanation?

[2020-09-16 01:55] Sbozzolo opened #3449 "filter.overlap does not behave correctly when input series do not have the same length"
I would expect the function `overlap` to be symmetric in the input: `overlap(h1, h2) = overlap(h2, h1)`. In its current implementation, this is not true. I am attaching a minimum working example to show that.

I believe that the reason for the asymmetry is in how the cutoff indices are selected (they are always extracted looking
at `delta_f` and `N` of the second series). I suspect that the result

[2020-09-23 08:36] GarethDaviesGW opened #3461 "Background followup time for uninvolved detectors"
If a detector is not involved in the coincidence for a background event, the time for followup in other detectors is calculated as the average time between the involved detectors.

This isn't an error, just doesn't add any interesting information. This should be updated to use the time of the 'fixed' detector

Not urgent

[2020-09-23 12:55] spxiwh opened #3463 "Install MKL properly in Travis"
We should try and install MKL properly in Travis. This page might provide the necessary invocations to do this:

https://software.intel.com/content/www/us/en/develop/articles/installing-intel-parallel-studio-xe-from-apt-repository.html

[2020-09-23 16:15] spxiwh commented on #3463
@josh-willis says `Is there a reason not to just pip install mkl as we do inside the docker container, for the Travis tests?`

[2020-09-24 11:18] a-r-williamson opened #3466 "PyGRB: Implement suitable ranking statistic from chisq tests"
PyGRB (with `pycbc_multi_inspiral`) is in need of a power chi-sq implementation for the calculation of the detection statistic.

[2020-09-24 11:21] a-r-williamson opened #3467 "PyGRB: Implement short time slides"
PyGRB should have short time slides enabled (sliding by multiples of the trial duration within segments).

This will require changes to event manager: keep track of which time slide we are on and to treat events from a different time slide as separate events.

[2020-09-24 11:31] a-r-williamson opened #3468 "PyGRB: Re-write injection infrastructure"
PyGRB injections should use hdf5 and generally not be so ad hoc.

This entails replacing `lalapps_inspinj`, `pycbc_dark_vs_bright_injections` , `pycbc_split_inspinj`, and the `pylal` codes with one executable that makes suitable injections for a GRB search.

This can potentially piggy back on `pycbc_create_injections` and `pycbc_hdf5_splitbank`.

[2020-09-24 11:41] titodalcanton commented on #3468
@a-r-williamson you may want to watch out for the issue described in #3427.

[2020-09-24 12:11] spxiwh commented on #3466
On this point we did have some discussion with @idorrington92 when he was writing `pycbc_multi_inspiral`. At the moment `multi_inspiral` does support the single detector chi-squareds:

https://github.com/gwastro/pycbc/blob/master/bin/pycbc_multi_inspiral#L390

but no form of coherent chi-squared (there's optimization questions here that will arise once short-slides/sky points are in ... and I thin

[2020-09-24 12:13] spxiwh commented on #3468
It would be a great test of the new injection infrastructure if you can directly sample from the required GRB distributions with `create_injections` and a suitable config file!

[2020-09-24 12:39] pannarale commented on #3468
`pycbc_create_injections` ---> `pycbc_dark_vs_bright_injections` ---> `pycbc_hdf5_splitbank`.  So I think the first thing to do is to enable hdf5 stuff in `pycbc_dark_vs_bright_injections`

[2020-09-24 12:46] ahnitz commented on #3468
@a-r-williamson The current limitation of pycbc_create_injections (and some of the stuff below) is what Tito has pointed out. At the moment that means it is difficult to do an injection set that uses multiple waveform approximants at the same time. The other issue is is how to place injections in time. As is, there isn't a way to ensure minimum separation between injections. I am working to addres

[2020-09-24 12:46] spxiwh commented on #3468
The idea of the new stuff @cdcapano wrote is to avoid having to need codes like `pycbc_dark_vs_bright_injections` and instead have this all encoded in the sampling parameters. So it should be possible to get this to do:
`pycbc_create_injections` ---> `pycbc_hdf5_splitbank`

(This would have the added benefit of having dark_vs_bright directly available for PE sampling!)

[2020-09-24 12:56] pannarale commented on #3468
So, the suggestion is to do this via the `constraints` attribute of `pycbc.distributions`?

[2020-09-24 12:58] pannarale commented on #3468
From `pycbc_create_injections`: "Functions may be applied on these parameters to obtain constraints on derived parameters. "  So it's a matter of having the remnant mass as a derived parameter and then asking for it to be >= 0.

[2020-09-24 13:27] a-r-williamson commented on #3466
Thanks for the information, @spxiwh. I think @tcarver1234 and co have been looking into this issue already, and I'm sure they've been doing as you say (I'm only just getting back in the loop on this). I'll leave it to them to comment further.

[2020-09-24 13:28] cdcapano commented on #3468
@pannarale Yes, that's right. To do that, you need a function in [pycbc.conversions](https://github.com/gwastro/pycbc/blob/master/pycbc/conversions.py) that calculates the remnant mass. Then you can use that function as a constraint.

What is the function you are looking to use? Is it just an estimate of the final mass from NR? We do currently have `final_mass_from_initial` which uses the fit in S

[2020-09-24 13:28] spxiwh commented on #3468
@pannarale Yes, I think so (but @cdcapano is the expert, so feel free to consult him in Slack). This issues Alex and Tito raise should be fixed in the next ~month as these are needed for all-sky search (but of course if one of you lot beat us to it, then great!)

[2020-09-24 13:28] cdcapano commented on #3468
@titodalcanton Sorry, I forgot about that issue you rose. I'll get back to it.

[2020-09-24 13:29] spxiwh commented on #3468
I suggest to move discussion of the constraint to the Slack.

[2020-09-24 18:15] cdcapano commented on #3427
Fixed by #3471

[2020-09-24 18:15] #3427 closed

[2020-09-24 19:17] idorrington92 commented on #3466
That was indeed in my thesis.

It's good to see work is still going on this. If there's anything a non-LIGO member might be able to help with in their spare time, then I'm happy to take a look. It would actually make me so happy to see this ready for production.

In fact, I might fix those doc strings on the functions to make them consistant with the rest of PyCBC this weekend. Then I think we can

[2020-09-25 11:53] tdent opened #3473 "Reduce count of injection snr-chisq plots"
In the multi-ifo plotting there are currently large numbers of near-identical 'injections-on-top' plots with the same injections and different coinc backgrounds, however the different backgrounds are not well visible on these and are better represented in the background-on-top plots anyway.

Hence, replace the multiple injections-on-top plots for a given ifo and colorscale with a single injections

[2020-09-29 11:19] fiedersz commented on #3054
I had a simular problem with different installations with pip install. The problem was an update from OS Catalina, which caused the xcode-select commandline tools to be outdated. I found out with Brew doctor.
The solution was to update the commandline tools, but that didn't go smooth as well, I had to first remove the older version and download Command_Line_Tools_for_Xcode_11.5 from the Apple deve

[2020-10-06 12:38] Fergus-Hayes opened #3489 "Byte type and str comparison in io/hdf not compatible for Python3"
Unlike python2, python3 distinguishes between byte and string types, resulting in the ValueError to be raised in:

https://github.com/gwastro/pycbc/blob/0c424d28187e87091d71d74003c806fc3a5b04ab/pycbc/io/hdf.py#L701

This could be fixed by ensuring `ifo` in `self.ifos` is of string type.

[2020-10-08 14:51] titodalcanton commented on #3290
Looking at the instructions now, I this the issues pointed out here are gone. Closing.

[2020-10-08 14:51] #3290 closed

[2020-10-08 15:04] titodalcanton commented on #2775
This update has been done, closing.

[2020-10-08 15:04] #2775 closed

[2020-10-09 13:43] tdent commented on #1520
I wonder if this is still a problem.

[2020-10-09 13:44] tdent commented on #1826
Has this been solved?

[2020-10-09 13:45] tdent opened #3495 "Veto options should be consolidated / grouped"
Many codes have the combination of veto file / veto segments name.  With the recent addition of 'gating veto' we are likely to see more duplication of such codes. Hence, introduce a common DQ/gating veto option group and parser.

[2020-10-09 13:46] tdent commented on #3245
Can this be closed?

[2020-10-09 14:02] spxiwh commented on #1826
No, it doesn't look like it.

[2020-10-09 14:02] spxiwh commented on #1826
Or at least half of it has. `pycbc_page_snglinfo` now does the right thing, but not `trigger_timeseries`

[2020-10-09 14:10] tdent commented on #1481
Is this still an issue?

[2020-10-09 15:34] lauranuttall commented on #1481
I don't think this is an issue anymore. There are ways to track which veto-definer is used.

[2020-10-09 16:43] tdent commented on #1481
@lauranuttall @duncan-brown If you don't think it's an issue, please close.

[2020-10-15 15:57] cdcapano opened #3500 "Fake strain seed is easy to forget in inference inj workflow"
If you don't set a `fake-strain-seed` in the `[data]` section of the inference config file when running the inference inj workflow, the seed will never be set. If you are generating fake noise, the result will be every injection (and every detector) will use the same exact realization of noise, since the default in the strain module is to use a seed of 0. See lines [236-245](https://github.com/gwa

[2020-10-16 11:54] cdcapano commented on #3500
Suggested fix: add a explicit option in a workflow config section that specifies to make fake strain.

[2020-10-25 18:58] haris-mk opened #3515 "Inclination angle in models/single_template.py"
https://github.com/gwastro/pycbc/blob/master/pycbc/inference/models/single_template.py#L137

shouldn't it be

ic = numpy.cos(p['inclination'])
ip = 0.5 * (1.0 + ic * ic)
htf = (fp * ip + 1.0j * fc * ic) / p['distance']

?

[2020-10-25 19:18] ahnitz commented on #3515
@haris-mk Looks like the convention may be swapped. I think you want to swap it you may also need to add a sign to htf factor for the cross term, i.e. -1.0j.

I've verified in the past that this model passes p-p tests, but it would be better to avoid confusion and keep the convention standard.

[2020-10-25 20:48] haris-mk commented on #3515
@ahnitz It is not clear to me.
I think the antenna patter-inclination angle combination should be always
$`f_+ \frac{1+cos^2 \iota}{2}`$ and $`f_\times cos \iota `$.

Further, is there any reason why it is not extended to precessing cases?

[2020-10-25 20:55] ahnitz commented on #3515
@haris-mk It could be modified to handle precessing. You'd have to handle the plus / cross terms separately then and sample directly of the coalescence phase instead of the simple marginalization. A version of the model that did this would be a reasonable addition to pycbc if somewhat were interested in adding it.

[2020-10-25 21:02] ahnitz commented on #3515
@ahnitz Yes, that may be an issue. I only checked carefully that the sky location / inclination was recovered self-consistently, I don't remember about the polarization angle, so it's possible it will be essentially redefined (as you can transform plus to cross terms in the  non-precessing case ans used here with an offset). Definitely worth fixing.

[2020-11-11 11:07] ahnitz commented on #3054
Please re-open if this is still an issue, however, I hope that #3447 has resolve it.

[2020-11-11 11:07] #3054 closed

[2020-11-12 12:55] GarethDaviesGW commented on #2964
How is this going?

[2020-11-12 12:59] GarethDaviesGW commented on #3221
Is this solved by #3510 and/or #3511?

[2020-11-12 13:00] GarethDaviesGW commented on #3109
As mentioned above - I think that this was solved by #3321, and havent seen any issues with this since

[2020-11-12 13:00] #3109 closed

[2020-11-12 13:23] tdent commented on #2964
I don't know what this was supposed to do besides produce the 'FAR vs rank' plots in the closed and open boxes, which now exist for multiifo due to a bunch of previous commits.

[2020-11-12 13:28] GarethDaviesGW commented on #2964
I wasnt sure if we were planning on making it possible to run SNRIFAR with add_statmap output, or if we did this already. If everything is good, we can close the issue

[2020-11-12 13:32] tdent commented on #2964
I don't know if that is wanted and I don't know if it has been done, so I certainly don't know if everything is good.

In any case the task, if there is one, needs a bit more definition.

[2020-11-12 14:32] titodalcanton commented on #3221
Not really, I think this needs a bit more fiddling with `pycbc_plot_qscan`.

[2020-11-13 10:29] GarethCabournDavies opened #3526 "Workflow generation command should be better accessible in offline search"
Currently the way to find the workflow generation command is to look at the workflow generation log and to click 'command line' on the results pages

As this is an important part of being able to see what the setup of the run was at a later point, we should give this its own page or file

[2020-11-26 16:15] AlexisMV commented on #3067
--help now works both with 1.16.12 on python 2 and 1.16.2 on python 3. Therefore the issue can be closed.

[2020-11-26 16:19] #3067 closed

[2020-12-04 14:04] #2999 closed

[2020-12-05 18:34] walid002 opened #3552 "Improve how dependent PRs are managed"
Hey there :hand:
Actually this is a suggestion to improve how dependent PRs are handled in this project. Example of a PR that depends on another one: https://github.com/gwastro/pycbc/pull/3550. And after a quick search, you can easily find several other PRs like this.

**Solution I'd like to share**
Introduce to this project [Dpulls](https://github.com/marketplace/dpulls), a Github app that make e

[2020-12-15 18:43] titodalcanton commented on #2593
Did #3535 address this?

[2020-12-15 19:51] spxiwh commented on #2593
Yes

[2020-12-15 19:51] #2593 closed

[2020-12-16 16:14] #3395 closed

[2020-12-17 10:37] santanu-tripathy opened #3568 "AttributeError: 'module' object has no attribute 'makedir'"
While running the coincidence search workflow I am facing the following error

` pycbc_make_coinc_search_workflow --config-files testNonSpin.xml  -d `output`

  'Traceback (most recent call last): `

 `File "/usr/bin/pycbc_make_coinc_search_workflow", line 62, in <module>  `

 `wf.makedir(args.output_dir)  `

`AttributeError: 'module' object has no attribute 'makedir'
`

[2020-12-17 14:04] spxiwh commented on #3568
@santanu-tripathy This error (which we need to make more useful), normally indicates that you do not have necessary dependencies installed. The most likely culprit is that you don't have the pegasus module installed.

If you are using `pip` to install stuff then a  `pip install -r requirements.txt` after cloning pycbc would pull everything needed to run the full search workflow.

Where possible, w

[2021-01-07 17:38] ahnitz commented on #3515
@haris-mk I've looked into this a bit more. You are right. In my testing, I find I can transform the polarization angle to "fix" this, but it would mean that if you actually wanted to measure polarization angle you'd get an incorrect result. It gives correct results only if you sample over the full range or marginalize it out.

Will be addressed in https://github.com/gwastro/pycbc/pull/3577

[2021-01-11 10:20] spxiwh opened #3579 "PyCBC Offline search must be able to run on arbitrary detection combinations"
Currently H and L are required for one of the main statistics:

https://github.com/gwastro/pycbc/blob/master/pycbc/events/stat.py#L1313

[2021-01-11 11:15] GarethDaviesGW commented on #3579
Basically the issue here (when it was written) was how to consistently choose the two most sensitive detectors for use as the reference network sensitivity

I thought we had decided that we need to consistently choose the most sensitive detectors rather than a different pairing, but if it is just a requirement to choose the same detectors each time regardless of sensitivity, we could use the first

[2021-01-11 14:22] titodalcanton opened #3580 "PyCBC Live test: generate PTA files and use a PTA-based ranking"
The current example/test of PyCBC Live uses a simplistic `--ranking-statistic quadsum` which is not what was used in production during O3. Modify the example to create minimal PTA histogram files and use a ranking that includes the PTA term, such as `phasetd`.

Requires fixing #3584.

[2021-01-15 12:59] dentt commented on #3580
@titodalcanton it's not totally clear from this description what the work required here is. Is 'implementing the required ranking' (as oppose to using it) part of this issue?

[2021-01-15 13:13] titodalcanton opened #3584 "PyCBC Live: re-enable the O3 coinc ranking"
The `phasetd` / `PhaseTDStatistic` coincident ranking statistic, used by PyCBC Live in O3, is only partially implemented after the refactoring done in https://github.com/gwastro/pycbc/pull/3535. Complete its implementation so that we can continue using it in PyCBC Live.

[2021-01-15 13:17] titodalcanton commented on #3580
@dentt yeah, it was confusing. I opened a separate issue for the required ranking, and updated the above description.

[2021-01-15 13:44] titodalcanton commented on #3580
It would make a lot of sense for a single PR to address both #3584 and #3580, by the way.

[2021-01-18 14:50] titodalcanton opened #3585 "Speed up or parallelize `pycbc_fit_sngls_over_multiparam`"
`pycbc_fit_sngls_over_multiparam` seems to involve N^2 operations, with N the number of templates in the bank. With large template banks, `fit_sngls_over_multiparam` jobs can become bottlenecks for the all-sky coincident search workflow. Can the operation be parallelized across 10 or 100 jobs and the results merged, like we do for optimal SNRs?

[2021-01-18 15:14] ahnitz commented on #3585
A little more info is needed on how much speed-up (wall-time) is desired and what kind of parameters are used. In general, I think it's better to optimize the code than to try to parallelize it.

It could be sped up by simply creating and pre-assigning templates to 'buckets' based on a sorted grid. This would make the operation count a lot closer to optimal for at least the 2-d case. I'm not sure

[2021-01-18 15:21] GarethDaviesGW commented on #3585
I'm not sure whether parallelization or buckets could even work here, as the information for each template is used for all nearby templates without any hard borders

Unless we had 'fuzzy' buckets/parallelization? Where some templates are in more than one job/buckets, but that may just be moving the problem

[2021-01-18 15:25] tdent commented on #3585
well, if there are some dimensions that are many smoothing-lengths, you can make bins that are 1 smoothing length and then you need to calculate distances over at most 2 bins at once

[2021-01-18 15:27] titodalcanton commented on #3585
@GarethDaviesGW it seems to me that this for loop is embarassingly parallel,
[code]
but I agree with Alex on optimization.

[2021-01-18 15:51] titodalcanton commented on #3585
The jobs that completed from the workflow I am referring to took about a day and used 3 fitting parameters. Another one, still running but hopefully close to completion, has accumulated a comparable amount of CPU time so far. So having them complete in a couple hours instead would help the workflow a lot.

[2021-01-23 23:07] sudughonge opened #3591 "SEOBNRv4HM_ROM missing in pycbc.waveform.waveform_filter_time_lengths"
The SEOBNRv4HM_ROM approximant needs to be added so that it can be produced in time domain via get_td_waveform_from_fd

https://github.com/gwastro/pycbc/blob/master/pycbc/waveform/waveform.py#L879

[2021-01-26 21:48] #3591 closed

[2021-01-27 16:31] spxiwh opened #3600 "pycbc_stageout_failed_workflow help message doesn't seem to be accurate"
[code]

Although I don't think this code can or does take an input or output map as arguments. I think it only takes a directory?? @connor-mcisaac

[2021-01-28 13:37] connor-mcisaac commented on #3600
@spxiwh Yeah, you're right, I must of got mixed since I was writing the copy output map script at the same time. I'll make a quick PR to fix this.

[2021-02-05 16:53] #3580 closed

[2021-02-05 16:53] #3584 closed

[2021-02-08 16:36] a-r-williamson opened #3619 "workflow ConfigParser import error"
It appears that the changes in #3589 have broken a few imports, specifically two places where we attempt `from pycbc.workflow import ConfigParser`

- https://github.com/gwastro/pycbc/blob/f0fd8babb749f86783c6cfdeb7dbfe2b611da2b6/pycbc/distributions/__init__.py#L20
- https://github.com/gwastro/pycbc/blob/f0fd8babb749f86783c6cfdeb7dbfe2b611da2b6/pycbc/inference/sampler/base_mcmc.py#L37

[2021-02-09 15:39] #3619 closed

[2021-02-15 16:44] ahnitz commented on #2937
I think we need to finally address this. @spxiwh @duncan-brown It does appear to be an issue python3 for me. See the report here https://github.com/gwastro/pycbc/pull/3631/checks?check_run_id=1903398318.

Our search test *only* runs in python3. I was testing there an issue related to mac installation, and realized it would be easier to unpin h5py. I tried it and it seems to fail with a similar err

[2021-02-15 17:09] ahnitz commented on #2937
More info here https://github.com/h5py/h5py/issues/1307

[2021-02-16 19:44] titodalcanton commented on #3034
Fixed by #3625?

[2021-02-16 19:45] titodalcanton commented on #2937
Fixed by #3632?

[2021-02-16 19:45] ahnitz commented on #3034
Indeed, we can close this now.

[2021-02-16 19:45] #3034 closed

[2021-02-16 19:46] ahnitz commented on #2937
Yes, should be fixed by #3632

[2021-02-16 19:46] #2937 closed

[2021-02-16 19:52] ahnitz commented on #3515
@haris-mk This was fixed a while back by #3577. Thank you for reporting!

[2021-02-16 19:52] #3515 closed

[2021-02-16 19:53] #3552 closed

[2021-02-16 19:54] ahnitz commented on #3358
This has been fixed for several releases.

[2021-02-16 19:54] #3358 closed

[2021-02-16 19:55] ahnitz commented on #3250
This has been addressed.

[2021-02-16 19:55] #3250 closed

[2021-02-16 19:56] ahnitz commented on #3073
Nobody has time to do this. reconsider if someone gains interest or there is more utilitity to doing it.

[2021-02-16 19:56] #3073 closed

[2021-02-16 19:59] ahnitz commented on #2042
A contributing guide is not provided.

[2021-02-16 19:59] #2042 closed

[2021-03-01 08:17] YilunHou opened #3654 "RuntimeError when trying to generate a noise"
When I tried to generate a gaussian noise and run the example code,
`import pycbc.noise
import pycbc.psd
import pylab

# The color of the noise matches a PSD which you provide
flow = 30.0
delta_f = 1.0 / 16
flen = int(2048 / delta_f) + 1
psd = pycbc.psd.aLIGOZeroDetHighPower(flen, delta_f, flow)

# Generate 32 seconds of noise at 4096 Hz
delta_t = 1.0 / 4096
tsamples = int(32 / delta_t)
ts = pycbc

[2021-03-07 15:05] BenjaminDbb opened #3659 "The bug on the backend of `ifft' function from pycbc/fft/fftw.py"
Recently, we use the **same** pycbc code to perform `ifft` with the GW waveform in the different computers, then we obtain different results.

As we check the details in the inner code of pycbc, we find that, when pycbc calls the `ifft` from the npfft.py, the result is correct, while calling the `ifft` from fftw.py, the result is wrong. (In default, the macOS system calls the `ifft` in fftw.py, so

[2021-03-07 15:14] ahnitz commented on #3659
@josh-willis Can you look at this? It seem quite worrying.

[2021-03-07 15:33] ahnitz commented on #3659
@josh-willis I can reproduce this with the following as well (essentially, the same as posted, just minor simplifications and switched to PhenomD as PhenomA has backward Fourier conventions).

[code]

[2021-03-07 15:35] ahnitz commented on #3659
@josh-willis However, the following *does* give the correct result on the same environment.
[code]
![download (9)](https://user-images.githubusercontent.com/2206534/110245385-212cb500-7f63-11eb-8838-4fd9130ead4f.png)

[2021-03-08 00:04] josh-willis commented on #3659
The behavior observed is in fact the expected behavior for the FFTW backend, when performing a complex-to-real transformation. Per the [FFTW documentation](http://www.fftw.org/doc/Planner-Flags.html):

 * `FFTW_PRESERVE_INPUT`: specifies that an out-of-place transform must *not change its input array*. This is ordinarily the *default*, except for c2r and hc2r (i.e. complex-to-real) transforms for

[2021-03-08 02:33] BenjaminDbb commented on #3659
@josh-willis Thanks for your patient explanation. It really helps me!

[2021-03-08 14:54] pannarale opened #3660 "PyGRB results webpage"
We have a first take on the PyGRB results webpage in the standard PyCBC format [here](https://ligo.gravity.cf.ac.uk/~francesco.pannarale/LVC/new_pygrb_webpage_1/).  Right now it has most of what was on the old webpages, but there is a lot more that can and should be done.  So use this issue to bring up bugs, desiderata, etc.

[2021-03-08 16:20] JAMSADIQ opened #3662 "Bug in command line option of pycbc_multi_inspiral code"
Hi, So I was trying running pycbc_multi_inspiral code with command line option of `**injection-f-ref** `10  and  I get this error.
[code]
Probing further it turns out this command line option if removed the code did get run. I also pasted the full error below.   Just to mention what I was trying is to use pycbc_multi_inspiral code given an injection parameter file.  So, I created an injection.hdf

[2021-03-09 08:39] pannarale commented on #3660
Known requests
- [ ] Include GPS times of injections in tables
- [ ] Follow up of loudest missed injections
- [ ] Follow up of loudest offsource events
- [ ] Include in tables information regarding the spins of templates ringing with triggers/injections (this is postponed to after the switch to hdf5)
- [ ] Sky maps with antenna responses

[2021-03-11 06:52] YilunHou commented on #3654
It runs successfully on my virtual linux machine on windows, but still shows 'Internal function call failed' on Ubuntu 20.10. Anyone can help? Thanks.

[2021-03-11 12:56] ahnitz commented on #3654
@YilunHou I just ran the code you posted on python2.7 and the latest version (I suspect no difference from 1.18 here as this part of the code has not changed). It ran without issue for me and produced the following plot as expected.
![download (61)](https://user-images.githubusercontent.com/2206534/110790234-1890f300-8271-11eb-9f1e-79022141d86d.png)

The functions you are calling invoke c-function

[2021-03-11 12:57] ahnitz commented on #3654
@YilunHou Just so you are aware, there is a newere parallel version of noise generation that does not rely on lalsimluation. You may also want to try that depending on what you want to do. It is in the pycbc.noise.reproduceable module. That is in fact what we use for generating noise for most simulations nowadays.

[2021-03-11 22:09] spxiwh opened #3671 "single_template inference model has a hardcoded sample rate"
Continuing in the series of "things that don't work well with LISA" (I think this is one thing I noticed last year, but didn't say anything about, and is therefore still an issue). The "single_template" model in pycbc_inference hardcodes a sample rate of 32kHz (and will upsample waveforms to this when it initializes). If running with days (or weeks/months/years) long signals with desired sample ra

[2021-03-11 22:41] ahnitz commented on #3671
@spxiwh It's not hardcoded, it simply has a default. You can set it to what you want.

[2021-03-11 22:42] ahnitz commented on #3671
In your config file you set
[code]

[2021-03-11 22:43] ahnitz commented on #3671
The example also shows doing this, though I guess the comment doesn't make it clear that you could choose a  *lower* number. https://pycbc.org/pycbc/latest/html/inference/examples/single.html

[2021-03-11 22:47] ahnitz commented on #3671
@spxiwh It wouldn't normally work well to use *exactly* the sample rate of the data, as usually you have much better timing resolution that that. The sample rate here needs to be high enough that the likelihood values of neighboring time points are close enough that you don't care that those are the only times that will be sampled.

I guess one could have a kind of rule of thumb as a default. Some

[2021-03-11 22:49] ahnitz commented on #3671
@spxiwh To be completely clear the sample rate is is the resolution that time of arrival in each detector is measured at. This is completely different than say the 'gaussian_noise' model which allows sub-sample timing resolution. The single-template model does not allow sub-sample timing resolution.

[2021-03-12 09:45] spxiwh commented on #3671
@ahnitz Thanks for that. We had added the sample rate (twice) already (once for fake-strain-sample-rate, once for sample-rate, though I suspect the former is not needed), but had not noticed that it can be specified here as well.

What is the design motivation for requiring the user to choose a higher sample rate to get the time more accurately rather than using (https://github.com/gwastro/pycbc/b

[2021-03-12 10:05] ahnitz commented on #3671
@spxiwh

The operation you pointed to does not change in cost with sample rate. In fact, you can choose as high as you like currently and the compuational cost is completely unaffected during sampling. The only thing that changes is the upfront pre-computation and the memory needed to store it.

You ask why not do some kind of interpolation? You could, but it only adds complexity where there neede

[2021-03-12 11:18] spxiwh commented on #3671
@ahnitz Okay, I did misread what `ip` and `ic` were on that line (not the SNR timeseries). While it is true that the function in question does peak finding, the method could be easily extended to allow `self.sh[ifo].at_time(p['tc'] + dt)` to do a basic sub-sample interpolation (optionally). (But I'll close this as the original issue is not true)

[2021-03-12 11:18] #3671 closed

[2021-03-17 10:44] GarethDaviesGW opened #3677 "Add Chi-squared timeseries to SNR timeseries plot in pycbc live"
The chisquared timeseries helps a lot to quickly assess trustworthiness of an apparent signal - add this to the SNR timeseries plots uploaded to gracedb, similar to the ones used in the offline search

[2021-03-26 06:37] YilunHou commented on #3654
I tried lalsuite 6.70 and 6.62 and they both showed the same error for me. The error message up there is actually the full error message I have. But the reproduceable module works fine. I tried to import it and it goes successfully through the noise generation. It seems all goes well now.

[2021-03-31 06:39] siangyuhuang opened #3684 "Error happened when I generate a noise"
When I enter these codes
<img width="568" alt="截圖 2021-03-31 下午2 35 08" src="https://user-images.githubusercontent.com/47237624/113100846-873ced00-922e-11eb-9eef-d8c76809e0f6.png">
Then, the  code gives an output.
<img width="574" alt="截圖 2021-03-31 下午2 34 30" src="https://user-images.githubusercontent.com/47237624/113100904-9fad0780-922e-11eb-956c-e9116889aa5b.png">
When I try to use different de

[2021-03-31 09:52] siangyuhuang commented on #3684
Thank you. I will rearrange again later.

[2021-03-31 10:03] duncanmmacleod commented on #3684
@spxiwh, from the looks of things the PyCBC install is not from a conda package, but is just from a local `python setup.py install` into a conda environment. We (IGWN) do not support Python 2 at all.

[2021-03-31 12:42] siangyuhuang commented on #3684
My PSD file like this

<img width="363" alt="截圖 2021-03-31 下午8 41 23" src="https://user-images.githubusercontent.com/47237624/113145870-8f625000-9261-11eb-82a3-0148a48d1ccb.png">

My PSD setup is

<img width="568" alt="截圖 2021-03-31 下午8 34 44" src="https://user-images.githubusercontent.com/47237624/113145291-d865d480-9260-11eb-9598-ab538041b392.png">

Then generate  time domain noise,

<img width=

[2021-04-03 16:16] ahnitz opened #3687 "PyCBC currently broken with decorator >= 5.0"
With the last release of decorator, the behavior was changed so that default keywords are no longer being passed in the same way.

See discussion here https://github.com/micheles/decorator/issues/104

This affects a lot of methods in our type classes which have default arguments.

[2021-04-03 16:18] ahnitz commented on #3687
This looks like a mess to fix, so my suggestion atm is to hard require decorator < 5 until either we can sort out all the places that might need to be addressed (and how to do so) or there is a fix upstream.

[2021-04-03 16:21] ahnitz commented on #3687
Example error on our side.
[code]

[2021-04-04 19:31] #3687 closed

[2021-04-13 15:04] titodalcanton opened #3693 "`pycbc_optimal_snr` produces null optimal SNRs when reading HDF injections and using more than one core"

[2021-04-13 15:20] titodalcanton commented on #3693
The issue appears to arise in the final collection of the results from the workers, rather than in the actual calculation of the SNR itself.

[2021-04-13 15:41] titodalcanton commented on #3693
I am not sure why, but this assignment has no effect:
[code]
which leads to the optimal SNRs being left at their initialization value (zero).

[2021-04-13 15:50] spxiwh commented on #3693
It might be copying the `inj` object when splitting to multiple cores. We might need to return the SNRs as an array (or something) and then set values outside of the multiprocessing bit.

[2021-04-13 16:03] titodalcanton commented on #3693
Well, I am finding that
[code]
fails, i.e. somehow the `inj` object is (silently) immutable *within the same thread*. But yes, a complete refactor could be one way around this issue.

[2021-04-15 05:58] BenjaminDbb commented on #2927
Hi, I wonder if there is a plan/timeline for supporting OSX-Arm64?

[2021-04-15 09:43] ahnitz commented on #2927
@BenjaminDbb I think we are primarily limited by the lack of access to the hardware. None of the primary developers have upgraded to an M1 mac and I myself don't have a Mac of any kind. Of course, if someone has an M1 mac and is able to submit PRs, we'd be happy to accept them.

If you want a rough timeline, it's probably whenever @cdcapano buys a new computer. I suspect he's the most likely to be

[2021-04-15 10:22] BenjaminDbb commented on #2927
@ahnitz Thank you for your reply.

[2021-04-15 10:44] cdcapano commented on #2927
@BenjaminDbb I actually have recently purchased an M1 mac mini, but haven't had a chance to try pycbc on it yet. It's not my work computer, so it's mostly what I can do in my spare time. I plan to try it out sometime soon, but this is low on the priority list for me at the moment, sorry.

[2021-04-15 22:31] dethodav opened #3698 "Interactive plot features from mpld3 not working"
The interactive features of plots in pycbc result pages haven’t been working. Impacted plotting scrips include:

*  `pycbc_page_segplot`
* `pycbc_plot_gating`

The issue looks to be that the relevant pycbc code is no longer compatible with the most recent version of mpld3.

The specific function that appears to be the issue is below:

https://github.com/gwastro/pycbc/blob/ba74cf52d14aa13acc33226f4

[2021-06-02 18:14] titodalcanton commented on #3693
Fixed by #3724.

[2021-06-02 18:15] #3693 closed

[2021-06-03 17:59] titodalcanton commented on #3660
@pannarale could you also consider the following requests:

* [x] I have a hard time reading found/missed injection plots. I propose using higher-resolution plots (try `dpi=150` or `dpi=200`, or double the figure size), smaller symbols, consistent use of the makers (x = missed, o = found) and no mix of blue and black symbols.
* [x] Found/missed plots with some kind of optimal SNR on the y axis. No

[2021-06-11 09:38] HumphreyWang opened #3727 "Unexpected results from `.to_timeseries()`"
Recently I tried to use `get_fd_waveform` to generate a waveform with a specific time range, and used `hp.to_timeseries()` to check it:

[code]

And the result:

Waveform from -86400s(1 day) to 0s (zoom in):
![Figure_1](https://user-images.githubusercontent.com/68005354/121660716-16d80500-cad6-11eb-8911-b26b2481b259.png)
Waveform from -86400s(1 day) to -100s (zoom in):
![Figure_2](https://user-ima

[2021-06-21 18:16] prasia-p opened #3729 "Unable to install PyCBC"
`pip install pycbc`

showing error

_**P.S.: I tried via virtual environment also, still the same error is showing**_

[2021-06-22 09:50] ahnitz commented on #3729
@prasia-p What is your operating system / environment? This error tells me that pip doesn't think that there is a version of lalsuite for your platform (which we depend on).

[2021-06-22 14:12] prasia-p commented on #3729
I'm using Windows 10 OS with Conda environment

[2021-06-22 18:04] ahnitz commented on #3729
@prasia-p Windows isn't supported by 'lalsuite' so we can't install the dependency there. If you are on Windows, I recommend running either a linux vm, running through WSL (windows subsystem for linux), or through the browser. Unfortunately, there aren't any developers who use Windows (happy to have someone pick that up if they like), and all the production environments are Linux based.

[2021-06-23 04:21] prasia-p commented on #3729
@ahnitz  I tried through WSL . Still showing problem. Google Collab works for me. I'll try installing Linux on my system. Thanks a lot for your support.

[2021-06-25 12:49] ahnitz opened #3735 "allow for different data segments to be used in PE per ifo"
At the moment, there is a partial assumption in the gaussian noise model that each detector analyze the same *length* of data (even if the frequency cutoffs can be completely different), however, we should relax this assumption and allow it to be arbitrarily different. This requires a modification of the model, but not the data routines which already handle this.

[2021-06-25 13:04] ahnitz opened #3736 "checkpoint to local disk then copy to shared location on eviction / job removal"
One reason we hesitate with some of the current checkpointing for PE / inspiral jobs when running O(10^3) or greater is that they often are set up to write to a shared filesystem location. This is less of an issue when running in nonsharedfs mode with Pegasus, notably. If we need to allow a shared fs, we could alternatively allow the checkpoint to be written directly to a local disk location (say

[2021-06-27 11:32] yi-fan-wang opened #3737 "Errors when plotting posteriors with injection parameters"
I'm plotting a posterior file from simulated data, the command is:

Then an error occurs:

It seems the above error is because chi_eff and chi_p are functions instead of numbers? Can we fix it?  I want the plotting codes to ignore any parameters which are not in the injections and plot those which exist.

[2021-06-28 18:09] tdent opened #3738 "chisq-threshold and chisq-delta options not documented and not clear if 'correctly' implemented"
There are notes for these options which say just 'FIXME'.  It seems the option itself is inherited from lalapps inspiral. The last visible state of that code had these help strings:

"--chisq-delta DELTA          set chisq delta parameter to DELTA"

and

"--chisq-threshold X          threshold on chi^2 < X * ( p + DELTA *rho^2 )"

though I don't know if 'p' here was representing the number of freq

[2021-06-28 18:11] tdent commented on #3738
There seem to be a few possible options here : eg simplify the calculation to only allow for a straight threshold cut on chisq per true DOF ; or 'properly' implement the old lalapps inspiral option ; or remove the options / function entirely to get around the risk that someone would use them and then find they did something unwanted/unexpected.

[2021-06-30 11:53] ahnitz opened #3740 "improve interoperability for PyCBC in external waveform packages"
PyCBC has as one of its key goals the idea of providing a simple interface for GW waveform generation which can be used by humans, but also higher level algorithms such as searches and parameter estimation.

To help aid with this, we've added a plugin architecture so that external waveform packages can advertise and export a compatible interface, allowing PyCBC to recognize its capabilities and au

[2021-07-05 12:58] sidml commented on #3654
Has anyone managed to fix this ?
`lalsuite==6.82`
`pycbc==1.18.1`

`pycbc.noise.reproduceable` doesn't seem to work for me, the jupyter notebook just restarts without throwing any error or warning.

[2021-07-05 13:05] ahnitz commented on #3654
@sidml we haven't as we haven't been able to reproduce this. Do you have a minimal example and information about your runtime / software environment?

[2021-07-05 13:26] sidml commented on #3654
Runtime

VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME=bionic

List of packages i

[2021-07-05 13:29] ahnitz commented on #3654
@sidml It's possible then that you hit some FFT bugs that were recently fixed (might depend on you fft versions / packages to see the error). This should be addressed then in the next release for you if that is the case. Can you proceed with the latest development version for your purposes?

[2021-07-05 13:33] sidml commented on #3654
Sure, thanks!

[2021-07-05 15:14] JAMSADIQ commented on #3466
Hi Everyone, I was using pycbc_multi_inspiral code with this version **_commit 6230eaa59cf2ffc0e5f1addea8ad7213740b1c83_**
When I printed chi-squared values of individual detectors from my runs these were negative values and that may be showing some issue in the code.  Thanks

[2021-07-06 07:01] sidml commented on #3654
Putting here for future reference, I got this error (on a different machine). Using the dev version and  `pycbc.noise.reproduceable` seems to work. However, `pycbc.noise.noise_from_psd` gives error even with the dev version.

[2021-07-08 17:24] sparxastronomy opened #3749 "Error while running Pycbc scripts"
I've installed `pycbc` on my Linux machine, however, every time I run any pycbc script the kernel keeps freezing.
I've tested it on VScode as well as on Jupyter, and it keeps showing the same thing.
I've also tried installing it in a new environment, and then also the same issue exists.

Here is the error output from the VSCode
[code]

However, it runs fine on google collab.

[2021-07-09 15:03] tdent commented on #3466
@a-r-williamson @pannarale - It seems this issue should be reassigned to someone who is able to work actively on it at the moment. As we have mentioned, Jam obtained some large negative values (more details can be provided if needed).

[2021-07-14 22:33] yi-fan-wang opened #3750 "Error for waveform plugin"
I suspect this [line]( https://github.com/gwastro/pycbc/blob/master/pycbc/waveform/waveform.py#L951.) has an error. This function converts those Fourier domain waveforms with `_filter_time_lengths` to a time domain one.

I tried to add a new FD waveform as per http://pycbc.org/pycbc/latest/html/waveform_plugin.html with a `setup.py` with a _filter_time_length. But the new waveform's _filter_time_l

[2021-07-14 22:34] yi-fan-wang commented on #3740
A possible error related to waveform plugin #3750 https://github.com/gwastro/pycbc/issues/3750

[2021-07-15 00:52] ahnitz commented on #3750
@yi-fan-wang it is probably an order of operations issue (or at least that's my guess). When is the plugin loaded vs this part of the code? In any case, can I assign this to you to fix? I won't be able to look at addressing this in the short term.

[2021-07-15 12:31] yi-fan-wang commented on #3750
@ahnitz Sure, I'll try to fix it.

[2021-07-19 14:22] jakeb245 opened #3751 "Issue with gating in pycbc_multi_inspiral"
On the current version of pycbc (1.18.1), there is an issue within the gating options of pycbc_multi_inspiral. The code that does gating has been updated to require a new input for the gating method ([link here](https://github.com/gwastro/pycbc/blob/638cd48d0174a3dd8673882aa91f4c2e8ec8e0b2/pycbc/strain/strain.py#L336)). This is implemented for the single detector strain option group, but not the m

[2021-07-19 14:47] spxiwh commented on #3751
@jakeb245 Thanks for this. This a known pain with the input options used here. @ahnitz and I discussed this while implementing the multi-detector option interface (it was implemented for pycbc_multi_inspiral, but is now used most heavily in the inference code) but didn't find a better solution than repeating all of these options. This does lead to issues like this where an option gets added in one

[2021-07-19 14:53] jakeb245 commented on #3751
@spxiwh Sure, I'll go ahead and do that

[2021-07-19 17:53] jakeb245 opened #3753 "Time delay and chisq values in pycbc_multi_inspiral"
Regarding pycbc_multi_inspiral, @spxiwh has pointed out that the current application of the time delay ([done here](https://github.com/gwastro/pycbc/blob/638cd48d0174a3dd8673882aa91f4c2e8ec8e0b2/bin/pycbc_multi_inspiral#L573)) is problematic for speed and consistency

The SNR time series (`snr`) is being shifted to account for time delay between detectors, but the correlation vector (`corr_dict` i

[2021-07-19 20:34] titodalcanton commented on #3751
Fixed by #3752.

[2021-07-19 20:34] #3751 closed

[2021-07-20 10:00] spxiwh commented on #3753
@jakeb245 Thanks for starting this! I strongly advocate the solution you suggest of "incorporate the time delay into the indices passed to the necessary operations".

The reason for this is thinking forward to the case of supporting multiple sky-points. Using `roll` you would need to do a `roll` operation for *every* sky point, and this is not a computationally cheap operation to do. Adding the ti

[2021-08-06 21:38] deansher opened #3761 "seg fault in fftw when using welch on Linux"
Hello, I'm participating in the Kaggle contest. I'm getting a seg fault on Linux that I don't get on MacOS. Unfortunately, this is in my effort to preprocess the Kaggle dataset, and I don't have enough disk space on my MacBook to do the whole dataset in one go, so it would really help for this to work on Linux.

Here's the line of code I am trying to execute:

[code]

I have reproduced this on sev

[2021-08-09 09:11] spxiwh commented on #3761
@deansher Thanks for reporting this. We haven't seen segfaults on our end with this function, and it is one that is covered in a few ways with our test suite. Can you provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates this problem so we can properly follow this up.

... Not related to the problem itself (which we do want to unde

[2021-08-09 15:26] a-r-williamson opened #3762 "Infinite loop in ordering of waveform transforms"
When applying the rigid rotational transform being worked on in #3756 I hit an infinite loop in the `order_transforms` function. This happened in a case when I defined priors on the cartesian spin components, which are both input to and output by the transform, and this was the only transform being applied. As a result [this line](https://github.com/gwastro/pycbc/blob/59e2d627330d63bfc29f4aea70e08

[2021-08-10 07:23] cdcapano commented on #3762
Interesting... I forgot we had transforms that can have shared input and output parameters (we really haven't used the other spin transforms; they were written as a part of a master's student's project, then never really put to use). The ordering function should be able to handle that. I think the easiest solution is to modify `order_transforms` to pull out new outputs rather than all outputs. In

[2021-08-10 11:24] deansher commented on #3761
Wow, best issue response *ever*! Thank you.  I'll try for a minimal, reproducible example, and otherwise proceed as you suggest.

[2021-08-14 12:13] deansher commented on #3761
Here is a minimal, reproducible example. I'm using Deep Learning AMI GPU PyTorch 1.9.0 (Amazon Linux 2). I included a conda explicit specification file.
[repro-pycbc-fftw.zip](https://github.com/gwastro/pycbc/files/6986443/repro-pycbc-fftw.zip)

[2021-08-16 13:34] #3762 closed

[2021-08-16 13:36] ahnitz commented on #3761
@deansher Thanks for sharing this! @spxiwh I can reproduce the issue with the conda environment provided, but notably *not* using code locally installed on my machine using a standard virtualenv setup as opposed to conda. I haven't tracked down what the difference is yet, but perhaps you can confirm if see the same difference as it may help track down the root cause here.

[2021-08-17 13:33] spxiwh commented on #3761
@deansher Thanks for providing this, as @ahnitz also noted, I was able to reproduce the issue using the inputs provided!

@ahnitz I am also seeing the same behaviour as you, starting with the custom env sourced I can do:

[code]

[2021-08-17 14:22] spxiwh commented on #3761
@ahnitz I haven't been able to get any idea of why this case is segfaulting, but it doesn't segfault with our own environments (The "igwn" environment has the same FFTW as this one!)

@deansher I do have a workaround though, which should at least help you make progress if this is blocking you. If you do:
[code]

The code will force all FFTs through MKL's interface. This does not segfault with the

[2021-08-17 21:36] deansher commented on #3761
:-) And thank you again! We haven't been blocked on this yet -- lots else to do.

[2021-08-21 16:06] deansher commented on #3761
Confirmed: if I install my dependencies other than PyCBC with `conda`, but then install PyCBC and its dependencies with `pip`, I do not get the seg fault.

[2021-08-28 08:07] ahnitz opened #3779 "Duplicate module?"
@veronica-villa @tdent Do we need separate modules in https://github.com/gwastro/pycbc/blob/master/pycbc/mchirp_area.py and https://github.com/gwastro/pycbc/blob/master/pycbc/mchirp_area_improved.py ? Can these be combined into one if both are needed, or one of them removed if no longer needed?

[2021-08-28 13:02] tdent commented on #3779
Yes, if the new module is reviewed to produce the same numbers as the old then the plan is to remove the old and rename the new one

[2021-09-01 12:25] ahnitz opened #3783 "sigmasq saved to file coming from first segment in some eventmanager using codes"
See discussion in #3780

Quote
``
'sigmasq' was not be written to the output files correctly! I think this is an old bug (or perhaps just forgotten by me bad choice). It essential saved the value of sigmasq that each template had during the first segment only. This probably wasn't noticed as jobs are usually short enough that where we use this information downstream may not have been a big problem

[2021-09-03 11:09] spxiwh opened #3786 "Bug in pycbc_inference_plot_posterior"
The conditional here:

https://github.com/gwastro/pycbc/blob/master/pycbc/results/scatter_histograms.py#L598

is buggy. If there are 2 parameters and `--plot-marginal` is not given then only one image is created in the corner plot and the length of `width_ratios` and `height_ratios` must be 1.

This should be reproducible with any inference output with something like:

[code]

[2021-09-06 23:21] deansher opened #3789 "How do I debug not-using-GPU?"
I have carefully followed the [Instructions to add CUDA support](https://pycbc.org/pycbc/latest/html/install_cuda.html?highlight=gpu). I was hoping qtransforms would now use the GPU.

On startup, I see this, which looks promising:
[code]

I am also running the following code on startup:
[code]
I see the following output:
[code]
But when I run a bunch of qtransforms, no load goes to my GPU.

What d

[2021-09-08 15:56] spxiwh opened #3792 "Bug in pycbc_add_statmap(?)"
In a test workflow I'm seeing a problem as the number of triggers found here:

https://github.com/gwastro/pycbc/blob/master/bin/all_sky_search/pycbc_add_statmap#L196

is not the same as the number of triggers here:

https://github.com/gwastro/pycbc/blob/master/bin/all_sky_search/pycbc_add_statmap#L213

when searching for stat.

The difference seems to be that the `foreground/ifar` dataset is not p

[2021-09-08 16:08] spxiwh commented on #3792
Ah wait, it looks like this was due to me using a partial output file from a failed run.

[2021-09-08 16:08] #3792 closed

[2021-09-08 16:08] ahnitz commented on #3792
@spxiwh I'm not sure yet what you mean. The first line should be before clustering, and the second should give you the indices afterwards, so by definition it should be smaller or as large. Most likely note the same.

[2021-09-08 16:09] spxiwh commented on #3792
In my example `f['foreground/stat']` and `f['foreground/ifar']` were not giving the same number of triggers.

[2021-09-10 11:48] ahnitz opened #3794 "get_fd_from_td should handle higher mode waveforms more gracefully"
For higher mode waveforms which start their signals at a consistent *frequency* the get_fd_from_td function does not apply a tapering that is correct. This occurs because there are sharp turn-ons at the start of *each* mode, but the tapering only sucessfully gets applied to the earliest starting mode.

[2021-09-10 20:29] supritashankar commented on #3789
I am working with Dean on this project and it's a Kaggle competition that we need this working for.
We are in a bit of a time crunch and need this working to make transformations faster.
@ahnitz @spxiwh any pointers?

[2021-09-12 20:03] spxiwh commented on #3789
Hi both, apologies for slow response on this.

I should probably preface all this by saying that GPU support in PyCBC is *not* at the level of GPU support in something like tensorflow. We do not have many GPU experts in PyCBC (in fact we have exactly 1), and I know nothing of CUDA programming myself. The GPU effort that we have has gone into making the matched-filtering component of our production

[2021-09-15 13:01] spxiwh opened #3797 "cpnest sampler is broken"
I was playing around with `cpnest` and hit a problem with this line https://github.com/gwastro/pycbc/blob/master/pycbc/inference/sampler/cpnest.py#L230

[code]

Looking over the cpnest source code this function is actually a direct call to a `cdef`ed function in Cython where all inputs must be certain types. Strangely it wants the input to be an `array.array` object, which I've never used before b

[2021-09-15 13:10] ahnitz commented on #3797
@spxiwh You can assign to me if you like. This is a case where we should re-enable the sampler test for cpnest. (it was not enabled initially as cpnest doesn't work in python2 so was a pain to handle when we were still supporting that). I think we can just advance to the most recent cpnest release. They do not appear to occur that often.

[2021-09-15 13:13] ahnitz commented on #3797
i.e. update here to include the cpnest minimal example https://github.com/gwastro/pycbc/blob/master/examples/inference/samplers/run.sh

[2021-09-16 13:40] #3779 closed

[2021-09-21 18:08] ahnitz commented on #3463
no longer relevant

[2021-09-21 18:08] #3463 closed

[2021-09-21 18:12] ahnitz commented on #2054
The instructions now don't contain these statements

[2021-09-21 18:12] #2054 closed

[2021-09-21 18:14] ahnitz commented on #1626
@titodalcanton Is this still relevant? If not, please close.

[2021-09-21 18:15] ahnitz commented on #1807
@cdcapano Is this still an issue?

[2021-09-21 18:15] #2082 closed

[2021-09-21 18:16] ahnitz commented on #1421
@spxiwh Is this still an issue?

[2021-09-21 18:18] ahnitz commented on #2797
We've since made this a less stringent test, so hopefully this should be resolved. Please re-open if this is not the case.

[2021-09-21 18:18] #2797 closed

[2021-09-24 09:47] titodalcanton commented on #1626
Probably no longer relevant.

[2021-09-24 09:47] #1626 closed

[2021-09-27 08:54] spxiwh commented on #1421
It would be useful to have, but as it hasn't happened in over 4 years, we may as well close this.

[2021-09-27 08:54] #1421 closed

[2021-09-28 10:16] MariaAssiduo opened #3814 "TypeError: 'cmp' is an invalid keyword argument for sort()"
Hi. I am trying to use banksim with the waveforms IMRPhenomXPHM using as source conda activate igwn-py39-20210916. Inside the banksim configuration file (.ini) I have under [executable]

banksim = /cvmfs/oasis.opensciencegrid.org/ligo/sw/conda/envs/igwn-py39-20210916/bin/pycbc_banksim

Then, when I run pycbc_make_banksim --config file.ini, I get the following error message:

Traceback (most recent

[2021-09-29 13:00] HumphreyWang commented on #3727
- For the first question, I realized that my waveforms always have t_c=0s, `f_final` is just an artificial cut-off, so delta_f = 1/T all the time.
- And the second one, I solved this with another function `utils.fd_to_td`, the only difference between this and `to_timeseries` is `utils.fd_to_td` additionally applies a taper(here the left side).

[code]

So there was actually not a physical error. I

[2021-09-29 13:02] #3727 closed

[2021-10-07 21:11] jacopok opened #3817 "filter.matchedfilter.match is not accurate for close waveforms, and subsample_interpolation does not fix the issue"
When computing mismatches between waveforms that are very similar, but shifted by a time not corresponding to an integer number of timesteps, the `pycbc.matchedfilter.match` function is unreliable.

I have a MWE (well, as minimal as I could make it) for the issue, with some mock data.
I create some waveforms with small random fluctuations so that their unfaithfulness is ~1e-8.
If these are shifted

[2021-10-07 21:18] ahnitz commented on #3817
@jacopok I think either approach would be useful. I think having a version which does the time optimization for you is perfectly sensible, and a documentation improvement when not the case would also be good. These are both things we'd love to accept contributions for.

[2021-10-07 21:23] jacopok commented on #3817
Thanks! As soon as I can I will try and make a pull request for them, starting with the documentation update.

[2021-10-08 13:58] Alexandra-Wernersson opened #3819 "ImportError from pycbc.waveform"
I've been installing pycbc using docker as well as with the procedure from: https://pycbc.org/pycbc/latest/html/install.html
It seems as though pycbc is installed however, when importing: `from pycbc.waveform import get_td_waveform`
I am meet with an ImportError: `ImportError: dlopen(/opt/anaconda3/lib/python3.8/site-packages/glue/ligolw/_ilwd.cpython-38-darwin.so, 2): no suitable image found.  Di

[2021-10-08 14:32] duncanmmacleod opened #3820 "build fails on osx arm64 (M1) due to use of x86intrinsics header"
Attempting to build pycbc on apple arm64 fails as follows:

[code]

I presume that x86intrin.h isn't an appropriate header for use on this architecture.

I have attempted to patch this in the conda build [here](https://github.com/conda-forge/pycbc-feedstock/pull/55).

[2021-10-08 14:41] spxiwh commented on #3820
I would prefer to pull @duncanmmacleod's patch across to the main PyCBC repository. It is worth pointing out that this code is important for production search runs, but is not *that* likely to be run on a macbook, and performance would not be important in that case anyway.

[2021-10-10 13:46] MariaAssiduo commented on #3814
Hi. I did the following modifications in my pycbc version of pycbc_splitbank script:

....from functools import cmp_to_key
...
...
def cmp(a, b):
    return (a > b) - (a < b)

def mchirp_sort(x, y):
    mc1, e1 = pycbc.pnutils.mass1_mass2_to_mchirp_eta(x.mass1, x.mass2)
    mc2, e2 = pycbc.pnutils.mass1_mass2_to_mchirp_eta(y.mass1, y.mass2)
    return cmp(mc1, mc2)

def frequency_cutoff_sort(x, y)

[2021-10-12 12:53] duncanmmacleod opened #3824 "test/data/ files not included in source distribution"
The pycbc test suite cannot be run from the source distribution (tarball) because the `test/data/` files are not included. Can this be added for the next release, please?

[2021-10-12 12:56] ahnitz commented on #3814
@MariaAssiduo WOW! That's really impressive that you put in the work to put together a presentation. If you know how you want the code changed, we are very happy to accept PRs. PyCBC is community-developed, so we welcome anyone to help make it work better (or in this case fix it!). Thank you so much for looking into this problem.

[2021-10-13 11:09] alewer97 commented on #3819
@duncanmmacleod I'm using pip

[2021-10-15 18:25] #3820 closed

[2021-10-22 16:18] pllim opened #3840 "Better integration with astropy.timeseries and astropy.time"
I wonder if it is possible for your time series class to integrate with [astropy.timeseries](https://docs.astropy.org/en/stable/timeseries/index.html) and [astropy.time](https://docs.astropy.org/en/stable/time/index.html). 💭

For instance, instead of an intermediate function to return time as float, perhaps the code base could understand `Time` natively.

https://github.com/gwastro/pycbc/blob/43e2

[2021-10-22 16:27] pllim opened #3841 "Better integration with astropy.coordinates"
Would be nice if this package could integrate with [astropy.coordinates](https://docs.astropy.org/en/stable/coordinates/index.html). For example, in `pycbc/coordinates.py`.

[2021-10-22 16:29] pllim opened #3842 "Better integration with astropy.units"
Would be nice if the code can understand `astropy.units.Quantity` directly instead of assuming given value must have certain unit, and in general, better integration with [astropy.units](https://docs.astropy.org/en/stable/units/index.html).

[2021-10-22 16:39] pllim opened #3843 "DOC: Better document "the big picture""
The documentation seems to have very little guidance on the "big picture" of the package. For instance:

* It does not say things like "you should use the command line tools for problem X. But the library interface is better suited for problems of class Y."
* There appears to be no real big picture on "how the code is laid out for users". How can it be easier for a new user to get a high-level pic

[2021-10-22 16:47] pllim opened #3844 "TST: Increase test coverage using pytest-cov, add documentation"
It was not easy to run your tests using `pytest-cov`. When it did run, the coverage was only 29% (at the time of the original post of this issue) without CUDA enabled.

Would be nice if:

* Documentation on how someone would run this with `pytest-cov` is added and how to use it to measure coverage as intended.
* Developers to add tests to increase the existing code coverage.

Plus:

* Also run doc

[2021-10-22 16:58] pllim opened #3845 "DOC: Replace pylab with matplotlib.pyplot"
Many of the examples still use `pylab`, which is discouraged in favor of `numpy` and `matplotlib.pyplot`. Please consider updating those examples.

[2021-10-22 17:04] pllim opened #3846 "Docker download is too big (1.2 GB)"
The use of docker to simplify install is a great thing to see in the install instructions! However, as it started pulling containers, it eventually ended up trying to do a 1.2 GB download, which seems really heavy-weight for a 20 MB Python package.

Would be nice if you could:

* Warn user about the big download at https://pycbc.org/pycbc/latest/html/
* Reduce the download size, especially if most

[2021-10-25 16:15] JAMSADIQ opened #3847 "Issue with null-snr cutoff and using reweighted-snr as input in clustering function"
I was testing the implementation [new definition](https://github.com/gwastro/pycbc/pull/3599) of left and right circular polarization matrix definition and found out that my expected injection was not recovering due to
1. null snr criteria [here](https://github.com/gwastro/pycbc/blob/master/bin/pycbc_multi_inspiral#L297)
2. clustering [here](https://github.com/gwastro/pycbc/blob/master/bin/pycbc_m

[2021-11-09 15:04] a-r-williamson commented on #3468
@spxiwh @pannarale @ahnitz @sfairhur

@SamuelH-97 and I will be looking at the EM-bright constraint. We have some relevant notes sketched out [here](https://github.com/gwastro/pycbc/wiki/PyGRB-Injection-Development) but are yet to make any real code changes for a PR.

One thing we wanted to ask for views on is: how much of the code in `pycbc/tmpltbank/em_progenitors.py` should we port elsewhere, i

[2021-11-10 14:11] spxiwh commented on #3468
@a-r-williamson The EMbright stuff doesn't really belong in `tmpltbank` but it was perhaps easiest to put it there while it wasn't used anywhere else. Please feel free to move it elsewhere. Although if the datafile risks getting large (at the moment it is tiny) we should consider having it somewhere outside of PyCBC.

[2021-11-15 15:21] #3847 closed

[2021-11-17 22:54] yi-fan-wang opened #3867 "Possibly no checks for psd-start-time and psd-end-time in pycbc_inference"
It seems if `psd-start-time` and `psd-end-time` do not exist in a config file for pycbc_inference, then PSD estimation would use the `data-start-time` and `data-end-time.`  I found this issue from GW190728 in https://github.com/gwastro/3-ogc/blob/master/inference_configuration/inference-gw190728_064510.ini which did not give psd-start-time (I think the result is fine, I have a testingGR run using

[2021-11-17 23:15] ahnitz commented on #3867
@yi-fan-wang What is the issue here? The options are if you want to set them to be different from the analysis start / end. They are optional. If you had intended to include them though, that is a mistake on the user side, but the code has no way to know that since it is a completely valid input.

[2021-11-17 23:30] yi-fan-wang commented on #3867
@ahnitz  In our 3-OGC case we always use psd-start-time = -256 and psd-end-time = 256 except GW190728. I think it's not intentional to ignore, we forgot to add. So I want to force users to add psd-start/end-time in case they forget. What do you think about this?

[2021-11-17 23:35] ahnitz commented on #3867
@yi-fan-wang There is no way to do this is my point. Both are valid config files. How do you protect against someone setting up a valid config file that is different from what they intended? The code certainly can't do that for you.

The only thing I can suggest is adding psd-start-end to your base config file and setting to invalid (say string) inputs by default. That way the user has to override

[2021-11-17 23:38] WuShichao commented on #3867
@ahnitz I have encountered the similar problem when I do PE for GW190725_174728, there are NaN in frame files. I solve this problem by setting the `psd-start-time` and `psd-end-time` in its data*.ini file. I don't think it's necessary to fix the time inetrval ny default to estimate PSD, because there are maybe NaN in frame file.

[2021-11-17 23:42] #3867 closed

[2021-11-23 20:03] titodalcanton opened #3869 "Error in `pycbc_plot_singles_timefreq` with matplotlib 3.5?"
The "run small search" test is now failing with this error:
[code]
This smells like a deprecation that finally resulted in an API change.

[2021-11-23 20:05] ahnitz commented on #3869
Yeah, looks like another fallout from the matplotlib group release a week
ago.

On Tue, Nov 23, 2021 at 9:03 PM Tito Dal Canton ***@***.***>
wrote:

--
Dr. Alexander Nitz
Research Group Leader
Max Planck Institute for Gravitational Physics (Albert Einstein Institute)
Callinstrasse 38
D-30167 Hannover,  Germany
Tel: +49 511 762-17097

[2021-11-24 14:02] #3869 closed

[2021-11-25 10:53] niklasrb opened #3875 "Illegal Instruction during import"
Hey everyone,
I've been trying to do some inference with pycbc and lalsuite on our university cluster, but unfortunately I get some errors that I couldn't explain yet.
Whenever I run _import pycbc.events_ in python I get an "Illegal Instruction" and the python execution just stops. I've managed to track down the callstack to
[code]

So I guess the error is somehow connected to cython, but I wasn't

[2021-11-25 11:00] ahnitz commented on #3875
@niklasrb Interesting, illegal instruction usually implies precompiled code used instructions that your CPU doesn't support. However, if you installed from source (which it looks like from your comment) then it shouldn't have been able to build on that machine to begin with,.

What is the CPU you are running on? That might give an idea.

[2021-11-25 11:02] niklasrb commented on #3875
It should be an AMD Opteron Processor 2427

[2021-11-25 11:16] ahnitz commented on #3875
Ok, I just checked. I think I have a guess here. That processor lacks SSE4.2 and AVX. I think our explicit AVX code should all have fallbacks that don't require AVX and should not be the issue here. I'm going to guess though that SSE4.2 is the problem. We compile our cython extensions with SSE4.2 support enabled explicitly, but don't use those instructions directly, so you should be able to disabl

[2021-11-25 11:21] ahnitz commented on #3875
@niklasrb If this is the issue, we can probably patch this to detect the SSE level of the machine when doing a source install and have a fallback setting. Unfortunately, this means you'd always have to install PyCBC from source as the distributed packages currently have SSE4.2 as a minimum vector instruction requirement.

@josh-willis Is there much difference between how well gcc optimizes between

[2021-11-25 11:49] niklasrb commented on #3875
This together with a fresh repo clone worked! Thank you very much!

[2021-11-25 12:31] #3875 closed

[2021-11-26 15:59] #3845 closed

[2021-11-27 08:44] ahnitz opened #3876 "Can't use negative values for --loudest-keep-values in pycbc_coinc_findtrigs"
One can't do the following

[code]
The following also does not work
[code]
In the former case it (naturally) gets treated as a single argument. In the latter, you get an error that argparse isn't expecting an option -5:10. The quotes don't appear to do anything.

See related problem https://bugs.python.org/issue9334

Thoughts are to allow a token stand in place of '-' or to revierse the order of t

[2021-11-27 10:21] tdent commented on #3876
It would be nice to have a strategy that worked in general for negative number option values. Though not sure how to implement that

[2021-11-27 10:35] tdent commented on #3876
For example would the following syntax work
`--loudest-keep-values [10:10,0:10,-5:10] `
the brackets allowing even the first value to be negative

[2021-11-29 09:10] GarethCabournDavies commented on #3876
That's weird, as the job didn't fail on a test that I did to test the negative numbers in these options

[2021-11-29 09:14] ahnitz commented on #3876
@GarethCabournDavies If its the test in the search workflow, you didn't put the options in correctly, so they were never actually sent to any coinc jobs.If by hand, then I think you should have seen an error.

[2021-11-29 09:14] ahnitz commented on #3876
@GarethCabournDavies See change in #3877

[2021-11-29 14:34] titodalcanton opened #3880 "`examples/filter/fir.py` does not work"
Building the documentation currently produces this error:
[code]
It seems this is caused by some confusion between a PyCBC TimeSeries and a numpy array.

[2021-11-29 15:25] #3880 closed

[2021-11-30 08:31] ahnitz opened #3884 "workflow inter-dependencies required to be staged out by the output mapper"
At the moment, as noted in https://github.com/gwastro/pycbc/pull/3868, interworkflow dependies require that files passed have a final stage-out location included in them. This may not be true for intermediate files or when using a very aggressive file-retention-level. Hence some workflow topologies may not be possible with some combinations of these options. This is not a regression, but might hin

[2021-12-04 09:55] #3876 closed

[2021-12-06 13:05] MarlinSchaefer opened #3893 "Inconsistent timing in pycbc_create_injections"
When generating more than 4000 injection parameters through `pycbc_create_injections` and using the options `--time-step` and `--time-window` without using `--ninjections`, some injection times `tc` are separated by less than the time window specified by the option.

I think this is caused by generating the injections in blocks of 4000. When a new block is started it is not enforced that the last

[2021-12-06 14:47] ahnitz commented on #3893
Fixed by #3894

[2021-12-06 14:47] #3893 closed

[2022-01-21 09:10] spxiwh opened #3913 "There's an off-by-one bug in pycbc_ifar_catalog OR the heirarchical removal code"
There is a problem in pycbc_ifar_catalog if the number of signals in the data exceeds the "max_heirarchical_removals".

This basically can be seen by following a few lines. First here:

https://github.com/gwastro/pycbc/blob/master/bin/plotting/pycbc_ifar_catalog#L83

Where the number of removals is set. Lets say that this is 10.

Then here the code tries to access the "h10" entry:

https://github.

[2022-01-21 09:32] GarethCabournDavies commented on #3913
I think you're right on the hierarchical removal code. However I think it does _do_ the removal, just doesn't write it to file :facepalm:.

The check/break for whether the max hierarchical level has been reached is on this line:
https://github.com/gwastro/pycbc/blob/master/bin/all_sky_search/pycbc_add_statmap#L399

However the HR foreground and background haven't been written to the file at this p

[2022-01-21 11:51] GarethCabournDavies commented on #3913
Solved by #3914

[2022-01-21 11:51] #3913 closed

[2022-01-25 10:21] duncanmmacleod opened #3917 "version_helper picks up the wrong git information when building from a tarball inside another git repo"
With conda-forge, the package build is typically executed inside of a clone of the conda-forge feedstock repository for PyCBC. However, this means that when the PyCBC release tarball is unpacked, `pycbc._version_helper` picks up the wrong git information:

[code]

I can patch the build to force it to use the bundled `pycbc/version.py`, but it would be great to get this fixed upstream.

[2022-01-26 16:55] nmutto opened #3920 "Conflict with multiprocessing and the pycbc.detector.Detector class"
Hi. I am trying to parallelise my code using the `multiprocessing` library. For instance, one of the first operations that I want to perform in parallel is the creation of objects whose class makes use of some `pycbc` modules. When I set up the code to use `multiprocessing` for this task, e.g.

    import multiprocessing as mp
    with mp.Pool(2) as pool:
        list_of_objects = pool.map(functio

[2022-01-26 17:17] spxiwh commented on #3920
@nmutto Thanks for reporting this. This is a "known" issue, but you're into quite advanced use cases here, and it's not always easy to document strange cases like this one.

The basic issue here is that the lal Detector object cannot be pickled, which is required for multiprocessing. Your fix works for your use case by forcing the code to recompute this on every thread when multiprocessing, but it

[2022-01-27 08:54] nmutto commented on #3920
@spxiwh Thank you for your answer and the suggestion. However, I am afraid that I can not apply it to my specific case, since I am not creating the Detector object by myself. In fact, one of the attributes of my class points to a `FDomainDetFrameGenerator` object to project GW signals in different detectors (in frequency domain), and as far as I understand it, the Detector object is created automa

[2022-01-27 08:59] MariaAssiduo opened #3921 "pycbc v2.0.1 version - banksim issue"
Hello. I am using the pycbc 2.0.1 version, I git clone it in my CIT directory /home/maria.assiduo/gwastro2_pycbc/.

When running pycbc_banksim_skaymax, I get the following error:

[code]
I need help to understand how to overcome the problem. Thank you in advance.

[2022-01-27 10:59] titodalcanton commented on #3921
@MariaAssiduo can you point me to the banksim configuration or command line that you are using?

[2022-01-27 11:30] spxiwh commented on #3920
@nmutto Thanks for the details here. We do have one use-case (pycbc_inference) where the `FDomainDetFrameGenerator` is used across multiple processes. In this case the generator, and indeed all of it's inputs, are created on *each* of the processes. I'm not sure if you could move the creation of the `FDomainDetFrameGenerator` inside the parallel loop?

The project_wave method is used to convert h_

[2022-01-27 11:38] MariaAssiduo commented on #3921
@titodalcanton I am very sorry, I may have deleted the directory of the test, however my pycbc copy is in the directory   /home/maria.assiduo/gwastro2_pycbc/

The configuration file was of this kind

[code]
and the command lines, in the directory where the banksim config file is present, I usually type are

[code]
For my run, I get the aforementioned error message soon after the passage 2).
Thanks

[2022-01-27 11:43] titodalcanton commented on #3921
The error points to a problem reading one of the XML files (the bank or the injections, or both) so I wanted to have a look at those files and try to reproduce the problem myself. It would be useful if you could rerun the banksim, or look at your `~/.zfs/snapshot` directory and tell me where to find the old run, so I can access the XML files.

[2022-01-27 13:13] MariaAssiduo commented on #3921
@titodalcanton I have reproduced exactly the same test, you can have a look at it here --> /home/maria.assiduo/test_gwastro2_pycbc/

Thank you

[2022-01-27 13:57] titodalcanton commented on #3921
Ok, I can reproduce the issue, and there are definitely things to fix in `pycbc_splitbank`, however I am not sure if the underlying problem is in sbank, PyCBC, or ligo.lw yet.

One odd thing about your bank is that it is named `.xml.gz` even though it is not compressed. This is not the cause of the problem, but you may want to rename the file just to avoid confusion.

[2022-01-27 15:52] a-r-williamson commented on #3921
By the looks of things it might only be tangetially related, but I've hit an issue with reading in an xml bank with the error being
[code]
This comes from the fact that the SnglInspiral table has `process:process_id` as a valid column, but the attribute for a SnglInspiral row is `process_id`. Can work around it with e.g. a change at [line 1184 of `pycbc/io/record.py`](../blob/master/pycbc/io/recor

[2022-01-27 16:57] spxiwh commented on #3921
@a-r-williamson Can you point to a bank where this is happening?

[2022-01-27 17:04] a-r-williamson commented on #3921
On CIT: /home/andrew.williamson/pygrb_tests/pre_O4/pycbc_multi_inspiral_test_220120/bank_veto_bank.xml

[2022-01-27 17:05] titodalcanton commented on #3921
@a-r-williamson I kind of hit that problem today as well while debugging Maria's issue (but I did not have time to follow it up properly). I was not sure why this was not being caught by the PyCBC Live test (which uses the O2 bank in XML format) but I think I just saw it! It seems we explicitly do the workaround you suggest, but only in `pycbc_coinc_bank2hdf`: https://github.com/gwastro/pycbc/blob

[2022-01-27 17:14] titodalcanton commented on #3921
Scratch my previous comment, I *do* in fact get the same error when trying to load the O2 XML bank. Not sure why the test does not fail!

[2022-01-27 17:30] titodalcanton commented on #3921
Ok I see what is happening now. I can avoid the error by passing the `parameters` kwarg to `TemplateBank`'s constructor, and only request the masses and spins. This avoids the code trying to read/parse the problematic `process:process_id` field.

[2022-01-27 17:31] a-r-williamson commented on #3921
Yes that makes sense. I can create a PR with my above suggested change if that looks like the best way to handle this, but before that I'll see if I can spot other places where this might occur.

[2022-01-28 13:15] MariaAssiduo commented on #3921
@a-r-williamson Hi, I made the changes you suggestend in the script record.py
[code]
of my pycbc copy in the CIT directory /home/maria.assiduo/gwastro2_pycbc/pycbc/pycbc/io/

But I still can't run banksim without that error occurring
[code]
You can have a look to the test here /home/maria.assiduo/test_gwastro6/BK_pycbc2/XPHMx2/

What I missed? Thank you in advance.

[2022-01-28 13:24] spxiwh commented on #3917
Any suggestion on what is needed to fix this within PyCBC?

[2022-01-28 13:31] a-r-williamson commented on #3921
@MariaAssiduo I'm sorry if I've caused confusion by mentioning the error I had encountered. The suggested changes I posted were to address that error, which is different to yours (but caused by the same underlying changes in `ligo.lw`). @titodalcanton has opened https://github.com/gwastro/pycbc/pull/3922 to fix the error you identified. The traceback you posted shows that the calls from `pycbc_spl

[2022-01-28 15:03] nmutto commented on #3920
@spxiwh Thank you for your reply. Given the structure of my code I think I cannot put the creation of the `FDomainDetFrameGenerator` inside the parallel loop. Luckily enough, I am not working with time-domain waveforms and I don't think I'll need them for the code I am developing. However, this is good to know for future projects. Thank you again for you support.

[2022-01-28 15:03] #3920 closed

[2022-01-28 19:51] #3056 closed

[2022-01-31 18:21] titodalcanton commented on #3921
@MariaAssiduo the error you originally reported here should now be fixed on master by #3922, so I am going to close this issue. Please install the latest PyCBC master branch and try again.

[2022-01-31 18:21] #3921 closed

[2022-02-03 11:34] titodalcanton opened #3928 "Rethink chirp mass range in `pycbc_optimize_snr`?"
@spxiwh notes:

[code]

[2022-02-03 21:17] titodalcanton commented on #3928
I did in fact see this error while playing with `pycbc_optimize_snr`, though I am not sure if this is a consequence of what @spxiwh said.
[code]

[2022-02-04 17:03] tdent commented on #3928
Well, maybe an idea behind the formula was that the highest chirp mass in the live bank was less than 50.

[2022-02-07 11:59] ChristopherAllene opened #3932 "Error : time data with pycbc_geom_aligned_bank"
I try to create a new template bank with pycbc_geom_aligned_bank which is raising an error :

[code]

[2022-02-07 12:13] titodalcanton commented on #3932
@ChristopherAllene thanks for reporting this. I do not have a lot of time for this at the moment, but we may have to fix `pycbc_geom_aligned_bank` (and related scripts) to work around a recent change in the python-ligo-lw module. We probably want to use [this function](https://github.com/gwastro/pycbc/blob/master/pycbc/io/ligolw.py#L128) instead of calling `register_to_xmldoc()` directly.

[2022-02-07 14:48] ChristopherAllene commented on #3932
I'm not sure it come from ligo-lw. I cloned the igwn-py39-testing environment with ligo-lw 1.7.0 and it failed (same error).
It might come from the pycbc version. On farmn pycbc is ver 1.8.0 against ver 2.0.1 on CIT server and the farmn is working.

[2022-02-08 19:43] tdent commented on #3928
We could try and fix this mathematically by noting that 1 \pm mchirp/50 is the first order expansion of exp(\pm mchirp/50), and if you use the exponential instead of the linear function the minimum never gets to zero.  Though for mchirp >> 50 it does get very close to 0.

[2022-02-09 19:00] titodalcanton opened #3934 "PyCBC Live no longer needs to upload a separate LIGOLW file for noise PSDs"
See https://git.ligo.org/lscsoft/ligo.skymap/-/merge_requests/129. Dropping the upload should save a couple seconds.

[2022-02-18 17:04] jacopok opened #3938 "Analytical PSDs do not warn the user that they are going beyond the correct range"
When generating an analytical PSD, for example with `pycbc.psd.from_string`,
the frequency bounds are not checked against the file the PSD comes from,
and `pycbc` (or `lalsimulation`?) happily interpolates beyond the correct range.

I came across this with the ET-D PSD for Einstein Telescope,
which I believe comes from the file
https://git.ligo.org/lscsoft/lalsuite/-/blob/master/lalsimulation/lib/

[2022-02-18 17:51] titodalcanton commented on #3938
@jacopok analytical PSDs in PyCBC are taken verbatim from lalsimulation: each model is simply mapped directly to a call to the corresponding lalsimulation PSD function (there is one exception, the `flat_unity` PSD, but I guess you are not concerned with that here). The interpolation is done in lalsimulation, in a way completely transparent (or opaque, if you want) to PyCBC. Then PyCBC can only ass

[2022-02-18 17:54] jacopok commented on #3938
I saw that the PSDs come verbatim from lalsimulation and I am going to raise the issue there as well; I hoped that a check could be performed here too but if that is not feasible feel free to close this, of course.

[2022-02-18 18:20] jacopok commented on #3938
Or, perhaps, if this value can be retrieved it could just be a `logging.warning` raised by `pycbc` when needed...

The value can probably be retrieved, since `lalsimulation` knows about it (it is the `flow` parameter in code such as [this](https://lscsoft.docs.ligo.org/lalsuite/lalsimulation/group___l_a_l_sim_noise_p_s_d__c.html#gac3aacf37202881604f39c1b4867b69cb))

[2022-02-21 22:28] ahnitz opened #3942 "markupsafe breaks jinja2"
We use jinja2 for some results page templating. It requires markupsafe which recently upgraded and is not longer compatible.

see the discussion here https://github.com/pallets/jinja/issues/1585

[2022-02-21 22:34] ahnitz commented on #3942
Ok, followup on this, it appears the issue is resolved in later releases of jinja2, we *don't* pin to an old release, however, it appears one of our dependencies is pulling in *flask* which does require an old version (hence causing everything to break).

[2022-02-21 22:37] ahnitz commented on #3942
Ok, and the issue is Pegasus-wms pinning to an old flask version.

https://pypi.org/project/pegasus-wms/5.0.1/#files

[2022-02-21 23:02] ahnitz commented on #3942
I've suggested a PR to the Pegasus team here https://github.com/pegasus-isi/pegasus/pull/36 that would address this issue upstream, since we don't depend on flask (and hence pull in old jinja2 directly).

[2022-02-22 17:08] spxiwh commented on #3938
@jacopok The flow parameter in the function you point to is *not* the lowest valid frequency in the PSD txt file, but the lowest frequency the user wants to generate. The lalsimulation interface *does not* expose the lowest valid frequency as far as I can tell. This is all handled in here (https://lscsoft.docs.ligo.org/lalsuite/lalsimulation/_l_a_l_sim_noise_p_s_d_8c_source.html#l01041).

I *think

[2022-02-22 17:38] jacopok commented on #3938
I see, I misunderstood the `flow` parameter in LAL, in which case I completely agree: since the minimum frequency is not exposed, changes can only happen in LAL --- I've contacted the developers there to see whether this can be addressed.

Regarding the ET PSD specifically, a wider one is available (http://www.et-gw.eu/index.php/etsensitivities, which brings one to [this download page](https://app

[2022-02-22 17:47] spxiwh commented on #3938
Always happy to accept improvements to documentation :-). It is probably worth a mention of this in the "Generating an Analytic PSD from lalsimulation" section. The https://pycbc.org/pycbc/latest/html/pycbc.psd.html page is autogenerated and just contains all of the function/module documentation in the code. However, I guess the first thing that appears is the text here:
https://github.com/gwastro

[2022-02-25 10:05] PRAVEEN-mnl opened #3948 "Bug in the PyCBC code"
hello, we are using the command line (attached in a .txt file)  and correspondingly we are getting the following error (bold text):

**2022-02-24 07:20:21,635:INFO : o3_sbbh2.dax added SubWorkflow(_id=o3_sbbh2-finalization, file=o3_sbbh2-finalization.dax, is_planned=False)
Traceback (most recent call last):
  File "/home/praveen.kumar/.conda/envs/vconda/bin/pycbc_make_coinc_search_workflow", line

[2022-02-28 13:26] MarlinSchaefer opened #3952 "pycbc.psd.from_numpy_arrays fails"
The following code fails with my PyCBC installs
[code]
and gives the error message
[code]

I think the reason for this failure is the following line [https://github.com/gwastro/pycbc/blob/master/pycbc/psd/read.py#L68](https://github.com/gwastro/pycbc/blob/master/pycbc/psd/read.py#L68), where the `int` call always reduces the low frequency cutoff to be below the available frequency data. I would su

[2022-02-28 14:02] WuShichao commented on #3952
@MarlinSchaefer I have encounter same problem, you can see here https://github.com/gwastro/pycbc/pull/3935

[2022-02-28 14:37] MarlinSchaefer commented on #3952
Thanks for pointing that out. I hadn't checked carefully enough. I guess this issue can be closed.

[2022-03-01 12:02] MarlinSchaefer commented on #3952
The minimal working example I posted above is ill-posed, as it requests a higher frequency than is available in the original data. The correct example would be
[code]
which executes without error. However, I experienced this error in a different context, where explicitly the low-frequency cutoff was the problem. I'll try to come up with a minimal examples that demonstrates the issue.

[2022-03-01 12:12] WuShichao commented on #3952
@MarlinSchaefer I have the example for  the low-frequency cutoff issue:
[code]
You need to download this https://dcc.cosmicexplorer.org/CE-T2000017/public

[2022-03-01 12:22] MarlinSchaefer commented on #3952
@WuShichao Okay, great. You can also reproduce the error from PyCBC itself using this code:
[code]

[2022-03-01 16:27] titodalcanton commented on #3934
Fixed by #3936.

[2022-03-01 16:27] #3934 closed

[2022-03-03 18:57] tdent opened #3956 "Offline workflow expects optimal_snr_merge jobs to produce an xml file"
As in the title. The all-sky search is currently broken as it is necessary to merge optimal snr files, but there is no executable to do that now that they are hdf, also the workflow generation currently seems to assume that the result of doing so will be an xml file.

[2022-03-03 18:59] tdent commented on #3956
I think we will be able to put together a merge_optimal_snr_hdf executable, but we may need guidance or help on necessary changes to the workflow.

[2022-03-03 21:09] spxiwh commented on #3956
The workflow changes should be pretty minor, as we can just repurpose most of what's there. It doesn't make sense to do that until the executable exists though, I can help from there!

[2022-03-03 23:22] titodalcanton commented on #3956
It seems worth having a more general `pycbc_merge_injections` script which just merges injection tables, whatever they contain - including optimal SNRs.

[2022-03-03 23:26] titodalcanton commented on #3956
Hehe, something like this maybe? https://github.com/gwastro/pycbc/blob/master/bin/pycbc_merge_inj_hdf

[2022-03-03 23:29] tdent commented on #3956
Maybe, I just hope my student doesn't wast too much time duplicating it.  Seriously, there seems to be a communication problem here ...

[2022-03-04 17:15] #3938 closed

[2022-03-04 18:42] tdent commented on #3956
So the remaining work is to clean up the merge executable inputs/outputs and options and hdfinjfind inputs within the workflow module and/or workflow generator

[2022-03-05 16:21] jacopok commented on #3817
The feature was implemented as the `optimized_match` function in PR https://github.com/gwastro/pycbc/pull/3939.

[2022-03-05 16:21] #3817 closed

[2022-03-08 18:18] tdent commented on #3956
@spxiwh Since a working executable now exists, this is where you would start to step in on the workflow side ?

[2022-03-08 18:21] ahnitz commented on #3956
@tdent You might want to ask @dethodav if they had tried this out in a workflow already. I seem to recall that they might have tested it, but perhaps it wasn't in full workflow configuration.

[2022-03-09 10:30] LAujust opened #3959 "Adjust coalescence time in WaveformGenerator"
I am using fisher information matrix to evaluate detection ability, where I need to get difference of response with respect to params including  `t_c` (coalescence time). However, I found that I have failed to adjust `t_c` in `get_fd_waveform` for `t_c` is not a input parm.
So I would really appreciate it if someone could offer me a helpful solution.

[2022-03-09 10:46] yi-fan-wang commented on #3959
Hi,
get_fd_waveform only generates waveform in the frequency domain so there is no time parameter. Use get_td_waveform for time domain waveforms. See section "Generating one waveform in multiple detectors" in http://pycbc.org/pycbc/latest/html/waveform.html for an example to generate waveforms in the time domain for H1, L1, and V1 detectors. I think the "end_time" there is what you're looking for.

[2022-03-09 11:10] duncanmmacleod opened #3960 "Add setuptools 'extra' to capture optional pycbc-live requirements"
It would be convenient to have a setuptools `extra` that details the extra requirements for `pycbc-live`, so that users can execute

[code]

to get pycbc + mpi4py + ...

@titodalcanton, this is the pypi version of having a conda metapackage for `pycbc-live`.

[2022-03-09 20:26] duncanmmacleod opened #3964 "PyCBC missing runtime requirement on setuptools"
I think pycbc should have a runtime requirement on `setuptools` due to the use of `pkg_resources` in `pycbc.waveform`:

https://github.com/gwastro/pycbc/blob/3135d11ad886c6dd66a2b0150f01b0d677ca0e56/pycbc/waveform/__init__.py#L11

where `retrieve_waveform_plugins` is defined as:

https://github.com/gwastro/pycbc/blob/3135d11ad886c6dd66a2b0150f01b0d677ca0e56/pycbc/waveform/plugin.py#L61-L64

Withou

[2022-03-10 05:13] LAujust commented on #3959
Thanks a lot! It really helps!

[2022-03-10 05:13] #3959 closed

[2022-03-10 05:23] ahnitz commented on #3959
@LAujust If you are doing a fisher matrix calculation, presumably you are doing some inner products. If so, you will need to actually time shift the signal within some fixed vector representation. To do that you probably want to use the 'cyclic_time_shift' method of the time series which will shift the data points in the vector by subsample level precission.

Note that it updates the time stamps t

[2022-03-10 05:26] ahnitz commented on #3964
@duncanmmacleod I think you are right. Can you clarify how this environment can exist though? I guess we should not rely on this, but is it possible to have a python env without pip / setuptools installed anymore? What does that look like?

[2022-03-10 05:28] ahnitz commented on #3964
Also, not for self, that the suggestion normally is to use importlib (new in python 3.7) which we now *can* do as we've dropped python3.6 support. That may be the better route here.

[2022-03-10 09:38] duncanmmacleod commented on #3964
@ahnitz, my example comes from a conda environment. `python` itself does not depend on `pip` or `setuptools` (why would it?) so it can be constructed fairly naturally.

However, **most of the time** `conda` itself will artifically inject a dependency between `python` and `pip`, see https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html#add-pip-python-dependency

[2022-03-12 06:07] ahnitz commented on #3964
Ok, it seems we actually need the functionality in https://docs.python.org/3/library/importlib.metadata.html, which is only available from python3.8. When we drop python3.7 support, we can move to this. Until then, I think yes, we'll need to add setuptools.

[2022-03-12 06:10] ahnitz commented on #3964
Ok, we'll need to rerquire setuptools as we still support python3.7 and the stdlib approach above doesn't work with the APIs we need until python 3.8. See https://docs.python.org/3/library/importlib.metadata.html

[2022-03-15 13:22] #3956 closed

[2022-03-18 19:24] ahnitz commented on #3952
@MarlinSchaefer Is this sufficiently addressed now?

[2022-03-18 19:26] WuShichao commented on #3952
@ahnitz I have tested all the examples in this issue, and Marlin has tested too https://github.com/gwastro/pycbc/pull/3935#pullrequestreview-910131175

[2022-03-18 19:28] ahnitz commented on #3952
@MarlinSchaefer Assuming this is now resolved, I'll close this issue. Please re-open if this is mistaken.

[2022-03-18 19:28] #3952 closed

[2022-03-21 20:41] duncanmmacleod opened #3974 "PyCBC docs on 'Installing lalsuite for PyCBC' have broken links"
The [_Installing lalsuite for PyCBC_](https://pycbc.org/pycbc/latest/html/install_lalsuite.html) page includes broken links to these locations:

- https://wiki.ligo.org/DASWG/SoftwareDownloads
- https://www.lsc-group.phys.uwm.edu/daswg/docs/howto/lscsoft-install.html

These should be replaced by instructions on installing LALSuite using pre-built packages, the current best link for that is

<https

[2022-03-29 07:30] ReinhardPrix commented on #2901
Ok, so here a small ping to try and revive this idea: what I would be interested in using is *probability distributions/priors* and the *wrapper to samplers*, but I do not want to pull in lalsuite or lalsimulation, and otherwise would prefer to be able to import pycbc with as few dependencies as possible, ie basically only what's required to get distributions.

Following the bilby model, which has

[2022-03-29 10:59] titodalcanton opened #3982 "PyCBC Live: perform basic bank sanity checks at startup"
It is possible to hit errors in PyCBC Live due to excessive duration of a template. It would be nice to have some sort of sanity check performed at startup, to catch such errors early.

[2022-03-29 13:41] ahnitz commented on #2901
@ReinhardPrix Thanks for bringing this back to the foreground. I'll take a look at this this week and see what best path forward is on this.

[2022-03-29 13:55] ahnitz commented on #2901
@ReinhardPrix Just for order of operations, if we can more quickly remove the dependency on lalsimulation, but temporarily may need lal itself, does this work for you? Presumably you bring in your own version of lal, but beyond not pre-empting that, is this OK?

[2022-03-30 07:02] ReinhardPrix commented on #2901
@ahnitz thanks for looking into this!

Yes, importing lal is perfectly fine, as that is available in my environment as well.

[2022-03-31 15:52] LAujust opened #3987 "lalsuite break down"
When I use lalsuite module in CentOs, it seems break down the kernel
`import lal`
and return,
`Restarting kernel...`

I was running my code in Spyder. Could anyone help figuring out of this problem? Thank U!!

[2022-04-03 13:36] #3987 closed

[2022-04-04 20:09] maxtrevor opened #3990 "TimeSeries.get_end_time() does not work"
Currently, when I use am working with a time series, using `ts.get_end_time()` results in an error: ` 'TypeError: unsupported operand type(s) for +: 'lal.LIGOTimeGPS' and 'float' `

[2022-04-04 20:22] ahnitz commented on #3990
@maxtrevor Can you post how to reproduce this error?

[2022-04-04 20:43] maxtrevor commented on #3990
I've been working on modifying the pycbc_live example to create a unit test for the implementation of idq into pycbc live.
I'm trying to modify the fake strain frames to add simulated idq data to them. At @titodalcanton 's suggestion I modified one of the pycbc-live-utils here: https://github.com/maxtrevor/pycbc-live-utils/blob/master/add_state_dq_vectors.py

To reproduce this error, first run the

[2022-04-04 20:48] ahnitz commented on #3990
@maxtrevor In python adding from the left and the right are separate operators since they would be defined by different classes. (i.e.  a + b  -> a.add(b) vs b + a -> b.add(a)). What happens is that the ligo type is supposed to define how to add floats to itself, float doesn't know about LIGOTImeGPS at all, but doesn't have to since it will use the add definition that LIGOTimeGPS provides. The fir

[2022-04-04 20:52] #3990 closed

[2022-04-05 11:07] ahnitz commented on #2901
@ReinhardPrix Ok, thanks, I should be able to do that more readily. I'll try to get you something to test with before I go on vacation next week.

[2022-04-05 11:08] ahnitz commented on #1736
I think this has likely been superseded by hdf injection support. If in error, please re-open.

[2022-04-05 11:08] #1736 closed

[2022-04-05 11:09] ahnitz commented on #1382
I think this is now out of date.

[2022-04-05 11:09] #1382 closed

[2022-04-05 11:13] ahnitz commented on #3942
I'm closing this is really a Pegasus platform requirement problem. There is no further change we can make on our end to avoid this.

[2022-04-05 11:13] #3942 closed

[2022-04-05 11:13] ahnitz commented on #3797
This has been fixed for some time.

[2022-04-05 11:13] #3797 closed

[2022-04-07 09:01] spxiwh opened #3995 "Update ECP authenticated pulls"
@duncanmmacleod says we should replace the https code in https://github.com/gwastro/pycbc/blob/bc45bb13f3ff08d00de5e977e6b7b0a4fc61ff2f/pycbc/workflow/configuration.py#L199 with something like:

[code]

[2022-04-08 12:54] duncanmmacleod commented on #3995
The idea of a one-shot doesn't work at all with git.ligo.org because it's not a proper ECP client, but there is a fairly elegant change that can be made. PR incoming.

[2022-05-05 08:41] duncanmmacleod opened #4019 "PyCBC incompatible with Astropy 5.1rc1"
The following error occurs when attempting to import `pycbc.cosmology` in an environment with Astropy 5.1rc1 [[ref](https://github.com/gwpy/gwpy/runs/6299808407?check_suite_focus=true)]:

[code]

The error occurs here:

https://github.com/gwastro/pycbc/blob/5a7e3f478c9d1a16c7a1658d806637514277a219/pycbc/cosmology.py#L295-L297

I can't pin down exactly which change in Astropy results in this error

[2022-05-07 21:22] ahnitz commented on #4019
This is now fixed by #4022

[2022-05-07 21:22] #4019 closed

[2022-05-10 15:15] ahnitz commented on #3740
A PR has been submitted for gwsurrogate to add integration https://github.com/sxs-collaboration/gwsurrogate/pull/29

[2022-05-13 15:54] joao-aveiro opened #4027 "Error in pycbc.catalog.Merger.strain() while retrieving GW170817-v2 (O1_O2-Preliminary release) event data"
## Description

An error is raised while using `pycbc.catalog.Merger.strain()` to retrieve L1 strain data for the GW170817-v2 event from the O1_O2-Preliminary release. It seems that the data file is correctly downloaded and the problem is related to the way the [channel name is defined](https://pycbc.org/pycbc/latest/html/_modules/pycbc/catalog.html#Merger.strain) in the class method:

[code]

whi

[2022-05-13 16:10] ahnitz commented on #4027
@joao-aveiro Thanks for reporting this. I think  you've identified the issue correctly. If you have a suggestion we have happy to accept PRs. I think the main issue here is how to know the channel name. For the GWTC-* sets the patter was as written in the formula. For others, it appears to not be the case. It's not entirely clear from the json metadata (or wasn't, maybe this has been updated?).

A

[2022-05-13 16:22] ahnitz commented on #4027
I think looking at this those datasets are using the bulk data naming convention before it was changed. We could try a fallback here in case the standard changes?

Perhaps a simple try / except
https://github.com/gwastro/pycbc/blob/master/pycbc/catalog/__init__.py#L139

If this fails, retry with the 'IFO: LOSC-STRAIN' , name?

@joao-aveiro If you'd like to submit a PR to make this change, I think

[2022-05-13 18:32] joao-aveiro commented on #4027
It seems that the data is retrieved in .gwf files. I am not familiarized with this format, so some of the statements or ideas I might present from hereon might not make sense or be wrong.

@ahnitz I don't know how many naming conventions there are, but assuming there is only the one for the GTWC-* data and this one that is raising error, I believe a if/else to switch between the two cases dependin

[2022-05-13 18:45] joao-aveiro commented on #4027
Nevertheless, I think this might not be the best approach either. Let me explain:

I was able to find the correct channel name somewhat by trial-and-error and by analyzing the raw .gwf file (in plain-text/binary). I couldn't easily find documentation/metadata files where this name was specified, and for what I could find no package (LALFrame, GWPy, PyCBC) had a method for checking which channels a

[2022-05-13 23:14] ahnitz commented on #4027
@joao-aveiro You are correct that that would be the better behavior. If you think you can add that I think we'd be happy to accept a PR. The underlying library we use (lalframe) doesn't expose that cleanly, which is why we don't do it that way already. However, if you think you can add this (or barring that the previous solution), we'd be happy to accept a PR.

[2022-05-26 10:29] hoyc1 opened #4035 "AttributeError caused by astropy==5.1"
I get the following error when importing the `psd` module from pycbc:

[code]

I do not get this error when I have `astropy==5.0.4` installed. I think this error arises because in `astropy==5.1` the list of available cosmologies is stored as `astropy.cosmology.realizations.available` compared to `astropy.cosmology.parameters.available` for `astropy < 5.1`.

[2022-05-26 11:13] spxiwh commented on #4035
@hoyc1 This sounds like the thing Duncan/Alex fixed in https://github.com/gwastro/pycbc/pull/4022, do you have the latest PyCBC installed (if using earlier versions, probably earlier astropy is needed)

[2022-05-26 11:19] hoyc1 commented on #4035
@spxiwh I am using the latest PyCBC version (pycbc==2.0.2). It looks like #4022 will fix the problem but this was merged into master on 7th May and the latest PyCBC version was released on 2nd March. Is it possible to make a new release which includes this MR?

[2022-05-26 11:26] ahnitz commented on #4035
@hoyc1 Yes, we should do this. Apologies for not having the release out ahead of time.

[2022-05-26 11:27] hoyc1 commented on #4035
No problem. Thanks!

[2022-05-26 13:15] ahnitz commented on #4035
@hoyc1 The new release is on PyPI, can you confirm this resolves your issue?

[2022-05-26 13:18] #4035 closed

[2022-06-01 11:06] gescrig opened #4044 "Error in pycbc.inference.sampler.EmceePTSampler"
In inference.sampler.__init__.py I had to change:
_try:
    from .emcee import EmceeEnsembleSampler
    from .emcee_pt import EmceePTSampler
    samplers[EmceeEnsembleSampler.name] = EmceeEnsembleSampler
    samplers[EmceePTSampler.name] = EmceePTSampler
except ImportError:
    pass_

for the new version I propse:
_try:
    from .emcee import EmceeEnsembleSampler
    samplers[EmceeEnsembleSampler.

[2022-06-01 12:30] ahnitz commented on #4044
@gescrig Thank you for the report.

I'm not sure atm, why this occurs though. Can you share what versions of emcee, pycbc, python, operating system you are using? The reason I ask is that in the CI envs we of course test out many of the samplers including emcee_pt, so there must be some difference between your env and ours that results in needing to make this change. It would be good to understand

[2022-06-01 13:40] gescrig commented on #4044
I'm using:
_emcee 2.2.1
pyCBC 2.0.3
Python 3.9.12
Ubuntu 20.04.2 focal_

I hope I can help with anything, it doesn't matter because I fixed the code (after spending the whole morning  haha, but you're doing such an incredible work) so now I can work on my Masters project that I have to submit next week. All the best!

[2022-06-01 14:31] jakeb245 opened #4045 "Update PyGRB Workflow Generation"
Lots of work has been done on the PyGRB pipeline, but the workflow generation script hasn't been updated in 3 years! It is quite out of date with rest of the pipeline and PyCBC as a whole. Work is being done to bring the workflow generation up to date in [this branch](https://github.com/jakeb245/pycbc/tree/wflow-test1). Any discussion, advice, etc. is welcome!

Things done so far:
- Updated segmen

[2022-06-01 14:35] ahnitz commented on #4045
@jakeb245 Once this is complete, I might suggest adding a unittest similar to what we have for the coincident search workflow (i.e. a full run of some analysis but with settings to bring the runtime to ~ 30 minutes). That way we can prevent anyone breaking the pipeline and if changes are needed they have to be reflected there too.

[2022-06-10 16:13] tdent commented on #3928
Seems like Veronica's injection results in the most recent version of https://dcc.ligo.org/LIGO-P2200060 could be used to inform this.

[2022-06-10 16:52] tdent opened #4048 "Add igwn requirements and companion.txt to docker install"
Ian says here https://github.com/gwastro/pycbc/pull/4028#issuecomment-1149716813

[2022-06-13 10:01] MariaAssiduo opened #4049 "banksim -> missing the creation of the executable submit.sh and others"
Hi,

In order to use a file .xml for the bank and a file .xml also for the injections, I modified the configuration file of banksim in the following way:
[code]
In the same directory  /home/maria.assiduo/INJECTIONS/test/BK1/ there are both files. Then for running I launch the source:

`source /home/maria.assiduo/gwastro2_pycbc/pycbc_Python3/bin/activate`

and the following command line:

`pycbc_ma

[2022-06-13 12:40] LAujust opened #4051 "O4 Sensitivity"
I need use LIGO/Virgo O4 sensitivity in my work, but not finding noise data but figure. And psd in PYCBC only contains O3 and A+. Where can I get O4 psd data?

[2022-06-13 13:25] titodalcanton commented on #4051
@LAujust we do indeed have O4 noise models in PyCBC, for example `aLIGOAdVO4T1800545` which should give you the Advanced Virgo O4 sensitivity described in the [observing scenarios paper](https://link.springer.com/article/10.1007/s41114-020-00026-9) (the `aLIGO` part is a typo which I have been trying to get fixed). Unfortunately it is not trivial to know which noise model function corresponds to w

[2022-06-13 14:47] titodalcanton commented on #4051
I am closing this, feel free to reopen if you realize my answer is not sufficient.

[2022-06-13 14:47] #4051 closed

[2022-06-13 17:16] spxiwh opened #4052 "PyCBC + PyTorch = segfault"
If one tries to install PyCBC alongside PyTorch (very common ML module), it causes breakages. For things like PyTorch, you really need conda, so you can do something like:

[code]

then run something that calls into the FFT module:

[code]

and the code segfaults. It runs fine before the pytorch install. The segfault occurs whenever a call to FFTW is made, if one uses MKL instead the code runs fin

[2022-06-13 17:22] ahnitz commented on #4052
Can you verify if this occurs in a virtualenv? That might help pinpoint a
difference as we use this combination of software  for the ml MDC and don't
run into this problem.

On Mon, Jun 13, 2022, 19:16 Ian Harry ***@***.***> wrote:

[2022-06-13 18:18] ahnitz commented on #4052
And if you then install

[code]

The segfault goes away

[2022-06-13 19:42] ahnitz commented on #4052
@spxiwh I can confirm your suspicion, though I'm not closer to understanding why. You can remove the error by changing a single rpath link so that numpy doesn't point to the mkl version of cbls.

[code]

I used chrpath to change the rpath of the so to point to the openblas version and then the test you posted works fine. If I change back to the mkl library, it fails.

[2022-06-13 21:57] ahnitz commented on #4052
@spxiwh Ok, here's something. I've reduced the failing case to one that *only* requires numpy and fftw and no pycbc at all.
[code]

This segfaults in the same way you've observed, and if MKL is removed so that numpy no longer links against it, then this succeeds.  :shrug: :cry: :confused:

[2022-06-13 22:21] ahnitz commented on #4052
@spxiwh As probably far as I get tonight, but here's something even simpler that even removes direct useage of numpy arrays (i.e. rules out somehow numpy giving bad pointers to the fftw functions).

If you uncomment the *single* line that imports numpy, then it will segfault. This occurs even though no numpy function is called. I think this indicates that something is settings some kind of global

[2022-06-13 22:46] ahnitz commented on #4052
@spxiwh @josh-willis Ok, nvm, one more update. I got rid of numpy entirely. It does have to do with if MKL is imported first (or if any mkl function is run it would seem). For example, the following.

[code]

[2022-06-14 09:11] spxiwh commented on #4052
I can get the example where "removing import numpy causes fail/success" to work, by ensuring that we call+use FFTW3 before numpy is imported:

[code]

So I suspect some sort of precedence thing going on(?) The FFTW3 function *names* are defined within MKL, so it seems that we need to import/use the FFTW3 ones before touching MKL (difficult though as import numpy is likely to appear before any PYCB

[2022-06-14 09:20] ahnitz commented on #4052
@spxiwh While both libraries do export symbols of the same name, I am confused why that would be the problem as they are dynamically loaded. I don't think the namespace clash is actually an issue in that case. Certainly we couldn't link against both simultaneously, but we aren't doing that.

I suspect some kind of process / thread manipulation on MKL's part that is confusing FFTW if it is run afte

[2022-06-14 14:22] ahnitz commented on #4052
I believe this issues should be fixed by https://github.com/gwastro/pycbc/pull/4054

[2022-06-16 13:15] spxiwh commented on #4049
@MariaAssiduo I don't think I would expect such `.sh` files to be produced? I think the banksim just produces its result file (in ASCII format, if I remember right).

[2022-06-16 14:34] #3761 closed

[2022-06-16 14:35] ahnitz commented on #4052
@spxiwh Please close if you think this is now addressed by the latest patch.

[2022-06-16 14:41] #4052 closed

[2022-06-21 18:05] tdent opened #4065 "calc_kde: allow for arbitrary number of KDE parameters and log vs non-log choice"
Currently pycbc_template_kde_calc only calculates a KDE over the parameters ln(mchirp), eta and chieff, as these are hard-coded.
To enable investigation of the effect of different ways of making the KDE, we would like to have the following options / abilities:
- Any number of parameters can be used
- Parameters can be any of the named parameters in pycbc/tmpltbank/bank_conversions.py
- User can ch

[2022-06-24 11:56] MariaAssiduo opened #4067 "banksim error v2.0.4"
Hi, I'm trying to use banksim using the latest version of pycbc, running the source:

`source /cvmfs/oasis.opensciencegrid.org/ligo/sw/pycbc/x86_64_rhel_8/virtualenv/pycbc-v2.0.4/bin/activate`

But I still encounter the same error I tried to overcome in the past [link](https://github.com/gwastro/pycbc/issues/3814)

[code]
If I try to git clone the new version to make changes by myself, I get the f

[2022-06-24 14:24] titodalcanton commented on #4067
Hi @MariaAssiduo, I see a couple separate issues in what you posted.

You first tried to source `pycbc-v2.0.4`. However, the error you reported implies that you are still calling `/cvmfs/oasis.opensciencegrid.org/ligo/sw/conda/envs/igwn-py39-20220317/bin/pycbc_splitbank` (i.e. the PyCBC version that is in the `igwn-py39-20220317` env), which is clearly older than the fix for #3814. You are mixing

[2022-06-30 14:26] titodalcanton opened #4076 "Segfault when entering scheme context manager in recent versions"
@soumenroy pointed me to the fact that `pycbc_banksim` is segfaulting when getting to the `with ctx` line. Indeed, I can reproduce the segfault using PyCBC 2.0.4 and this minimal script:
[code]
However I cannot reproduce the crash with PyCBC 2.0.3 (using the same virtualenv). So I suspect this is somehow a consequence of #4054. Investigating.

[2022-06-30 14:31] titodalcanton commented on #4076
@josh-willis
[code]

[2022-06-30 15:35] josh-willis commented on #4076
@titodalcanton I don't know off hand, and am about to be on vacation for a couple of weeks, so I will not be able to move forward debugging and fixing this, though obviously it's urgent.  My immediate suggestion would be that based on the discussion in #4054 , we may want to go back to having `RTLD_GLOBAL` be the default mode for libraries, and then for things like FFTW explicitly set `RTLD_DEEPBI

[2022-07-01 15:08] titodalcanton commented on #4076
I am starting to suspect that this happens when I use a virtualenv derived from the Python in the igwn-py39 Conda env. I can reproduce this on Hawk with a virtualenv created from igwn-py39.

[2022-07-02 14:54] josh-willis commented on #4076
@titodalcanton So you may well be right about where this is occurring, though I'm still not sure why it happens there (in some virtualenvs).

Looking at your minimal reproducing case, it only relies on the `scheme` package, and clearly segfaults for any of the CPU-based schemes (note that `gpu` is not a valid scheme, so I think in that case you're actually just falling back to the default cpu sche

[2022-07-06 09:18] spxiwh commented on #4076
A much more shortened example to reproduce this (which removes PyCBC from the loop):

[code]

[2022-07-08 13:54] #4067 closed

[2022-07-11 13:44] titodalcanton commented on #4076
As far as I can tell, this has been fixed by #4079 for me, so I am closing for now.

[2022-07-11 13:44] #4076 closed

[2022-07-11 16:29] titodalcanton commented on #3932
This was noticed by two other people, so it is time to get this fixed. I am working on a PR.

[2022-07-11 18:38] maxtrevor opened #4081 "SNR optimization failing in PyCBC Live"
I am currently trying to run PyCBC Live on some frames on CIT that I have copied over from the MDC.
When I launch PyCBC Live using the script `/home/max.trevor/CBC/preO4/pycbc_idq/mdc_test/run_saved_frames.sh`  it starts successfully and runs until the first time it finds a coincident event. Then it hits the following error:

[code]

I have never seen this error before. I am running in my own pyth

[2022-07-11 18:57] titodalcanton commented on #4081
@GarethCabournDavies could you have a look? This feels related to #4075.

[2022-07-12 17:24] #3932 closed

[2022-07-12 17:54] ahnitz commented on #4081
@maxtrevor @titodalcanton

My first though when looking at where the error occurs is that "pycbc.waveform.get_waveform_filter_length_in_time(apr, **p)" must be returning None. This is possible if it thinks it has not method to calculate the length for the given approximant. Also, the other operand in the addition that fails must be a number due to not failing on a previous line where we add a fudg

[2022-07-13 12:27] titodalcanton commented on #4081
Well, running the test suite using @maxtrevor's Python env works, and it works even if I change the approximant to IMRPhenomD. I am going to look specifically into @maxtrevor's configuration next.

[2022-07-13 14:02] titodalcanton commented on #4081
[code]
Hmm, there is a suspicious `b'IMRPhenomD'` in there. I think `get_waveform_filter_length_in_time()` is being confused because the approximant is not a string.

[2022-07-13 14:19] titodalcanton commented on #4081
Yes, that is the issue. If I pass `'IMRPhenomD'` instead of `b'IMRPhenomD'` to `get_waveform_filter_length_in_time()`, the returned time is 3.377820789299677, which matches the `template_duration` field already present in the template parameters.

We do not normally hit this problem because the banks we use do not carry the approximant specification in them. I thought the bank reading code handled

[2022-07-15 14:48] ahnitz commented on #4081
@titodalcanton @GarethCabournDavies I think the change needed is here https://github.com/gwastro/pycbc/pull/4075/files#r922239941

[2022-08-03 10:52] spxiwh opened #4100 "Update CVMFS envs to python3.9"
At the moment it's not easy to get the CVMFS builds to run on LVK machines. This is because the python 3.9 (and 3.6) libraries are available but not 3.8 (although one can find them via conda+igwn-py38 and adding to LD_LIBRARY_PATH).

I would propose updating these envs to python3.9 unless there are objections?

[2022-08-09 09:42] #3974 closed

[2022-08-10 10:00] duncanmmacleod opened #4103 "Examples files missing from source distribution"
Running `pytest` against a version of PyCBC built from the source distribution (tarball) fails because (at least) `examples/distributions/example.ini` isn't in the distribution:

<details open>
<summary>Pytest traceback</summary>

[code]

</details>

<details>
<summary>Dist contents</summary>

[code]
</details>

<details>
<summary>To reproduce</summary>

[code]

</details>

<details open>
<summary

[2022-08-16 19:12] Cyberface opened #4111 "get_td_waveform_modes argument"
I was just looking at `get_td_waveform_modes` and noticed that it seems to be requiring Fourier domain arguments i.e. `parameters.fd_required`. see: [waveform_modes.py#L322](https://github.com/gwastro/pycbc/blob/master/pycbc/waveform/waveform_modes.py#L322)

Is that a typo? Shouldn't it be `parameters.td_required`?

[2022-08-18 15:24] tdent opened #4113 "Add option for no mass gap in online classification"

[2022-08-18 15:25] tdent commented on #4113
Option should result in the classification outputting BNS, NSBH, BBH probabilities only.

[2022-08-26 08:51] #4048 closed

[2022-08-26 09:20] spxiwh opened #4116 "PyCBC stat class shouldn't keep HDF files open"
The PyCBC stat class uses a lot of supplementary files for things like evaluating p(signal) and p(noise). These files are generally read once and then that data stored (good!). However, the HDF file objects are never closed and always attached to the class. It would be better to store the file *locations* and only open them when needed *and them close them immediately*. Without this the stat class

[2022-08-26 12:46] titodalcanton commented on #4116
I seem to remember that at some point the template bank file was also being kept open by PyCBC Live. Not sure if that is still true nowadays though.

[2022-08-26 12:52] titodalcanton commented on #4116
Yup, a quick check indicates that the bank, PTA files and even the SEOBNR ROM file are kept open all the time. They are all read-only at least, so the HDF_LOCKING issue should not be a problem I think.

[2022-08-26 13:05] spxiwh commented on #4116
For PyCBC Live this is not really a problem as it would either fail on start up, or be fine (and using read-only *should* also be safe). For the all-sky search, where many coinc jobs run it can be more of an issue.

[2022-08-26 13:06] spxiwh commented on #4116
... But in general, we should close files we are not using.

[2022-08-27 15:52] tdent commented on #4113
Considering the motivation for this, I suggest reworking the options so that no mass gap is the default behaviour and only one mass boundary has to be specified. I.e. the various with-mass-gap possibilities should require extra options.

[2022-09-07 09:04] titodalcanton opened #4122 "PyCBC Live exception in coinc code"
This happened yesterday to the analysis of MDC O3 replay data, using PyCBC 0.0a8429 / git hash 41beb31b31e8bd3c867b914af048c7e412e23615.
[code]

[2022-09-07 09:06] titodalcanton commented on #4122
The analysis was actually in a pretty bad state, as a few filtering processes were struggling to keep up with the data. So the error may be a bug triggered by that.

[2022-09-09 16:17] #4113 closed

[2022-09-12 11:11] titodalcanton opened #4127 "PyCBC Live IndexError exception in coinc code"
This happened earlier today to the MDC O3 replay analysis.
[code]
I was running PyCBC 0.0a8435, modified for a smaller rank-0 memory footprint as indicated by @spxiwh, specifically with this change:
[code]
@spxiwh is the error trivially related to my change, or something that needs more investigation?

[2022-09-12 13:31] spxiwh commented on #4127
@titodalcanton I tried to envisage how this might happen, and I think there is an edge-case bug here, that having this value smaller might have exposed. In particular we resize the array here:

https://github.com/gwastro/pycbc/blob/master/pycbc/events/coinc.py#L578

This says "if I am already using all entries in the array, make it bigger". It does this by doubling the size, but if the size is 0 t

[2022-09-13 21:27] titodalcanton commented on #4127
Just noting that this also happened with the main MDC analysis, which is running an unmodified master branch.

[2022-09-14 06:42] spxiwh commented on #4127
@titodalcanton Do you have the full error stack for the unmodified branch, I don't understand how this might happen in the same place there, but there are other places that might look similar where it is perhaps possible(?)

[2022-09-14 06:43] spxiwh commented on #4127
Also have you tried the suggested patch for the new code?

[2022-09-18 08:07] stuartthebruce commented on #1525
@ahnitz @spxiwh @titodalcanton did `PyCBC` adopt HDF5 checksums for it's data files? If so, how well (or not) is that working? Thanks.

[2022-09-18 16:33] spxiwh commented on #1525
We did not implement the "per dataset checking feature" within PyCBC.

.... However, Pegasus implemented checksum testing on all data files (similar to our own checks on frame files). After we added an option to stop it testing symlinked files, this has been working nicely. We often disable this for development runs, so must remember to re-enable it for production runs! This doesn't help if using

[2022-09-19 14:49] spxiwh commented on #4127
Closing for now. Reopen with another exception if it happens again.

[2022-09-19 14:49] #4127 closed

[2022-09-19 17:46] stuartthebruce commented on #1525
Are the Pegasus checksums maintained in a database or calculated on the fly before/after each file transfer? Note, in either case I think it would be worth while also adding internal checksums to the critical files as well. Thanks.

[2022-09-21 09:34] titodalcanton commented on #4116
Fixed by #4117.

[2022-09-21 09:34] #4116 closed

[2022-09-27 09:16] ahnitz commented on #4111
@cdcapano Poke

[2022-09-27 15:13] cdcapano commented on #4111
@Cyberface Yeah, you're right, that's a bug. Looks like get_fd_modes was copied and that wasn't adjusted.

[2022-09-27 16:43] Cyberface commented on #4111
sweet cheers!

[2022-09-27 16:43] #4111 closed

[2022-10-03 13:48] titodalcanton opened #4145 "Broken things in the faithsim code"
@MPillas and I are trying out the faithsim code in preparation for O4. Here is a list of broken things to have a better idea of what needs work to get the code running (in addition to #385).
* [ ] Error in the `.ini`. file described in the documentation, `psd` should be `psd-model`.

[2022-10-03 15:09] MPillas commented on #4145
When we try running the code with Python3:

`(template_bank_venv) (igwn-py38) [marion.pillas@ldas-pcdev3 ~/projects/template_bank/test_python38]$ pycbc_make_faithsim --conf configuration_pycbc_faithsim.ini
/home/marion.pillas/template_bank_venv/bin/pycbc_make_faithsim:89: DeprecationWarning: The 'warn' function is deprecated, use 'warning' instead
  logging.warn('Warning: accounting-group not spec

[2022-10-03 15:12] spxiwh commented on #4145
`set_dax_file` was removed from pipeline.py, it just needs removing.

.... Yeah, this code isn't aging well, needs moving over to a pegasus workflow, and needs a proper unit test. The `can't multiply sequence by non-int of type 'float'` looks like a "need to do integer division in python3" problem.

[2022-10-03 15:56] GarethCabournDavies opened #4146 "cuts module cannot handle upper and lower bounds to the same variable"
The cuts module cannot deal with the same parameter having more than one limit.

We should be able to specify, e.g. `template_duration:4:lower template_duration:152:upper`, however this is currently overwritten in the ingest_cuts_option_group assigning to a dictionary eyed on parameter only. This should be fixable by keying the dictionary on a tuple of the parameter and limit, rather than just par

[2022-10-10 11:09] MariaAssiduo opened #4155 "pycbc/banksim"
Hi. banksim jobs continue to fail with the following kind of error:

[code]

Having a look in the directory match, the file match3.dat is not missing. It is repeated for others inj num. There are no other info about the error message, what exactly does it means?

PATH DIR -> /home/maria.assiduo/test_gwastro6/banksim_xphm_100-200/

Thank you in advance.

[2022-10-10 16:09] tdent commented on #4122
Is this still an issue?

[2022-10-10 16:25] tdent opened #4156 "PyCBC live results should record when followup p-value was used and trials factors"
For interpreting/improving the multi-ifo behaviour it is useful to know - ie record - whether the with-followup IFAR was larger and in any case to record the trials factor and/or pre-trials IFAR.
Currently the p-value combination function doesn't leave any record of which IFAR was higher, it just takes the max and divides by 2.

[2022-10-11 09:36] spxiwh commented on #4155
Hi @MariaAssiduo I'm not really sure what's going on here. Something weird is happening with condor (maybe some configuration change?), and I think this is making things not work. If I look at a failing log file:

`vi log/pycbc_banksim_match_combine`

after a lot of warnings that I wouldn't expect to see, because we're not using Singularity/Apptainer, I see the error:

[code]

This would suggest t

[2022-10-13 15:00] titodalcanton commented on #4145
Partially fixed by #4154.

[2022-10-17 14:49] MPillas commented on #4145
Problem in `pycbc_faithsim_collect_results` (`part of pycbc_make_faithsim`)

`Traceback (most recent call last):
  File "scripts/pycbc_faithsim_collect_results", line 50, in <module>
    pdata[field] = bt.get_column(field)
AttributeError: 'SimInspiralTable' object has no attribute 'get_column'`

But in the documentation I can clearly see the attribute `get_column` in the `glue.ligolw.lsctables.Sim

[2022-10-17 15:03] titodalcanton commented on #4145
@MPillas `glue.ligolw.lsctables.SimInspiralTable` is part of the old `glue` module, which we no longer use. The thing to look at now is `ligo.lw.lsctables.SimInspiralTable` whose source code is [here](https://git.ligo.org/kipp.cannon/python-ligo-lw/-/blob/master/ligo/lw/lsctables.py#L1265), and indeed I think the `get_column()` method has been dropped. Something like should work though:
[code]

[2022-10-24 15:03] #3750 closed

[2022-10-27 15:44] khunsang opened #4165 "key error in the varying final frequency computation in `pycbc_aligned_stoch_bank`"
Should the keys for masses in the [dictionary](https://github.com/gwastro/pycbc/blob/master/bin/bank/pycbc_aligned_stoch_bank#L235-L236) be `mass1` and `mass2`?    In [line 239 of pycbc_aligned_stoch_ban](https://github.com/gwastro/pycbc/blob/master/bin/bank/pycbc_aligned_stoch_bank#L239), the final frequency computations is giving key error.  I think, there, those computations are expecting [dict

[2022-11-03 10:36] titodalcanton commented on #385
Fixed by #4163.

[2022-11-07 11:13] #385 closed

[2022-11-07 11:15] titodalcanton opened #4169 "Pegasus faithsim: use `workflow.injections` module"
Request from @spxiwh:

[2022-11-07 11:16] titodalcanton opened #4170 "Pegasus faithsim: run example as part of CI tests"

[2022-11-07 11:17] titodalcanton opened #4171 "Remove old `pycbc_make_faithsim` code and update docs for new Pegasus workflow"

[2022-11-08 11:38] spxiwh commented on #4165
@khunsang Apologies I missed this one. Can you give the full bank generation command so I can check?

[2022-11-08 15:21] khunsang commented on #4165
HI @spxiwh ,

No worries.  This full command is given below,

`/cvmfs/oasis.opensciencegrid.org/ligo/sw/pycbc/x86_64_rhel_7/virtualenv/pycbc-v1.16.6/bin/pycbc_aligned_stoch_bank -V --pn-order threePointFivePN \
    --f0 50 --f-low 20 --f-upper 1000\
    --bank-fupper-formula  SEOBNRv4Peak \
    --delta-f 0.01 \
    --min-match 0.97 \
    --min-mass1 0.5  --min-mass2 0.5 \
    --max-mass1 7.0 --max

[2022-11-08 15:39] spxiwh commented on #4165
@khunsang Okay, I notice that you are running from the old v1.16 release branch. We couldn't make changes to that branch, as it is now the frozen code we used for the O3 analyses, but I do want to make sure this runs on modern releases. SO:

[code]

Seems to work fine. Note that if there is no python3.8 library available I need to do:

[code]

To get the necessary python3.8 libraries. I think I re

[2022-11-08 21:39] khunsang commented on #4165
Thanks a lot Ian.

[2022-11-08 21:39] #4165 closed

[2022-11-14 12:44] titodalcanton commented on #3468
@pannarale do you consider this issue resolved now?

[2022-11-14 17:21] tdent commented on #4065
Has this issue been addressed? If so can we link the PR that dealt with it?

[2022-11-14 19:17] tdent commented on #4065
Closed by https://github.com/gwastro/pycbc/pull/4091 apart from parameters that require f_lower to be specified (chirp times etc.).

[2022-11-14 19:17] #4065 closed

[2022-11-18 16:24] GarethCabournDavies commented on #4146
Fixed

[2022-11-24 12:38] titodalcanton opened #4189 "KeyError in CandidateForGraceDB"
The MDC analysis died a couple times earlier today with this error:
[code]
It feels related to the various changes in #4159. @tdent could you take a look?

[2022-11-24 12:41] tdent commented on #4189
Was it in check_singles both times?

[2022-11-24 12:47] titodalcanton commented on #4189
Good point, no, the second one is this:
[code]

[2022-11-24 12:54] tdent commented on #4189
It could be removing the line `live_ifos = [i for i in fud if 'snr_series' in fud[i]]` which may have been catching a corner case of the followup SNR time series calculation .. ie the new code may be implicitly making an assumption about which ifos will get time series with trigger times

[2022-11-24 12:55] tdent commented on #4189
I.e. in the second case we would want V1 to have a ts with an end time identified, but for whatever reason it didn't get one ..

[2022-11-24 12:55] titodalcanton commented on #4189
I think the problem is actually here:
[code]
What the comment describes seems the right approach, but that is not what the code does!

[2022-11-24 12:58] titodalcanton commented on #4189
And I think a similar problem is in multiple places in the constructor of CandidateForGraceDB now. The code is assuming that every detector listed in `ifos` will have an entry in `coinc_results`, which is clearly not the case.

[2022-11-24 13:15] tdent commented on #4189
You mean in the inputs given to it on initialization or in the __init__ method itself?

[2022-11-27 18:34] Alexandra-Wernersson opened #4191 "CMake error when trying to install Multinest"
've been trying to install Multinest on my laptop (MacBook Air M1) following this guide:https://johannesbuchner.github.io/PyMultiNest/install.html#prerequisites-for-building-the-libraries

However, when running the cmake .. I'm left with the following error message:

`-- The CXX compiler identification is unknown
-- Detecting Fortran compiler ABI info
-- Detecting Fortran compiler ABI info - faile

[2022-11-28 22:58] tdent opened #4193 "Adjust the signal density from kde with extra term representing 'unexpected' events"
At present the KDE signal density calculation only considers the masses/spins of previous detections, however we want to allow for 'unexpected' events which lie outside the previously seen distribution.

The simplest way of doing this is adding another distribution, which should cover the whole search space, to the KDE, ie producing a mixture of the previous detection KDE and the added distributio

[2022-11-29 16:22] tdent commented on #4193
The idea is that we take a modified signal density which is a mixture of the KDE (with fraction _f_) and another component (with fraction 1-_f_).  This will be a properly normalised density if the KDE is normalised (which we assume to be true) and the other component is also.

The simplest choice for the extra component is a constant over the parameter space covered by the KDE.  For instance a con

[2022-11-29 16:34] tdent commented on #4193
For specifying how to add the constant extra component we need two extra command line options, one giving the fraction of the mixture that the component should be, the other giving the volume covered by the template bank in the coordinates used by the KDE.

[2022-11-30 11:32] tdent commented on #4189
Hopefully fixed now?

[2022-11-30 12:14] tdent opened #4196 "Return a mass gap probability independently of BNS, NSBH, BBH probabilities"
At the moment the mchirp_area calculation only returns mutually exclusive BNS/NSBH/BBH probabilities, but it may be desirable to also return a separate mass gap probability (for an area that partly overlaps the NSBH and BBH ones).

[2022-11-30 12:28] titodalcanton opened #4197 "Store candidate-related files into an independent directory"
Here is something I wanted to do for years but never got to, and maybe others have better ideas. I think it is important we do this before O4 starts.

Upon generating a candidate event, PyCBC Live stores multiple files related to it under its base output directory (given by `--output-path`). When operating for many months, potentially years, this fills the directory with thousands and thousands of